<section class="top-wrapper developers-top-wrapper">
  <h5 class="documentation-for-developers">Documentation For Developers</h5>

  <div class="container">
    <div class="language-shields row">
      <div class="shield c-sharp col-xs-24 col-sm-16 col-md-8 {{if active-language == 'dot-net-csharp'}}active{{/if}}">
        <a class="shield-link" href="/developers/dot-net-csharp/quickstart">
          <span class="icon">&nbsp;</span> <span class="title"> .NET/C# </span>
        </a>
      </div>
      <div class="shield cpp col-xs-24 col-sm-16 col-md-8 {{if active-language == 'c-cpp'}}active{{/if}}">
        <a class="shield-link" href="/developers/c-cpp/quickstart">
          <span class="icon">&nbsp;</span> <span class="title">C/C++</span>
        </a>
      </div>
      <div class="shield swift col-xs-24 col-sm-16 col-md-8 {{if active-language == 'objective-c-swift'}}active{{/if}}">
        <a class="shield-link" href="/developers/objective-c-swift/quickstart">
          <span class="icon">&nbsp;</span> <span class="title">Objective-C/Swift</span>
        </a>
      </div>
      <div class="shield php col-xs-24 col-sm-16 col-md-8 {{if active-language == 'php'}}active{{/if}}">
        <a class="shield-link" href="/developers/php/quickstart">
          <span class="icon">&nbsp;</span> <span class="title">PHP</span>
        </a>
      </div>
      <div class="shield node-js col-xs-24 col-sm-16 col-md-8 {{if active-language == 'node'}}active{{/if}}">
        <a class="shield-link" href="/developers/node/quickstart">
          <span class="icon">&nbsp;</span> <span class="title">Node.js</span>
        </a>
      </div>
      <div class="shield js col-xs-24 col-sm-16 col-md-8 {{if active-language == 'javascript'}}active{{/if}}">
        <a class="shield-link" href="/developers/javascript/quickstart">
          <span class="icon">&nbsp;</span> <span class="title">JavaScript</span>
        </a>
      </div>
    </div>
  </div>
</section>