<section class="docs-parts">
  <div class="container menu">
    <a class="item {{if active-doc-tab == 'quickstart'}}active{{/if}}" href="/developers/{{ active-language }}/quickstart">Quick Start</a>
    <a class="item {{if active-doc-tab == 'keys-sdk'}}active{{/if}}" href="/developers/{{ active-language }}/keys-sdk">Keys SDK</a>
    <a class="item {{if active-doc-tab == 'crypto-library'}}active{{/if}}" href="/developers/{{ active-language }}/crypto-library">Crypto Library</a>
    {{if active-language != 'node' && active-language != 'objective-c-swift' }}
    <a class="item {{if active-doc-tab == 'downloads'}}active{{/if}}" href="/developers/{{ active-language }}/downloads">Downloads</a>
    {{/if}}
  </div>
</section>