{% extends 'common/section.twig' %}

{% block content %}
    <div class="intro">
        <div class="wrapper">
            <div class="introContentBlock">
                <div class="blockMsg">
                    <h1 class="blockMsg-headline">{{ intro.title|shortcodes }}</h1>
                </div>
                {% if intro.navigation %}
                    <ul class="introNav">
                        {% for navigation in intro.navigation %}
                            <li class="{{ navigation.class }}">
                                {{ navigation.link|shortcodes }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
