@import '../assets/styles/fonts.css';

.back {
    margin: 20px 0;
    display: block;
}

.title {
    composes: muller-28;
    color: white;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.img {
    width: 100%;
    margin: 20px 0;
}

.navPostBg {
    height: 300px;
    background-image: url('assets/img/pics/post-header.jpg');
    background-position: center 10%;
}
