{% extends 'common/section.twig' %}

{% block content %}
    <div class="components">
        <div class="wrapper">
            <div class="componentsContentBlock layeredBlock layeredBlock--right">
                <div class="componentsOverview layeredBlockContent">
                    <div class="blockMsg">
                        <h2 class="blockMsg-headline">Add Security everywhere you want just In Minutes using Virgil
                            tools</h2>
                    </div>
                    <ul class="componentList">
                        <li class="componentItem">
                            <div class="componentItem-image">
                                <img width="74" height="70" src="assets/features-components-service.svg" alt="">
                            </div>
                            <div class="componentItem-info">
                                <h3 class="componentItem-headline">Virgil Keys Service</h3>
                                <p class="componentItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    seddo eiusmod tempor incididunt ut labore et dolore magna utenim ad minim veniam</p>
                            </div>
                        </li>
                        <li class="componentItem">
                            <div class="componentItem-image">
                                <img width="55" height="70" src="assets/features-components-api.svg" alt="">
                            </div>
                            <div class="componentItem-info">
                                <h3 class="componentItem-headline">Virgil Keys API</h3>
                                <p class="componentItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    seddo eiusmod tempor incididunt ut labore et dolore magna utenim ad minim veniam</p>
                            </div>
                        </li>
                        <li class="componentItem">
                            <div class="componentItem-image">
                                <img width="66" height="79" src="assets/features-components-library.svg" alt="">
                            </div>
                            <div class="componentItem-info">
                                <h3 class="componentItem-headline">Virgil Crypto Libary</h3>
                                <p class="componentItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                    seddo eiusmod tempor incididunt ut labore et dolore magna utenim ad minim veniam</p>
                            </div>
                        </li>
                    </ul>
                    <div class="componentLinks">
                        <a href="" class="button-raisedWhiteBorder-black">
                            <i class="icon icon-book-white"></i>
                            <span>Documentation</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
