.customize-partial-edit-shortcut-header_section {
    top: 20px;
    left: 35px;
}

.customize-partial-edit-shortcut-hp_intro_section {
}

.customize-partial-edit-shortcut-footer_section {
}

.customize-partial-edit-shortcut-hp_services_section {
    position: relative;
    top: 220px;
    left: 80px;
}

.customize-partial-edit-shortcut-hp_clients_section {
    position: relative;
    left: 70px;
    top: 60px;
}

.customize-partial-edit-shortcut-hp_usage_section {
    position: relative;
    left: 80px;
    top: 0;
}

.customize-partial-edit-shortcut-hp_benefits_section {
    position: relative;
    left: 80px;
    top: 20px;
}

.customize-partial-edit-shortcut-hp_use_cases_section {
    position: relative;
    margin-left: -600px;
}

.customize-partial-edit-shortcut-hp_conclusion_section {
}
