.customize-partial-edit-shortcut-hp_intro_section {
    top: 300px;
    left: 80px;
}

.customize-partial-edit-shortcut-footer_section {
    left: 80px;
}

.customize-partial-edit-shortcut-hp_services_section {
    left: 120px;
}

.customize-partial-edit-shortcut-hp_clients_section {
    left: 120px;
}
