<div class="formFields contactUsForm-fields">
    <div class="formField formFieldText contactUsForm-fieldEmail">
        <label for="contactUsFormEmail" class="formField-label formFieldText-label">Email address</label>[email* contactUsFormEmail size:20 class:formField-input class:formFieldText-input placeholder 'Encrypteverything@mail.com']
    </div>
    <div class="formField formFieldText contactUsForm-fieldName">
        <label for="contactUsFormName" class="formField-label formFieldText-label">Name</label>[text* contactUsFormName size:20 class:formField-input class:formFieldText-input placeholder 'Julius Ceasar']
    </div>
    <div class="formField formFieldText contactUsForm-fieldTopic">
        <label for="contactUsFormTopic" class="formField-label formFieldText-label">Topic</label>[text contactUsFormTopic size:20 class:formField-input class:formFieldText-input placeholder 'Encrypteverything@mail.com']
    </div>
    <div class="formField formFieldText contactUsForm-fieldMsg">
        <label for="contactUsFormMsg" class="formField-label formFieldText-label">Message</label>[textarea contactUsFormMsg class:formField-input class:formFieldText-input placeholder 'Hi there!']
    </div>
</div>
<div class="formActions contactUsForm-actions">
    [submit class:button-raisedRed "Send"]
</div>
