@mixin block-bg($color, $max-height: calc(100% - 18px), $max-width: 2560px) {
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    width: 100%;
    height: calc(100% - 18px);
    max-width: $max-width;
    max-height: $max-height;
    background-color: $color;
  }
}

@mixin block-caption($font-size-xs: 6.66rem, $font-size-sm: 6.66rem, $font-size-md: 6.66rem) {
  @include font-muller();
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1;
  color: $vs-color-lightGrey7;

  @media (min-width: $vs-breakpoint-sm) {
    font-size: $font-size-sm;
  }

  @media (min-width: $vs-breakpoint-md) {
    font-size: $font-size-md;
  }
}

@mixin blockMsg-headline() {
  @include font-muller();
  font-size: 1.88rem;

  strong {
    font-weight: normal;
    color: $vs-color-darkRed1;
  }
}

@mixin blockMsg-text($top: 15px) {
  margin-top: $top;
  line-height: 1.65;
}

@mixin blockMsg-links($top: 55px) {
  margin-top: $top;
}