// Private
@mixin _button-base($lineHeight: 44px) {
  @include font-muller();
  display: inline-block;
  height: 42px;
  border: 0;
  border-radius: 3px;
  line-height: $lineHeight;
  font-size: 0.77rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s;

  .icon {
    margin-top: -2px;
  }

  span + .icon {
    margin-left: 2px;
    margin-right: 2px;
  }
}

@mixin _button-baseRaised($lineHeight: 44px) {
  @include _button-base($lineHeight);
  padding: 0 30px;
}

@mixin _button-baseFlat($margin: 30px) {
  @include _button-base();
  margin: 0 $margin;
}

@mixin _button-baseRaised-red() {
  @include _button-baseRaised();
  background: $vs-color-darkRed1;
  color: $vs-color-white;
  box-shadow: 0 15px 20px -15px rgba($vs-color-darkRed2, 0.5);
}

@mixin _button-baseRaised-white() {
  @include _button-baseRaised();
  background: $vs-color-white;
  color: $vs-color-black;
  box-shadow: 0 15px 20px -15px rgba($vs-color-white, 0.5);

  i {
    font-size: 1.38rem;
    vertical-align: middle;
  }
}

// Public
@mixin button-raisedRed {
  @include _button-baseRaised-red();

  &:hover {
    background: $vs-color-red1;
    box-shadow: 0 18px 20px -15px rgba($vs-color-darkRed2, 0.5);
  }
}

@mixin button-raisedRed-static {
  @include _button-baseRaised-red();
}

@mixin button-raisedWhiteBorder($bg: $vs-color-darkRed1, $shadow: $vs-color-darkRed2, $color: $vs-color-white) {
  @include _button-baseRaised(42px);
  border: 2px solid $vs-color-white;
  color: $vs-color-white;

  &:hover {
    background: $bg;
    border-color: transparent;
    box-shadow: 0 18px 20px -15px rgba($shadow, 0.5);
    color: $color;

    .icon-book-white {
      background-image: url("../../assets/images/ui/icons/icon-book-black.svg");
    }
  }
}

@mixin button-raisedWhiteBorder-static {
  @include _button-baseRaised(42px);
  border: 2px solid $vs-color-white;
  color: $vs-color-white;
}

@mixin button-raisedRedBorder {
  @include _button-baseRaised(42px);
  border: 2px solid $vs-color-darkRed1;
  color: $vs-color-darkRed1;

  &:hover {
    background: $vs-color-darkRed1;
    border-color: transparent;
    color: $vs-color-white;
    box-shadow: 0 18px 20px -15px rgba($vs-color-darkRed2, 0.5);
  }
}

@mixin button-raisedRedBorder-static {
  @include _button-baseRaised(42px);
  border: 2px solid $vs-color-darkRed1;
  color: $vs-color-darkRed1;
}

@mixin button-raisedWhite {
  @include _button-baseRaised-white();

  &:hover {
    box-shadow: 0 18px 20px -15px rgba($vs-color-white, 0.5);
  }
}

@mixin button-raisedWhite-static {
  @include _button-baseRaised-white();
}

@mixin button-flat {
  @include _button-baseFlat();

  &:hover {
    color: $vs-color-darkRed1;
  }
}

@mixin button-flatWhite {
  @include _button-baseFlat();
  color: $vs-color-white;
}

@mixin button-flatRed {
  @include _button-baseFlat(0);
  color: $vs-color-darkRed1;
}