@mixin font-muller {
  font-family: "Muller", sans-serif;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin contentBlock-caption() {
  @include font-muller();
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1;
  color: $vs-color-lightGrey7;
}

@mixin blockMsg-headline() {
  @include font-muller();
  font-size: 34px;

  strong {
    font-weight: normal;
    color: $vs-color-darkRed1;
  }
}

@mixin blockMsg-text($top: 15px) {
  margin-top: $top;
  line-height: 1.65;
}