<div class="contactUs">
    <div class="wrapper">
        <div class="contactUsContentBlock">
            <div class="blockMsg">
                <h1 class="blockMsg-headline">Contacts</h1>
                <p class="blockMsg-text">We will be happy to help you with any questions. Call us, send an e-mail or use
                    the feedback form.</p>
            </div>
            <div class="contactUsBlock">
                <div class="form contactUsForm">
                    <h3 class="contactUsForm-headline">
                        <span>Send us a message</span>
                        <i class="icon icon-mail-red" aria-hidden="true"></i>
                    </h3>
                    <div class="formFields contactUsForm-fields">
                        <div class="formField formFieldText contactUsForm-fieldEmail">
                            <label for="contactUsFormEmail" class="formField-label formFieldText-label">Email
                                address</label>
                            <input id="contactUsFormEmail" type="text" class="formField-input formFieldText-input"
                                   placeholder="Encrypteverything@mail.com">
                        </div>
                        <div class="formField formFieldText contactUsForm-fieldName">
                            <label for="contactUsFormName" class="formField-label formFieldText-label">Name</label>
                            <input id="contactUsFormName" type="text" class="formField-input formFieldText-input"
                                   placeholder="Julius Ceasar">
                        </div>
                        <div class="formField formFieldText contactUsForm-fieldTopic">
                            <label for="contactUsFormTopic" class="formField-label formFieldText-label">Topic</label>
                            <input id="contactUsFormTopic" type="text" class="formField-input formFieldText-input"
                                   placeholder="Encrypteverything@mail.com">
                        </div>
                        <div class="formField formFieldText contactUsForm-fieldMsg">
                            <label for="contactUsFormMsg" class="formField-label formFieldText-label">Message</label>
                            <textarea id="contactUsFormMsg" class="formField-input formFieldText-input"
                                      placeholder="Hi there!"></textarea>
                        </div>
                    </div>
                    <div class="formActions contactUsForm-actions">
                        <button class="button-raisedRed">Send</button>
                    </div>
                </div>
                <div class="contactUsInfo">
                    <h3 class="contactUsInfo-headline">Contact information</h3>
                    <div class="contactUsInfo-fields">
                        <div class="contactUsInfo-field contactUsInfo-fieldAddress">
                            <div class="contactUsInfo-fieldImage">
                                <i class="icon icon-geo-white" aria-hidden="true"></i>
                            </div>
                            <div class="contactUsInfo-fieldText">
                                <p>Virgil Security, Inc.</p>
                                <p>9296 Sumner Lake BLVD<br>Manassas, Virginia 20110</p>
                            </div>
                        </div>
                        <div class="contactUsInfo-field contactUsInfo-fieldEmail">
                            <div class="contactUsInfo-fieldImage">
                                <i class="icon icon-help-white" aria-hidden="true"></i>
                            </div>
                            <div class="contactUsInfo-fieldText">
                                <a href="mailto:">support@virgilsecurity.com</a>
                            </div>
                        </div>
                        <div class="contactUsInfo-field contactUsInfo-fieldPhone">
                            <div class="contactUsInfo-fieldImage">
                                <i class="icon icon-phone-white" aria-hidden="true"></i>
                            </div>
                            <div class="contactUsInfo-fieldText">
                                <a href="tel:">(800) 900-200-300</a>
                            </div>
                        </div>
                    </div>
                    <ul class="contactUsInfo-socials">
                        <li><a href=""><i class="icon icon-facebook-white"></i></a></li>
                        <li><a href=""><i class="icon icon-github-white"></i></a></li>
                        <li><a href=""><i class="icon icon-twitter-white"></i></a></li>
                        <li><a href=""><i class="icon icon-linkedin-white"></i></a></li>
                        <li><a href=""><i class="icon icon-medium-white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
