{% extends 'common/section.twig' %}

{% block content %}
    <div class="map">
        <div class="wrapper">
            <div class="mapContentBlock">
                {% if map.address %}
                    <div class="map-address">
                        {{ map.address|shortcodes }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
