<div class="partnership">
    <div class="wrapper">
        <div class="partnershipContentBlock">
            <div class="blockMsg">
                <h2 class="blockMsg-headline">Partnership</h2>
                <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <ul class="partnershipContacts">
                <li class="partnershipContact">
                    <div class="partnershipContact-name">Michael W. Wellman</div>
                    <div class="partnershipContact-position">CEO &amp; Founder</div>
                    <ul class="partnershipContact-contacts">
                        <li><a href=""><i class="icon icon-linkedin-red"></i></a></li>
                        <li><a href=""><i class="icon icon-twitter-red"></i></a></li>
                        <li class="partnershipContact-email"><a href="mailto:">m.wellman@virgilsecurity.com</a></li>
                    </ul>
                </li>
                <li class="partnershipContact">
                    <div class="partnershipContact-name">Dmitry Dain</div>
                    <div class="partnershipContact-position">CTO &amp; co-Founder</div>
                    <ul class="partnershipContact-contacts">
                        <li><a href=""><i class="icon icon-linkedin-red"></i></a></li>
                        <li><a href=""><i class="icon icon-twitter-red"></i></a></li>
                        <li class="partnershipContact-email"><a href="mailto:">d.dain@virgilsecurity.com</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
