{% extends 'common/section.twig' %}

{% block content %}
    <div class="intro">
        {% block intro_section_content %}
            <div class="wrapper">
                <div class="introContentBlock">
                    <div class="blockMsg">
                        <h1 class="blockMsg-headline">{{ intro.headline.text }}</h1>
                        <div class="blockMsg-links">
                            {% for link in intro.links %}
                                {% include 'common/link_button/' ~ link.link_button_skin ~ '.twig' with {'item': link} %}
                            {% endfor %}
                        </div>
                    </div>
                    <ul class="introLangList">
                        {% for lang in intro.langs %}
                            <li>
                                <a href="{{ lang.lang_url }}"><img src="{{ lang.lang_image.src }}"
                                                                   alt="{{ lang.lang_image.alt }}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
