<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    {{ if tags }}
    <meta name="keywords" content="{{ tags }}{{ name }}{{if !last}}, {{ endif }}{{ /tags }}">
    {{ else }}
    <meta name="keywords" content="{{ _site_meta_tags }}">
    {{ endif }}
    <!-- do nothing and do not inspect/highlight phone numbers -->
    <meta name="format-detection" content="telephone=no">

    <title>
      {{ _site_name }}
      {{ if segment_1 }}
        {{ title }}
      {{ endif }}
    </title>

    {{ theme:css src="virgil" tag="true" }}

    <link rel="shortcut icon" href="{{ theme:img src='favicon.ico' }}">
  </head>
  <body {{ if current_url !='/' }}class="internal" {{ endif }}>
    <header>
      <section class="navbar-wrapper">
        <div class="container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#virgil-navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-logo-bg" href="{{_site_root}}" title="{{_site_name}}" alt="{{_site_name}}">
                  <div class="navbar-logo"></div>
                </a>
              </div>

              <div class="collapse navbar-collapse" id="virgil-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  {{ nav from="/" }}
                    {{ if !hidden}}
                      <li>
                        <a href="{{ url }}" {{ if is_current || is_parent }} class="active" {{ endif }}>
                          {{ title }}
                        </a>
                      </li>
                    {{endif}}
                  {{ /nav }}
                  <li>
                    <a href="{{ _developer_base_url }}/account/signin" class="btn sign-in">Sign In</a>
                  </li>
                  <li>
                    <a class="github-button" href="https://github.com/VirgilSecurity/virgil" data-style="mega" data-count-href="/VirgilSecurity/virgil/stargazers" data-count-api="/repos/VirgilSecurity/virgil#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star VirgilSecurity/virgil on GitHub">Star</a>
            	  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </section>
    </header>

    {{ layout_content }}

    <footer>
      <div class="container">
        <div class="row menu">
          <div class="col-xs-44 col-xs-offset-2 col-lg-12 col-lg-offset-1 visible-lg-block menu-group copy">
            <div class="logo"></div>
            <div class="desc">
              Virgil Security provides easy-to-deploy and easy-to-use cryptographic software and services enabling a new generation of enhanced privacy and security.
            </div>
            <div class="inc">
              &copy; {{ current_date format="Y"}} Virgil Security, Incorporated.
            </div>
          </div>
          <div class="col-xs-44 col-xs-offset-2 col-lg-6 col-lg-offset-0 menu-group navigation">
            <h2 class="sub-menu-title">
              Navigation
            </h2>
            <ul class="sub-menu">
              {{ nav from="/" }}
                {{ if !hidden}}
                  <li class="item">
                    <a href="{{ if external_link }} {{ external_link }} {{ else }} {{ url }} {{ endif }}">
                      {{ title }}
                    </a>
                  </li>
                {{ endif}}
              {{ /nav }}
            </ul>
          </div>
          <div class="col-xs-44 col-xs-offset-2 col-lg-6 col-lg-offset-2 menu-group applications">
            <h2 class="sub-menu-title">
              Demos
            </h2>
            <ul class="sub-menu">
              <li class="item">
                <a href="/demos">Virgil Pass</a>
              </li>
              <li class="item">
                <a href="/demos">Virgil Sync</a>
              </li>
              <li class="item">
                <a href="/demos">Virgil Mail</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-44 col-xs-offset-2 col-lg-6 col-lg-offset-1 menu-group developers">
            <h2 class="sub-menu-title">
              Developers
            </h2>
            <ul class="sub-menu">
              <li class="item">
                <a href="/api-docs/dot-net-csharp/quickstart">.NET/C#</a>
              </li>
              <li class="item">
                <a href="/api-docs/c-cpp/quickstart">C/C++</a>
              </li>
              <li class="item">
                <a href="/api-docs/php/quickstart">PHP</a>
              </li>
              <li class="item">
                <a href="/api-docs/nodejs/quickstart">Node.js</a>
              </li>
              <li class="item">
                <a href="/api-docs/python/quickstart">Python</a>
              </li>
              <li class="item">
                <a href="/api-docs/ruby-on-rails/quickstart">Ruby on Rails</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-44 col-xs-offset-2 col-lg-11 col-lg-offset-2 menu-group contacts">
            <div class="contact-us">
              <h2 class="sub-menu-title">
                Contact Us
              </h2>
              <ul class="sub-menu">
                <li class="item">
                  <a href="mailto:support@virgilsecurity.com">support@virgilsecurity.com</a>
                </li>
              </ul>
            </div>
            <div class="follow-us">
              <h2 class="sub-menu-title">
                Follow Us
              </h2>
              <ul class="sub-menu social">
                <li class="item facebook">
                  <a href="https://www.facebook.com/VirgilSec">&nbsp;</a>
                </li>
                <li class="item twitter">
                  <a href="https://twitter.com/virgilsecurity">&nbsp;</a>
                </li>
                <li class="item linked-in">
                  <a href="https://www.linkedin.com/company/virgil-security-inc-">&nbsp;</a>
                </li>
              </ul>
              <!-- Place this tag where you want the button to render. -->
              <a class="github-button" href="https://github.com/VirgilSecurity/virgil" data-style="mega" data-count-href="/VirgilSecurity/virgil/stargazers" data-count-api="/repos/VirgilSecurity/virgil#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star VirgilSecurity/virgil on GitHub">Star</a>
            </div>
          </div>
          <div class="col-xs-44 col-xs-offset-2 hidden-lg menu-group copy">
            <div class="logo"></div>
            <div class="desc">
              Virgil Security provides easy-to-deploy and easy-to-use cryptographic software and services enabling
              a new generation of enhanced privacy and security.
            </div>
            <div class="inc">
              &copy; {{ current_date format="Y"}} Virgil Security, Incorporated.
            </div>
          </div>
        </div>
      </div>
    </footer>

    {{ theme:js tag="true" }}
    
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
