.nav-container {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url('../assets/img/pics/home-intro-bg.jpg');
}

.nav-container a {
    color: white;
    padding: 1rem;
    display: inline-block;
}

.nav {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
