.footer {
  margin-top: -155px;
  padding-top: 155px;
  background: url("../assets/images/bg/shared/footer-bg.png") center bottom no-repeat;
  font-size: 14px;
  color: $vs-color-lightGrey2;

  &-top {
    padding: 70px 0 40px;
    background: $vs-color-darkBlue2;

    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &-bottom {
    padding: 30px 0;
    background: $vs-color-darkBlue1;

    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  a {
    color: $vs-color-white;
  }
}

.footerContacts {
  flex-basis: 215px;

  &-logo {
    height: 40px;
    width: 110px;

    img {
      display: block;
    }
  }

  &-hashtag {
    margin-top: 25px;
    font-family: "Muller", sans-serif;
    color: $vs-color-white;
  }

  &-socials {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    a {
      display: block;
    }

    .fa {
      font-size: 25px;
    }

    .fa-facebook-official:hover {
      color: $vs-socials-facebook;
    }

    .fa-github:hover {
      color: $vs-socials-github;
    }

    .fa-twitter:hover {
      color: $vs-socials-twitter;
    }

    .fa-linkedin-square:hover {
      color: $vs-socials-in;
    }

    .fa-medium:hover {
      color: $vs-socials-medium;
    }
  }
}

.footerNav {
  @include font-muller;
  display: flex;
  justify-content: space-between;
  flex-basis: 790px;

  .footerNavBlock {
    flex-basis: 25%;

    &-caption {
      font-size: 10px;
      font-weight: bold;
    }

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      margin-top: 22px;
    }

    &-sources {
      flex-basis: 45%;

      ul {
        flex-flow: row wrap;
      }

      li {
        flex-basis: 50%;
      }
    }
  }
}
