.about-viril-title {
	margin-top: 60px;
	margin-bottom: 50px;
}

.about-viril-sub-title {
	font-family: @v_font_brend2;
	font-size: 28px;
	color: @v_color_brend3;	
}

.about-team-list {
	.row {
		margin-top: 50px;
	}
	:first-child {
		margin-top: 0px;
	}
}

.about-viril-item {
	padding-top: 50px;
	text-align: center;
	svg {
		width: 100px;
		fill: @v_color_brend1;	
	}
	p {
		margin-top: 30px;
		text-align: left;
	}
}

.about-media-item {
	margin-top: 50px;
	.media-object {
		height: 140px;
		width: 140px;
	} 
}

.about-hr {
	margin-top: 50px;
	margin-bottom: 10px;
}

.about-press {
	h1{
		margin-bottom: 20px;
	}
	.about-press-item {
		margin-top: 30px;
		h5 {
			font-size: 20px;
		}		
		a {
			font-family: @v_font_brend2_bold;
			font-size: 18px;
			color: @v_color_brend5;
			height: 75px;
			overflow: hidden;
			&:hover {
				color: @v_color_brend5;
			}
		}
	}
}