h1.apps-title {
	margin-top: 60px;
	margin-bottom: 50px;
}

.apps-item {
	padding: 20px;	
	.caption {
		text-align: center;
		hr {
			margin-top: 10px;
			margin-bottom: 20px;
			border-width: 1px;
			border-color: #ddd;
		}
	}
	img.apps-product-image {
		margin-top: 10px;
		height: 125px;
	}
	p {
		text-align: left;
		min-height: 150px;
		margin-bottom: 0;
	}

}

.apps-hr {
	border-color: @v_color_brend1;
	border-width: 2px;
	margin-bottom: 30px;
}

.apps-footer {
	p {
		font-size: 18px;
	}
}

.apps-donwload-btn { 
	margin-top: 20px;
	width: 180px;
}

.apps-create-button {
	margin-top: 30px;
	margin-bottom: 20px;
}

.apps-empty-container {
	margin-top: 120px;
	img {
		width: 160px;
	}
}