$color-dark-text = #8382a3

.page.signin
.page.signup
.page.reset
  font-size 16px
  color $color-dark-text

  a
    color #83eaff

  h2
    font-family "PT Sans"
    font-size 32px
    font-weight 700

  .auth-alert
    color #5a3b5d
    background #a36da8
    line-height 40px
    height 40px
    text-align center

  .form-footer
    padding 20px 0

  .form-submit
    padding 10px 50px

  .check-email
    color $color-dark-text
    text-align center
    margin-top 80px
    font-size 20px
    margin-bottom 80px