@container_width : 1020px;

html {
  overflow-y: scroll;
}

body {
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    width: @container_width;
  }
}

p {
  font-family: "MyriadPro-Regular";
  color: #525d62;
  font-size: 16px;  
}

// NAVIFATION

.affix {
  top: 80px;
  width: 180px;
}

@media (min-width: 1200px) {
  .affix {
    width: 180px;
  }         
}

.affix-bottom {
  position: absolute;
  width: 180px;
}

@media (min-width: 1200px) {
  .affix-bottom {
    width: 180px;
  }
}