$color-dark-text = #8382a3

.page.contact
  background-image url(../img/dotted-bg.png)
  background-repeat repeat

  .contact-contacts
    margin-top 62px

    .contact-contacts-item
      color $color-dark-text
      text-align center

      a
        color white
        text-decoration none

      p
        margin-top 22px

    .contact-contacts-item.social
      .facebook
        margin-left 26px

  .contact-form
    margin-top 52px

    .textarea
      margin-top 0

      @media (max-width: $screen-xs-max)
        margin-top 26px

      textarea
        height 185px

        @media (max-width: $screen-xs-max)
          height 100%

    .contact-form-footer
      text-align center

      .contact-form-submit
        margin-top 26px
        padding 10px 50px
