/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 340px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 340px;
  background-color: #ffffff;
  color: #525d62;
  padding-top: 20px;
  border-top: #f3f3f3 solid 2px;
  a {
    color: #525d62;
    font-size: 16px;
  }
}

.footer-title {
  height: 55px;
  font-family: "ProximaNova-Semibold";
  font-size: 16px;
}

.footer-body {
  font-family: "MyriadPro-Regular";
  font-size: 16px;
  height: 200px;
}

.footer-logo {
  height: 26pt;
}

.footer-brend {
  border-top: #f3f3f3 solid 1px;
  text-align: center;
  font-family: "MyriadPro-Semibold";
  font-size: 12pt;
  padding-top: 14pt;
}