.footer
	height 130px
	padding-top 80px
	padding-bottom 50px
	margin 0 auto
	width 1024px

	.footer-copy
		color #6f6d8d
		float left

	.footer-links
		margin-left 32px
		float left

		a
			color #d4d4d6
			text-decoration none
			font-size 14px
			margin-left 26px

		a:first-child
			margin-left 0

	.footer-social
		float right

		a
			text-decoration none
			margin-left 16px

			img
				height 18px

		a:first-child
			margin-left 0
