// buttons

.btn-virgil
	display inline-block
	cursor pointer
	outline none
	border none
	color white
	background #322f60
	border 3px solid #00f3e8
	width auto
	padding 18px 46px
	font-size 16px
	border-radius 80px
	text-decoration none

button.btn-virgil
	padding 14px 46px

.btn-virgil.btn-transparent
	border 3px solid #00f3e8
	background transparent

.btn-virgil.btn-green
	background #2eeab7
	border-color #2eeab7 
	color black

.btn-virgil.btn-red
	background #ff8a8a
	border-color #ff8a8a 
	color black

.btn-edit
.btn-remove
	display inline-block
	width 20px
	height 20px
	background-repeat no-repeat
	cursor pointer

.btn-edit
	background-image url(/img/edit.png)

.btn-remove
	background-image url(/img/trash.png)

// forms

.form-item
	margin-top 26px

.form-item:first-child
	margin-top 0

.form-item.error
	.form-input
		border-color #b762be

	.error-label
		color #b762be
		float right
		margin-top -30px
		width 200px
		margin-right -220px

.form-input
	placeholder-color($color-dark-text)
	background rgba(255,255,255,0.1)
	outline none
	border 2px solid $color-dark-text
	height 44px
	padding 16px
	color $color-dark-text

.form-input.expand
	width 100%

