.header
  $color-header-text = #c3cbda

  .navbar-header
    padding 0 20px

    .navbar-brand
      margin-top -10px

    .navbar-toggle
      border-color $color-header-text
      
      .icon-bar
        background-color $color-header-text

  .navbar-nav
    margin 0

    > li a,
    > li a:hover
      background transparent !important
      color $color-header-text
      font-size 14px

      &.social
        @media (max-width: $screen-xs-max)
          display inline-block
          width 47px
          height 47px
          padding 13px 0 0 13px

          &.facebook
            padding-left 19px

        img
          height 18px

    > li a:hover
      background rgba(195, 203, 218, 0.1) !important

    @media (min-width: $screen-xs-max)
      > li a,
      > li a:hover
        background transparent !important
        color $color-header-text
        font-size 12px

    &.navbar-right
      .social-xs
        $xs-menu-border-color = rgba(255, 255, 255, 0.15)

        border-top 1px solid $xs-menu-border-color
        border-bottom 1px solid $xs-menu-border-color