.header
	padding 20px 0
	height 100px

	.header-block
		float left
		height 52px
		line-height 52px

	.header-nav
		.header-nav-link
			font-size 12px
			text-decoration none
			margin-left 20px
			color $color-dark-text

		.header-nav-link:first-child
			margin-left 0

		.social
			float right
			display block
			margin-top 6px

			img
				height 18px

		.facebook
			margin-left 16px

	.header-logo
		float left

	.header-nav-left
		float left
		margin-left 32px

	.header-nav-right
		float right

