.home-title {
	color: white;
	font-family: @v_font_brend2_bold;
	margin-top: 100px;
	font-size: 42px;
}

.home-sub-title {
	color: white;
	font-family: @v_font_brend2_bold;
	font-size: 24px;
}

.home-get-started-btn {
	font-family: @v_font_brend1;
	padding: 15px 50px;
	margin-top: 20px;
	margin-bottom: 100px;
}

.home-title1 {
	color: @v_color_brend1;
	margin-top: 45px;
	margin-bottom: 0;
}

.home-middle-section-item {
	margin-top: 40px;
	.media-object {
		width: 90px;
		margin-right: 20px;
	}
}

.home-donwloads-btn {
	font-family: @v_font_brend1;
	padding: 15px 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.home-why-section {
	background-color: @v_color_brend1;	
	padding-bottom: 50px;
	margin-bottom: -50px;
	h2 {
		color: white;
		padding-bottom: 20px;
	}

	.home-middle-section-item {
		margin-top: 40px;
		.media-object {
			fill:white; // SVG FIX
			width: 90px;
			margin-right: 20px;
		}
		.media-body {
			color: white;
		}
	}
}

.home-bg {
    background-image: url('/img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}