@require "./jquery.bxslider.css"

$color-header-text = #c3cbda

.home-header-block
  position relative
  background-image url(../img/home/home-bg.png)
  min-height 490px

.home-bottom-block
  background-image url(../img/dotted-bg.png)
  background-repeat repeat

.bx-wrapper
  margin 0 auto

  .bx-controls-direction a.bx-prev
  .bx-controls-direction a.bx-next
    background-size 100%
    background-repeat no-repeat

    @media (max-width: $screen-xs-max)
      width 36px
      height 36px

  .bx-controls
    .bx-pager
      padding 0
      bottom -35px
      @extend .hidden-sm;
      @extend .hidden-xs;

  .home-slider
    color white
    display block
    text-align center

    .home-slider-or-buttons
      .or
        margin 0 15px
        color $color-header-text

    .home-slider-title
      margin-top 0
      font-size 40px

      @media (max-width: $screen-sm-max)
        font-size 36px

      @media (max-width: $screen-xs-max)
        font-size 30px

    .home-slider-description
      font-size 26px
      line-height 32px
      color $color-header-text

      @media (max-width: $screen-sm-max)
        font-size 18px
        line-height 24px

      @media (max-width: $screen-xs-max)
        width 80%
        margin 0 auto
        font-size 16px
        line-height 20px

    .home-slider-slide
      min-height 370px

      &.internet-of-things
      &.secure-the-future
      &.ppu
      &.secure-cloud
        margin-top 60px

      &.be-secure
      &.internet-of-things
      &.secure-the-future
      &.ppu
      &.secure-cloud
        @media (max-width: $screen-xs-max)
          margin-top 20px

      &.without-password
        margin-top 30px

        .home-slider-title
          font-size 50px

          @media (max-width: $screen-sm-max)
            font-size 36px

          @media (max-width: $screen-xs-max)
            font-size 24px

        .engines
          margin-top 38px

          @media (max-width: $screen-sm-max)
            font-size 36px

          @media (max-width: $screen-xs-max)
            margin-top 10px

          a img
            height 58px
            width 58px
            margin-left 16px

            @media (max-width: $screen-xs-max)
              height 38px
              width 38px
              margin-left 8px

          a:first img
            margin-left 0

      .home-slider-platforms
        margin 0 auto
        margin-top 22px
        color $color-header-text

        .home-slider-platforms-col
          img
            height 35px
            width 35px
            margin-top 6px
            margin-left 14px

            @media (max-width: $screen-xs-max)
              height 24px
              width 24px
              margin-left 4px

        .home-slider-platforms-col.right
          > div > img:first-child
            margin-left 0

.home-slider-get-started
  margin-top 25px

.home-features
  max-height 72px
  padding 0
  background white

  .home-features-feature
    margin 0 auto
    text-align center
    cursor pointer

  .container
    .row
      .col-xs-10
        width 19.99%

    img
      display block
      margin 0 auto
      height 100%

      @media (max-width: $screen-xs-max)
        height auto
        width 100%

    span
      font-size 10px

  .home-features-feature.first
    margin-left 0

.home-steps
  display block

.home-downloads
  text-align center
  padding-top 65px

  .home-downloads-title
    color white
    font-size 32px
    line-height 42px

  .home-downloads-description
    color $color-dark-text
    margin-top 34px
    font-size 24px

  .home-downloads-btn
    margin-top 30px

.home-features-expanded
  margin-top 34px

  /*.home-features-expanded-col*/
    /*float left*/

  /*.home-features-expanded-col.right*/
    /*margin-left 12px*/

  .home-features-expanded-item
    /*width 504px*/
    height 156px
    margin-top 12px
    background #1d1b38
    color white

    .home-features-expanded-item-icon
      height: 156px;
      padding: 10% 0 0;
      text-align: center;

    .home-features-expanded-item-description
      /*padding 24px 0*/
      /*float left*/
      /*width 392px*/

      h4
        font-size 20px
        color white
        line-height 26px

      p
        font-size 16px
        line-height 22px
        color #8382a3
        margin-top 14px
        padding 0 14px 0 0