.home-title1 {
	color: @v_color_brend1;
	margin-top: 40px;
	margin-bottom: 30px;
}

.home-middle-section-item {
	margin-top: 30px;
	margin-bottom: 30px;
	.media-object {
		width: 100px;
		margin-right: 20px;
	}
}

.home-donwloads-btn {
	font-family: @v_font_brend1;
	padding: 15px 50px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.home-why-section {
	background-color: @v_color_brend1;	
	h2 {
		color: white;
	}

	.home-middle-section-item {
		.media-object {
			fill:white; // SVG FIX
			width: 100px;
			margin-right: 20px;
		}
		.media-body {
			color: white;
		}
	}
}