.signin
  a
    color #83eaff

  .signin-alert
    color #5a3b5d
    background #a36da8
    line-height 40px
    height 40px
    text-align center

  .signin-heading
    margin-top 52px

  .signin-form
    width 460px
    margin-top 45px

  .signin-form.reset
    margin-top 32px

  .forgot
    text-align right
    margin-top 10px

  .btn-container
    text-align center
    margin-top 30px

  .signin-tos
  .signin-signup
    color #8382a3
    margin-top 50px
    margin-bottom 80px
    text-align center
    line-height 20px

  .signin-tos
    margin-top 20px
