{% extends 'common/section.twig' %}

{% block content %}
    <div class="pageMsg" data-vs-pageMsg-target>
        <div class="pageMsg-text">
            {{ announcement.message }}
        </div>
        <button class="pageMsg-close" data-vs-pageMsg-close><i class="icon icon-close-white"></i></button>
    </div>
{% endblock %}
