{% extends 'common/section.twig' %}

{% block content %}
    <div class="worldTourBannerContainer">
        <div class="worldTourBanner">
            <a target="_blank" href="https://worldtour.virgilsecurity.com">
                <h2 class="worldTourBannerHeading">Virgil Security 2018 World Tour</h2>
            </a>
            <ul class="worldTourBannerStops">
                <li>June 4-26</li>
                <li>California</li>
                <li>New York</li>
                <li>Bulgaria</li>
            </ul>
        </div>
    </div>
{% endblock %}