<div class="row app-edit">
	<div class="col col-md-4">

		
		<div class="form-group form-input">
			<input type="text" class="form-control" ng-model="app.title" name="title" placeholder="title" />
		</div>
		
		<div class="form-group form-input">
			<input type="text" class="form-control" ng-model="app.description" name="description" placeholder="description" />
		</div>
		

		<div class="row">
			<div class="col col-md-12">
				<button class="btn btn-primary btn-block" ng-click="update(app)">сохранить изменения</button>
			</div>
		</div>
	</div>

	<div class="col col-md-8 form-input" name="rules">
	</div>
</div>
