.aboutPage {
  .intro {
    //@include block-bg($vs-color-darkBlue5);
    background-color: $vs-color-darkBlue5;
    background-image: url("../assets/images/bg/about/about-intro-bg@2x.jpg");
    background-size: 2560px 600px;

    .introContentBlock {
      height: 600px;
    }

    .blockMsg {
      text-align: center;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        width: 720px;
      }

      &-headline {
        line-height: 1.5;
      }
    }

    .introDataList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 75px;

      @media (min-width: $vs-breakpoint-sm) {
        justify-content: space-around;
      }

      @media (min-width: $vs-breakpoint-md) {
        justify-content: space-between;
        width: 750px;
      }
    }

      .introDataItem {
        @include font-muller();
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;

        @media (min-width: $vs-breakpoint-md) {
          flex-direction: row;
        }

        &-image {
          img {
            display: block;
            max-width: 100%;
          }
        }

        &-info {
          margin: 20px 0 0;
          text-align: center;

          @media (min-width: $vs-breakpoint-md) {
            margin: 0 0 0 15px;
            text-align: left;
          }
        }

        &-name {
          font-size: 0.61rem;
          font-weight: bold;
          color: $vs-color-lightGrey4;
        }

        &-value {
          margin-top: 5px;
          font-size: 1.11rem;
          color: $vs-color-white;
        }
      }
  }

  .mission {
    padding: 130px 0;

    .missionContentBlock {
      display: flex;
      flex-direction: column;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
      }
    }

    .blockMsg {
      &-text {
        margin-top: 10px;
        font-size: 0.88rem;
        line-height: 1.9;
      }
    }

    .whatWeDo {
      padding-right: 80px;

      @media (min-width: $vs-breakpoint-md) {
        flex: 1 1 50%;
      }
    }

    .ourMission {
      margin: 50px 0 0 50px;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        flex: 0 1 45%;
      }
    }
  }

  .leadership {
    padding: 125px 0 0;
    background: $vs-color-lightGrey1;

    @media (min-width: $vs-breakpoint-md) {
      padding-bottom: 125px;
    }

    &-caption {
      @include block-caption(2.55rem, 3.33rem);
      color: $vs-color-lightGrey8;
    }

    .leadershipProfiles {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        align-items: flex-start;
      }

      > li + li {
        margin: 50px 0 0;

        @media (min-width: $vs-breakpoint-md) {
          margin: 0 0 0 100px;
        }
      }
    }

      .leadershipProfile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 510px;
        max-width: 100%;

        &:nth-child(even) {
          align-self: flex-end;

          @media (min-width: $vs-breakpoint-md) {
            align-self: initial;
          }
        }

        @media (min-width: $vs-breakpoint-md) {
          justify-content: initial;
          max-width: 45%;
        }

        & > * {
          width: 100%;
        }

        &-image {
          margin-bottom: 50px;

          img {
            display: block;
            max-width: 100%;
          }
        }

        &-name {
          @include font-muller(1);
          width: auto;
          max-width: 50%;
          font-size: 1.11rem;
        }

        &-contacts {
          align-self: center;
          width: auto;
          max-width: 45%;
          text-align: right;

          @media (min-width: $vs-breakpoint-md) {
            margin-left: 35px;
          }

          li {
            display: inline-block;
          }

          li + li {
            margin-left: 20px;
          }
        }

        &-position {
          @include font-muller();
          margin-top: 15px;
          font-size: 0.77rem;
          color: $vs-color-lightGrey4;
        }

        &-text {
          margin-top: 10px;
          line-height: 1.75;

          p + p {
            margin-top: 10px;
          }

          strong {
            font-weight: normal;
            color: $vs-color-darkRed1;
          }
        }
      }
  }

  .highlights {
    overflow: hidden;
    padding: 155px 0;
    background: $vs-color-lightGrey1;

    .layeredBlock {
      &:after {
        width: 105%;
      }
    }

    .highlightsContentBlock {
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        margin-left: 19%;
      }
    }

    .highlightsCarousel {
      @media (min-width: $vs-breakpoint-md) {
        padding: 75px 0 75px 45px;
      }

      &-controls {
        display: none;
        justify-content: flex-end;

        @media (min-width: $vs-breakpoint-md) {
          display: flex;
        }
      }

        &-control {
          margin-left: 20px;
          cursor: pointer;

          &:after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 10px;
            background: $vs-color-white;
          }

          &.active {
            &:after {
              background: $vs-color-lightGrey4;
            }
          }
        }

      &-previous,
      &-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 34px;
        background-position: 0 0;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      &-previous {
        left: 0;
        background-image: url("../assets/images/ui/arrowLeft-white.svg");
      }

      &-next {
        right: 0;
        background-image: url("../assets/images/ui/arrowRight-white.svg");
      }
    }

    .blockMsg {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (min-width: $vs-breakpoint-md) {
        padding: 0 75px;
      }

      @media (min-width: $vs-breakpoint-lg) {
        padding: 0 80px 0 140px;
      }
    }

    .highlightsOverview {
      position: relative;
      margin: 65px -15px 0;
      padding: 0 40px;

      @media (min-width: $vs-breakpoint-sm) {
        margin: 65px -35px 0;
        padding: 0 55px;
      }

      @media (min-width: $vs-breakpoint-md) {
        margin: 65px 0 0;
        padding: 0 75px;
      }

      @media (min-width: $vs-breakpoint-lg) {
        padding: 0 40px 0 140px;
      }
    }

    .highlightItemGroup {
      flex-direction: column;
      justify-content: space-between;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
      }
    }

      .highlightItem {
        flex: 0 1 44%;

        &-date {
          @include font-muller();
          font-size: 0.77rem;
          opacity: 0.2;
        }

        &-text {
          margin-top: 5px;
          line-height: 1.75;
        }

        &-image {
          margin-top: 25px;

          img {
            display: block;
            max-width: 100%;
          }
        }
      }

      .highlightItem + .highlightItem {
        margin-top: 55px;

        @media (min-width: $vs-breakpoint-md) {
          margin-top: 0;
        }
      }
  }

  .awards {
    padding: 75px 0;
    background: $vs-color-lightGrey1;

    &-caption {
      @include block-caption(2.55rem, 3.33rem);
      color: $vs-color-lightGrey8;
    }

    .awardList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: -15px;
      margin-top: 35px;

      @media (min-width: $vs-breakpoint-md) {
        justify-content: space-between;
      }

      li {
        margin: 15px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .investors {
    margin-bottom: -$vs-footer-padding;
    padding: 75px 0 (75px + $vs-footer-padding);
    background: $vs-color-lightGrey1;

    &-caption {
      @include block-caption(2.55rem, 3.33rem);
      text-align: right;
      color: $vs-color-lightGrey8;
    }

    .investorList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: -15px;
      margin-top: 35px;

      @media (min-width: $vs-breakpoint-md) {
        justify-content: space-between;
      }

      li {
        margin: 15px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}