.articleItemPage {
  background: $vs-color-lightGrey1;

  .intro {
    //@include block-bg($vs-color-black);
    //background-image: url("../assets/images/bg/article/article-intro-bg@2x.jpg");
    //background-size: 2560px 480px;

    @include block-bg($vs-color-darkBlue5);
    background-image: url("../assets/images/bg/content/content-intro-bg.svg");
    background-position-y: bottom;
    background-size: 105%;

    .introContentBlock {
      height: 480px;
    }

    .blockMsg {
      width: 680px;
      max-width: 100%;
      text-align: center;
      color: $vs-color-white;

      &-text {
        margin-top: 30px;
        font-size: 0.88rem;
      }
    }
  }

  .article {
    padding-top: 105px;
    font-size: 0.88rem;

    .articleContentBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (min-width: $vs-breakpoint-md) {
        justify-content: space-between;
        padding: 0 40px;
      }

      @media (min-width: $vs-breakpoint-lg) {
        padding: 0 105px;
      }
    }

    .articleContent {
      max-width: 690px;

      @media (min-width: $vs-breakpoint-md) {
        width: 70%;
      }

      h2 {
        margin: 65px 0 35px;
        font-size: inherit;
        font-weight: bold;

        &:first-of-type {
          margin-top: 0;
        }
      }

      a {
        color: $vs-color-darkRed1;
      }

      p {
        line-height: 1.9;

        img {
          display: block;
          max-width: 100%;
        }
      }

      * + p {
        margin-top: 35px;
      }

      ul, ol {
        padding: 0 1.5rem;
        list-style: initial;
      }

      li {
        margin: 0.5rem;
      }

      &-actions {
        margin-top: 35px;
      }
    }

    .articleSidebar {
      order: 3;
      width: 100%;
      max-width: 690px;
      margin-top: 55px;

      @media (min-width: $vs-breakpoint-md) {
        order: 2;
        width: 25%;
        max-width: 250px;
        margin-top: 0;
      }

      &-actions {
        margin-top: 20px;
      }
    }

    .articleReferenceList {
      order: 2;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      border-top: 1px solid $vs-color-lightGrey3;
      padding-top: 40px;

      @media (min-width: $vs-breakpoint-md) {
        order: 3;
      }
    }

      .articleReference {
        display: flex;
        flex-direction: column;
        max-width: 45%;

        &-label {
          @include font-muller();
          font-size: 0.61rem;
          color: $vs-color-lightGrey4;
        }

        &-link {
          @include font-muller();
          flex: 1 1;
          display: block;
          margin-top: 15px;
          font-size: 0.77rem;
          transition: 0.5s color;

          &:hover {
            color: $vs-color-darkRed1;
          }
        }

        &-data {
          margin-top: 5px;
          font-size: 0.66rem;
          color: $vs-color-lightGrey4;
        }
      }
  }
}