.pricingPage {
  .intro {
    @include block-bg($vs-color-darkBlue5, 980px);
    background-image: url("../assets/images/bg/pricing/pricing-intro-bg.jpg");
    @include image-2x("../assets/images/bg/pricing/pricing-intro-bg@2x.jpg");

    background-size: cover;
    height: 360px;

    .introContentBlock {
      padding: 120px 0 0;
    }

    .blockMsg {
      text-align: center;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        max-width: 940px;
      }


      &-title {
        text-transform: uppercase;
        font-family: 'Muller', sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0.05em;

        @media (max-width: $vs-breakpoint-md) {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 20px;
        }
      }

      &-text {
        margin: 0;
        opacity: 0.75;
        font-size: 18px;
        letter-spacing: 0.025em;
      }
    }
  }

  .pricing {
    margin: 80px 0;

    @media (max-width: $vs-breakpoint-md) {
      margin-top: 40px;
    }
  }

  .includes {
    position: relative;
    z-index: 1;
    background: $vs-color-lightGrey7;

    .includesContentBlock {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 100px 0 150px;
    }

    .blockMsg {

      @media (min-width: $vs-breakpoint-md) {
        width: 710px;
      }
    }

    .includesList {
      display: flex;
      flex-direction: column;
      margin-top: 95px;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      li + li {
        margin-top: 50px;

        @media (min-width: $vs-breakpoint-md) {
          margin-top: 0;
        }
      }
    }

      .includesItem {
        display: flex;
        align-items: center;
        font-size: 14px;

        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }

        @media (min-width: $vs-breakpoint-md) {
          width: auto;
        }

        &-image {
          margin-right: 20px;
          display: block;
          max-width: 100%;
          box-shadow: 0 10px 15px -5px rgba($vs-color-darkRed2, 0.5);
        }

        &-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }


        &-headline {
          @include font-muller();
          font-size: inherit;
          font-weight: bold;
        }

        &-text {
          @include blockMsg-text(5px);
        }
      }
  }

  .conclusion {
    margin-bottom: -60px;
    padding-top: 80px;

    .blockMsg {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-headline {
        font-size: 28px;
        margin-bottom: 25px;
        font-weight: 500;
      }

      &-links {
        @media (min-width: $vs-breakpoint-md) {
          margin: 0;
        }
      }
    }
  }
}
