{% extends "base.twig" %}

{% block body_content %}
    <div class="page featuresPage" data-vs-page="features">
        {% block header %}
            {{ parent() }}
        {% endblock %}

        {% block content %}
            <div class="container">
                {% include 'features_page/intro_section.twig' with{ 'intro': models.intro_section, 'visible': models.intro_section.is_show } only %}
                {% include 'features_page/cryptogram_section.twig' with{ 'cryptogram': models.cryptogram_section, 'visible': models.cryptogram_section.is_show } only %}
            </div>
        {% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
