@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot');
  src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
  url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff') format('woff'),
  url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.eot');
  src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.woff2') format('woff2'),
  url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.woff') format('woff'),
  url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}