// "Muller-Medium"
@font-face {
  font-family: "Muller";
  font-weight: normal;
  src: url("./assets/fonts/Muller/33C152_1_0.eot");
  src: url("./assets/fonts/Muller/33C152_1_0.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Muller/33C152_1_0.woff2") format("woff2"),
    url("./assets/fonts/Muller/33C152_1_0.woff") format("woff"),
    url("./assets/fonts/Muller/33C152_1_0.ttf") format("truetype");
}

// "Muller-Bold"
@font-face {
  font-family: "Muller";
  font-weight: bold;
  src: url("./assets/fonts/Muller/33C152_0_0.eot");
  src: url("./assets/fonts/Muller/33C152_0_0.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/Muller/33C152_0_0.woff2") format("woff2"),
  url("./assets/fonts/Muller/33C152_0_0.woff") format("woff"),
  url("./assets/fonts/Muller/33C152_0_0.ttf") format("truetype");
}

//// "Muller-Regular"
//@font-face {
//  font-family: "Muller-Regular";
//  src: url("./assets/fonts/Muller/33C152_2_0.eot");
//  src: url("./assets/fonts/Muller/33C152_2_0.eot?#iefix") format("embedded-opentype"),
//    url("./assets/fonts/Muller/33C152_2_0.woff2") format("woff2"),
//    url("./assets/fonts/Muller/33C152_2_0.woff") format("woff"),
//    url("./assets/fonts/Muller/33C152_2_0.ttf") format("truetype");
//}