<div class="overlay"></div>
<div class="modal app-edit">
	<div class="modal-head">
		<h2>{{ app.name }}</h2>
		<img ng-click="close()" class="modal-close" src="/img/apps-list/close.png"></span>
		<div class="clear"></div>
	</div>

	<div class="modal-body">
		<form class="app-edit-form form-vertical">
			<div class="form-group form-item">
				<label for="name">Application Name</label>
				<input type="text" class="form-input" name="name" ng-model="app.name" />
			</div>
			<div class="form-group form-item">
				<label for="name">Description</label>
				<textarea class="form-input" name="description" ng-model="app.description"></textarea>
			</div>
			<div class="form-group form-item">
				<label for="name">URL</label>
				<input type="text" class="form-input" name="url" ng-model="app.url" />
			</div>
			<div class="form-group form-item" ng-if="app.key">
				<label for="name">Key</label>
				<input type="text" class="form-input key" name="key" ng-model="app.key" disabled />
			</div>
		</form>
	</div>

	<div class="clear"></div>

	<div class="modal-footer">
		<button ng-click="close()" class="btn-virgil btn-transparent close">CLOSE</button>
		<button ng-click="save(app)" class="btn-virgil btn-green save">SAVE</button>
	</div>
</div>
