<section class="apps-list">
	<div class="headline">
		<h2>Applications</h2>
		<button ng-click="create()" class="btn-virgil btn-transparent">+ NEW APPLICATION</button>
	</div>

	<div class="clear"></div>

	<section class="apps-table">
		<table>
			<tbody>
				<tr ng-repeat="app in apps">
					<td class="name"><a ng-href="/apps/{{ app.id }}">{{ app.name }}</a></td>
					<td class="url"><a ng-href="{{ app.url }}">{{ app.url }}</a></td>
					<td class="key">{{ app.key }}</td>
					<td class="controls">
						<span ng-click="update(app)" class="btn-edit"></span>
						<span ng-click="remove(app)" class="btn-remove"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</section>


</section>

