{% extends 'common/section.twig' %}

{% block content %}
    <div class="intro pricingPlans">
        <div class="wrapper">
            <div class="introContentBlock">
                <div class="blockMsg">
                    <h1 class="blockMsg-title">
                        {{ intro.headline|shortcodes }}
                    </h1>
                    <p class="blockMsg-text">
                        {{ intro.text|shortcodes }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
