{% extends 'common/section.twig' %}

{% block content %}
    <section class="pricing">
        <div class="wrapper">
            {% include 'common/pricing/pricing-table.twig' %}
        </div>
    </section>
{% endblock %}
