<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Virgil Security</title>
</head>
<body>
<div class="page articleItemPage">
  <header class="header">
    <div class="headerFull" data-vs-sticky-header>
      <div class="headerLogo">
        <a href=""><img src="../../images/shared/logo-red.svg" width="145" height="47" alt=""></a>
      </div>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item headerNav-home">
            <a class="firstLevel-itemLink">Home</a>
          </li>
          <li class="firstLevel-item headerNav-documentation">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-book-red" aria-hidden="true"></i>
                  <span>Documentation</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <div class="thirdLevel-caption">Get started</div>
                <ul class="thirdLevel-list">
                  <li class="thirdLevel-item">
                    <a href="">Encrypted communication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Encrypted storage</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Passwordless Authentication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Data Integrity</a>
                  </li>
                </ul>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-bookmark-red" aria-hidden="true"></i>
                  <span>API references</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-about">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-shield-red" aria-hidden="true"></i>
                  <span>About Virgil</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-case-red" aria-hidden="true"></i>
                  <span>Clients</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-medium-red" aria-hidden="true"></i>
                  <span>Blog</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-features">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item headerNav-pricing">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item headerNav-contacts">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="button-flatWhite">Login</a>
        <a href="" class="button-raisedWhiteBorder">Get started</a>
      </div>
      <button data-vs-sideNav-open class="headerOpenButton">
        <i class="icon icon-menu-red"></i>
      </button>
    </div>
    <div class="headerSideBar" data-vs-sideNav-target>
      <div class="headerCloseButton">
        <button data-vs-sideNav-close>
          <i class="icon icon-close-red"></i>
        </button>
      </div>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Get started</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted communication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted storage</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Passwordless Authentication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Data Integrity</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Documentation</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">API references</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-about">About Virgil</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-clients">Clients</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Blog</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="headerAuth-link"><span>Login / Sign In</span></a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="intro">
      <div class="wrapper">
        <div class="introContentBlock">
          <div class="blockMsg">
            <h1 class="blockMsg-headline">How to turn an error state into a conversation starter</h1>
            <p class="blockMsg-text">
              <span>Michael W. Wellman</span> — <span>March 8th, 2017</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="article">
      <div class="wrapper">
        <div class="articleContentBlock">
          <div class="articleContent">
            <div class="articleContent-content">
              <h2>We’ve just shipped an awesome new integrations service for the virgil  platform!</h2>
              <p>
                To initialize the SDK you will need to <a href="">create an account</a> and your first application.
              </p>
              <p>
                The next step is to initialize the SDK with your application's credentials. Lorem ipsum dolor sit
                amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
              </p>
              <p>
                ‘Content is king’ - you hear those words a lot these days. Many brands without up to date and relevant content are starting to fail. Shoppers are likely to seek out user-generated content before making any purchase decisions. Instagram, fashion blogs, and social purchasing apps are now included in a customer’s journey when buying products.
              </p>

              <h2>It’s all about the content</h2>
              <p>
                Research shows that young customers switch between media platforms at an average of 27 times per hour and spend 89% of their time on media through mobile apps, proving that brands need to support this service with content across all channels as customers will not wait around if retailers don’t provide a seamless service.
              </p>
              <p>
                Where relevant content is portrayed, the empowerment to transact increases and so brands are looking for a way to let people actually purchase from every single place they promote themselves. The importance of delivering a consistent brand story across every touchpoint is becoming more and more relevant. Brands have to think about ways of integrating everything, something that a lot of eCommerce platforms can’t provide in a tidy way.
              </p>

              <p>
                <img
                  width="690"
                  src="../../images/pages/article/article-article-example-image-1.jpg"
                  srcset="../../images/pages/article/article-article-example-image-1@2x.jpg"
                  alt="">
              </p>

              <p>
                You can also set many of the readable resources (products, categories, collections etc.) to “live” or “draft”. Using the implicit grant type will result in only “live” results being returned from the API and another way for you to control what data is available to client-side applications.
              </p>
            </div>

            <div class="articleContent-actions">
              <button>Facebook</button>
              <button>Twitter</button>
            </div>
          </div>
          <div class="articleSidebar">
            <div class="referenceBlock">
              <div class="referenceList">
                <h3 class="referenceList-headline">Related use cases</h3>
                <ul class="referenceList-list">
                  <li><a href="">Encrypted communication</a></li>
                  <li><a href="">Encrypted storage</a></li>
                </ul>
              </div>
              <div class="referenceList">
                <h3 class="referenceList-headline">Related posts</h3>
                <ul class="referenceList-list">
                  <li><a href="">Ecrypted truth: top 5 cryptology myths</a></li>
                  <li><a href="">Examining Decentralized Social Networks</a></li>
                  <li><a href="">INSIDE DESIGN: LENDINGTREE</a></li>
                  <li><a href="">FREE PRODUCT DESIGN E-COURSE FROM TINDER’S SCOTT HURFF</a></li>
                </ul>
              </div>
              <div class="referenceList">
                <h3 class="referenceList-headline">Tags</h3>
                <ul class="referenceList-list">
                  <li><a href="">encrypt virgil security verification data it programming</a></li>
                </ul>
              </div>
            </div>
            <div class="articleSidebar-actions">
              <a href="" class="button-flatRed">
                <span>Start to encrypt</span>
                <i class="icon icon-arrowRight-red"></i>
              </a>
            </div>
          </div>
          <div class="articleReferenceList">
            <div class="articleReference">
              <div class="articleReference-label">Previous</div>
              <a class="articleReference-link">
                <span>Our new support system is here</span>
                <i class="icon icon-arrowRight-black" aria-hidden="true"></i>
              </a>
              <div class="articleReference-data">
                <span>Dmitry Dain</span> — <span>March 8th, 2017</span>
              </div>
            </div>
            <div class="articleReference">
              <div class="articleReference-label">Next</div>
              <a class="articleReference-link">
                <span>Our new support system is here</span>
                <i class="icon icon-arrowRight-black" aria-hidden="true"></i>
              </a>
              <div class="articleReference-data">
                <span>Dmitry Dain</span> — <span>March 8th, 2017</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footerContacts">
          <div class="footerContacts-logo">
            <a href=""><img src="../../images/shared/logo-white.svg" width="145" height="47" alt=""></a>
          </div>
          <div class="footerContacts-hashtag">#EncryptEverything</div>
          <ul class="footerContacts-socials">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-github"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-linkedin"></i></a></li>
            <li><a href=""><i class="icon icon-medium"></i></a></li>
          </ul>
        </div>
        <nav class="footerNav">
          <div class="footerNavBlock footerNavBlock-sources">
            <div class="footerNavBlock-caption">Navigation</div>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Developers</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Developers</div>
            <ul>
              <li><a href="">Documentation</a></li>
              <li><a href="">API reference</a></li>
              <li><a href="">Applications</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Contact us</div>
            <ul>
              <li><a href="">Contacts</a></li>
              <li><a href="mailto:">support@virgil.net</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
        <div class="footer-links">
          <a href="mailto:" class="footer-email">support@virgilsecurity.com</a>
          <a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="scrollToTop" data-vs-sticky-scrollToTop>
    <div class="scrollToTop-btn button-raisedRed"><i class="icon icon-arrowTop-white"></i></div>
  </div>
  <div class="overlay" data-vs-sideNav-overlay></div>
</div>
</body>
</html>