@font-face
	font-family "ClearSans"
	src url(../fonts/ClearSans-Medium.woff)

*
*:before
*:after
	font-family "ClearSans"
	box-sizing border-box

.clear
	clear both

.header
	padding 20px 100px
	height 100px

	.header-block
		float left
		height 52px
		line-height 52px

	.header-nav
		.header-nav-link
			font-size 12px
			text-decoration none
			margin-left 20px
			color white

		.header-nav-link:first-child
			margin-left 0

	.header-logo
		float left

	.header-nav-left
		float left
		margin-left 32px

	.header-nav-right
		float right

.footer
	height 130px
	padding-top 80px
	padding-bottom 50px
	width 1024px
	margin 0 auto

	.footer-copy
		color #6f6d8d
		float left

	.footer-links
		margin-left 32px
		float left

		a
			color #d4d4d6
			text-decoration none
			font-size 14px
			margin-left 26px

		a:first-child
			margin-left 0

	.footer-social
		float right

		a
			text-decoration none
			margin-left 28px

			img
				height 18px

		a:first-child
			margin-left 0

.btn-virgil
	cursor pointer
	outline none
	border none
	color white
	background url(../img/btn-virgil.png)
	width 200px
	height 70px
	font-size 16px

.btn-virgil.btn-transparent
	background url(../img/btn-transparent.png)
	width 220px
