$color-dark-text = #8382a3

.page.contact
	background-image url(../img/dotted-bg.png)
	background-repeat repeat

	.contact-heading
		margin-top 12px
		text-align center

		h2
			color white
			font-size 40px
		p
			margin-top 26px
			font-size 22px
			color $color-dark-text

	.contact-contacts
		margin-top 62px

		.contact-contacts-item
			float left
			width 33%
			color $color-dark-text
			text-align center

			a
				color white
				text-decoration none

			p
				margin-top 22px

		.contact-contacts-item.social
			.facebook
				margin-left 26px

	.contact-form
		width 808px
		margin 0 auto
		margin-top 52px

		.col-50
			height 184px

			textarea
				height 100%

		.contact-form-submit
			float right
			margin-top 26px
			margin-right 20px
