.downloads
	.downloads-title h2
		font-size 40px
		color white
		text-align center

	.choices
		margin-top 30px

		.tab
			padding-left 44px
			padding-top 10px
			padding-bottom 10px
			display inline-block
			background-position-y 2px
			background-repeat no-repeat
			color #a9a8cb

		.end-users
			background-image url(/img/downloads/end-users.png)

		.developers
			background-position-y -4px
			background-image url(/img/downloads/developers.png)

		.developers.active
		.developers:hover
			color white
			background-image url(/img/downloads/developers-active.png)

		.end-users.active
		.end-users:hover
			color white
			background-image url(/img/downloads/end-users-active.png)

	.downloads-description
		margin-top 20px
		line-height 26px
		width 630px
		color #a9a8cb

	.downloads-links
		margin-top 40px

		.downloads-links-link
			display block
			float left
			margin-left 80px
			text-decoration none

			img
				display block
				width 106px

			div
				margin-top 10px
				color white
				text-align center
