@require "reset"
@require "common"

.home-header-block
	background-image url(../img/home/home-bg.png)
	height 476px

.home-bottom-block
	background-image url(../img/dotted-bg.png)
	background-repeat repeat

.home-slider
	color white
	display block
	text-align center
	margin-top 20px

	.home-slider-title
		font-size 50px

	.home-slider-description
		font-size 26px
		margin-top 22px
		line-height 32px

	.home-slider-get-started
		margin-top 25px

	.home-slider-pagination
		width 133px
		margin 0 auto
		margin-top 42px

	.home-slider-pagination-dot
		cursor pointer
		display block
		width 10px
		height 10px
		margin-left 15px
		float left
		background url(../img/home/pagination-dot.png)

	.home-slider-pagination-dot:first-child
		margin-left none

	.home-slider-pagination-dot.active
		background url(../img/home/pagination-dot-active.png)

.home-features
	padding 5px 125px
	height 64px

	.home-features-feature
		float left
		margin-left 165px
		text-align center

		img
			display block
			height 40px
			margin 0 auto

		span
			font-size 10px

	.home-features-feature:first-child
		margin-left 0

.home-steps
	display block

.home-downloads
	text-align center
	padding-top 65px

	.home-downloads-title
		color white
		font-size 32px
		line-height 42px
	
	.home-downloads-description
		color #8382a3
		margin-top 34px
		font-size 24px

	.home-downloads-btn
		margin-top 30px

.home-features-expanded
	width 1041px
	margin 0 auto
	margin-top 34px

	.home-features-expanded-col
		float left

	.home-features-expanded-item
		width 504px
		height 156px
		margin-top 12px
		margin-left 12px
		background #1d1b38
		color white

		.home-features-expanded-item-icon
			width 108px
			height 100%
			float left
			padding 30px 36px

		.home-features-expanded-item-description
			padding 24px 0
			float left
			width 392px

			h4
				font-size 20px
				color white
				line-height 26px

			p
				font-size 16px
				line-height 22px
				color #8382a3
				margin-top 14px
