@require "./jquery.bxslider.css"

$color-header-text = #c3cbda

.home-header-block
	background-image url(../img/home/home-bg.png)
	height 476px

	.header
		height 75px
		.header-nav
			.header-nav-link
				color $color-header-text

.home-bottom-block
	background-image url(../img/dotted-bg.png)
	background-repeat repeat

.home-slider
	color white
	display block
	text-align center

	.home-slider-or-buttons
		.or
			margin 0 15px
			color $color-header-text

	.home-slider-title
		font-size 50px

	.home-slider-description
		font-size 26px
		margin-top 22px
		line-height 32px
		color $color-header-text

	.home-slider-get-started
		margin-top 25px

	.home-slider-pagination
		width 133px
		margin 0 auto
		margin-top 42px

	.home-slider-pagination-dot
		cursor pointer
		display block
		width 10px
		height 10px
		margin-left 15px
		float left
		background url(../img/home/pagination-dot.png)

	.home-slider-pagination-dot:first-child
		margin-left none

	.home-slider-pagination-dot.active
		background url(../img/home/pagination-dot-active.png)

	.secure-the-future
		margin-top 62px

	.be-secure
		margin-top -10px

		.home-slider-description
			font-size 23px

		.home-slider-platforms-col
			margin-top 16px
			float left

		.home-slider-platforms-col.right
			margin-left 88px

		.home-slider-platforms
			width 524px
			margin 0 auto
			margin-top 22px
			color $color-header-text

			img
				height 35px
				width 35px
				margin-left 14px
				margin-top 6px

	.internet-of-things
		margin-top 60px

	.ppu
		margin-top 58px

		.home-slider-title
			font-size 40px

	.without-password
		margin-top 26px
		.engines
			margin-top 38px

			a img
				height 58px
				width 58px
				margin-left 16px

			a:first img
				margin-left 0

	.secure-cloud
		margin-top 70px

		.home-slider-title
			font-size 40px

.home-features
	padding 5px 0
	height 64px
	background white

	.home-features-feature
		float left
		margin-left 165px
		text-align center

		img
			display block
			height 40px
			margin 0 auto

		span
			font-size 10px

	.home-features-feature:first-child
		margin-left 0

.home-steps
	display block

.home-downloads
	text-align center
	padding-top 65px

	.home-downloads-title
		color white
		font-size 32px
		line-height 42px
	
	.home-downloads-description
		color $color-dark-text
		margin-top 34px
		font-size 24px

	.home-downloads-btn
		margin-top 30px

.home-features-expanded
	margin-top 34px

	.home-features-expanded-col
		float left

	.home-features-expanded-col.right
		margin-left 12px

	.home-features-expanded-item
		width 504px
		height 156px
		margin-top 12px
		background #1d1b38
		color white

		.home-features-expanded-item-icon
			width 108px
			height 100%
			float left
			padding 30px 36px

		.home-features-expanded-item-description
			padding 24px 0
			float left
			width 392px

			h4
				font-size 20px
				color white
				line-height 26px

			p
				font-size 16px
				line-height 22px
				color #8382a3
				margin-top 14px

.bx-wrapper .bx-controls-direction a.bx-prev
	left 50%
	margin-left -490px

.bx-wrapper .bx-controls-direction a.bx-next
	left 50%
	margin-left 442px

//.home-slider-controls
	//margin-top -220px

	//.slider-next
		//float right

//.bx-pager
	//text-align center
