// Private
@mixin _button-base() {
  @include font-muller();
  display: inline-block;
  align-items: center;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 14px;
}

@mixin _button-baseRaised() {
  @include _button-base();
  padding: 0 30px;
}

@mixin _button-baseFlat() {
  @include _button-base();
  margin: 0 30px;
}

@mixin _button-baseRaised-red() {
  @include _button-baseRaised();
  background: $vs-color-darkRed1;
  color: $vs-color-white;
  box-shadow: 0 4px 12px -3px rgba($vs-color-darkRed1, 0.5);
}

@mixin _button-baseRaised-white() {
  @include _button-baseRaised();
  background: $vs-color-white;
  color: $vs-color-black;
  box-shadow: 0 4px 12px -3px rgba($vs-color-white, 0.5);

  i {
    margin-right: 5px;
    font-size: 25px;
    vertical-align: middle;
  }
}

// Public
@mixin button-raisedRed {
  @include _button-baseRaised-red();
  transition: 0.5s box-shadow, 0.5s background;

  &:hover {
    background: $vs-color-red1;
    box-shadow: 0 10px 15px -8px rgba($vs-color-darkRed1, 0.8)
  }
}

@mixin button-raisedRed-static {
  @include _button-baseRaised-red();
}

@mixin button-raisedWhiteBorder {
  @include _button-baseRaised;
  border: 2px solid $vs-color-white;
  color: $vs-color-white;
  transition: 0.5s background, 0.5s border-color, 0.5s box-shadow;

  &:hover {
    background: $vs-color-darkRed1;
    border-color: transparent;
    box-shadow: 0 4px 12px -3px rgba($vs-color-darkRed1, 0.5);
  }
}

@mixin button-raisedWhite {
  @include _button-baseRaised-white();
  transition: 0.5s box-shadow;

  &:hover {
    box-shadow: 0 10px 15px -8px rgba($vs-color-white, 0.5)
  }
}

@mixin button-raisedWhite-static {
  @include _button-baseRaised-white();
}

@mixin button-flat {
  @include _button-baseFlat;

  &:hover {
    color: $vs-color-darkRed1;
  }
}

@mixin button-flatWhite {
  @include _button-baseFlat;
  color: $vs-color-white;
}