@mixin contentBlock-caption() {
  @include font-muller();
  font-size: 120px;
  font-weight: bold;
  color: $vs-color-lightGrey7;
}

@mixin blockMsg-headline() {
  @include font-muller();
  font-size: 34px;

  mark {
    color: $vs-color-darkRed1;
  }
}

@mixin blockMsg-text($top:15px) {
  margin-top: $top;
  font-family: Lato, sans-serif;
  line-height: 1.65;
}