$vs-breakpoint-xs: 360px;
$vs-breakpoint-sm: 480px;
$vs-breakpoint-md: 960px;
$vs-breakpoint-lg: 1200px;
$vs-breakpoint-lg-transition: 1260px;
$vs-breakpoint-xl: 1400px;

$vs-wrapper-padding: 15px;
$vs-wrapper-padding-lg: 30px;
$vs-footer-padding: 155px;