[class^="button-"] + [class^="button-raised"] {
  margin-left: 15px;
}

.button-raisedRed {
  @include button-raisedRed();
}

.button-raisedRed-static {
  @include button-raisedRed-static();
}

.button-raisedWhiteBorder {
  @include button-raisedWhiteBorder();
}

.button-raisedWhiteBorder-black {
  @include button-raisedWhiteBorder($vs-color-white, $vs-color-white, $vs-color-grey);
}

.button-raisedWhiteBorder-static {
  @include button-raisedWhiteBorder-static();
}

.button-raisedRedBorder {
  @include button-raisedRedBorder();
}

.button-raisedRedBorder-static {
  @include button-raisedRedBorder-static();
}

.button-raisedWhite {
  @include button-raisedWhite();
}

.button-raisedWhite-static {
  @include button-raisedWhite-static();
}

.button-flat {
  @include button-flat();
}

.button-flatWhite {
  @include button-flatWhite();
}

.button-flatRed {
  @include button-flatRed();
}

.button-disabled {
  opacity: 0.1;
  cursor: default;
  pointer-events: none;
}