
.pricing-table {
	width: 100%;
	display: flex;
	font-size: 14px;

	@media (max-width: $vs-breakpoint-md) {
	  	flex-direction: column;
	}

	.pricing-column {
	  	flex: 1;
	  	min-width: 0;
	  	display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.pricing-description {
	  font-weight: bold;

		@media (max-width: $vs-breakpoint-lg) {
		  display: none;
		}
	}

	.pricing-plan .pricing-cell {
		padding-left: 20px;
	}

	.pricing-cell {
		display: flex;
		flex: 0 0 auto;
		align-items: flex-start;
		padding-right: 20px;
		flex-direction: column;
		justify-content: center;
		height: 80px;
		letter-spacing: 0.025em;
		border-bottom: 1px solid $vs-color-lightGrey3;

		@media (max-width: $vs-breakpoint-md) {
	  	height: auto;
			padding: .5em 20px;
			border-bottom: 0;
		}
	}

	.pricing-cell:last-child {
		border-bottom: 0;
	}

	.visible-lg {
		@media (max-width: $vs-breakpoint-lg) {
			display: none;
		}
	}

	.hidden-lg {
		@media (min-width: $vs-breakpoint-lg) {
			display: none;
		}
	}

	.pricing-header {
		height: 180px;
		padding-top: 26px;
		padding-bottom: 30px;

		@media (max-width: $vs-breakpoint-md) {
		  	padding-bottom: 0;
				height: 100px;
		}
	}

	.pricing-footer {
		height: 145px;
		padding-top: 30px;
		padding-bottom: 30px;
		@media (max-width: $vs-breakpoint-md) {
			height: auto;
			padding-top: 20px;
		}
	}

	@media (max-width: $vs-breakpoint-md) {
		.pricing-column:not(:last-child) .pricing-footer {
			position: relative;
			&:after {
				content: "";
				display: block;
				height: 1px;
				width: 100%;
				margin: 50px 0 0 0;
				background: $vs-color-lightGrey3;
			}
		}
	}

	.pricing-footer-price {
		align-items: center;
		@media (max-width: $vs-breakpoint-md) {
			align-items: flex-start;
		}
	}

	.pricing-plan.selected {
		@media (min-width: $vs-breakpoint-md) {
			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
		}
	}

	.hide-on-mobile, .hidden-sm {
		@media (max-width: $vs-breakpoint-md) {
			display: none;
		}
	}

	.pricing-plan-title {
	  	display: inline-block;
		font-family: "Muller", sans-serif;
		font-weight: bold;
		font-size: 26px;
		padding-bottom: 10px;
	}

	.pricing-plan-price {
		font-size: 20px;
		margin-bottom: 20px;
	}

	& .pricing-action {
		width: 200px;
		padding: 0;
	}

	@media (min-width: $vs-breakpoint-md) {
		& .pricing-action {
			width: 100%;
			padding: 0;
		}
	}

	.pricing-cell.dot {
		color: #DDDDDD;
	}

	.check {
		background-image: url('../assets/images/ui/icons/icon-check.svg');
		width: 13px;
		height: 10px;
	}

	.switch-annotation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 8px;
		font-family: 'Muller', sans-serif;
		width: 90%;
		text-transform: uppercase;

		&-big {
			font-size: 11px;
		}
	}

	.switch-subtitle {
		color: $vs-color-red1;
		font-size: 12px;
		margin-top: 15px;
	}

	.switch-container {
		width: 32px;
		height: 18px;
		background-color: $vs-color-lightGrey2;
		border-radius: 9px;
		position: relative;
	}

	.switch-control {
		width: 14px;
		height: 14px;
		border-radius: 14px;
		background-color: white;
		position: absolute;
		top: 2px;
		transition: all 0.5s;

		&.off {
			left: 2px;
		}

		&.on {
			left: 16px;
		}
	}
}
