{% extends "base.twig" %}

{% block body_content %}
<div class="page iotPage" data-vs-page="iot">
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
    <div class="container">
        {% include 'iot_page/intro_section.twig' %}
        {% include 'iot_page/open_source_section.twig' %}
        {% include 'iot_page/user_cases_section.twig' %}
        {% include 'iot_page/conclusion_section.twig' %}
    </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
</div>
{% endblock %}
