{% extends "base.twig" %}

{% block body_content %}
    <div class="page contentPage">
        {% block header %}
            {{ parent() }}
        {% endblock %}

        {% block content %}
            <div class="container">
                {% include 'page/intro_section.twig' with{ 'intro': models.intro_section, 'visible': models.intro_section.is_show } only %}
                {% include 'page/article_section.twig' with{ 'article': models.article_section, 'visible': models.article_section.is_show } only %}
            </div>
        {% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
