{% extends "base.twig" %}

{% block body_content %}
    <div class="page pricingPage" data-vs-page="pricing">
        {% block header %}
            {{ parent() }}
        {% endblock %}

        {% block content %}
            <div class="container">
                {% include 'pricing_page/intro_section.twig' with{ 'intro': models.intro_section, 'visible': models.intro_section.is_show } only %}
                {% include 'pricing_page/pricing_section.twig' with{ 'pricing': models.enterprise_section, 'visible': models.enterprise_section.is_show } only %}
                {% include 'pricing_page/includes_section.twig' with{ 'includes': models.includes_section, 'visible': models.includes_section.is_show } only %}
                {% include 'pricing_page/conclusion_section.twig' with{ 'conclusion': models.conclusion_section, 'visible': models.conclusion_section.is_show } only %}
            </div>
        {% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
