@font-face {
  font-family 'ProximaNova'
  font-style normal
  font-weight $font-weight-light
  src url($pathsFonts + 'ProximaNova-Light.otf') , local('sans-serif-light')
}

@font-face {
  font-family 'ProximaNova'
  font-style normal
  font-weight $font-weight-normal
  src url($pathsFonts + 'ProximaNova-Regular.otf') , local('sans-serif-light')
}

@font-face {
  font-family 'ProximaNova'
  font-style normal
  font-weight $font-weight-bold
  src url($pathsFonts + 'ProximaNova-Semibold.otf') , local('sans-serif-light')
}

@font-face {
  font-family 'ProximaNova'
  font-style normal
  font-weight $font-weight-bolder
  src url($pathsFonts + 'ProximaNova-Bold.otf') , local('sans-serif-light')
}
