footer {
  background: #2c302e;

  .menu {
    padding-top 50px
    padding-bottom 90px

    @media (max-width $screen-lg-min) {
      padding-top 30px
      padding-bottom 30px
    }

    .menu-group {
      .sub-menu-title {
        position relative
        font-family Arial
        font-size 14px
        line-height 17px
        letter-spacing 1.33px
        color #888888
        text-transform uppercase
        font-weight $font-weight-bolder
        padding-left 10px
        margin 0

        &:before {
          content ' '
          position absolute
          top 2px
          left 0
          height 12px
          border-left 2px solid #da322c
        }
      }

      .sub-menu {
        padding-top 30px
        padding-left 12px

        @media (max-width $screen-lg-min) {
          overflow hidden
        }

        .item {
          padding-bottom 20px

          @media (max-width $screen-lg-min) {
            float left
            padding-right 30px
          }

          a {
            font-size 14px
            line-height 17px
            color #ffffff
            font-weight $font-weight-normal

            &.active,
            &:active,
            &:hover {
              color #ffe5ac
            }
          }

          &.active {
            a {
              color #ffe5ac
            }
          }
        }
      }

      &.copy {
        min-width 220px
        padding-right 40px

        @media (max-width $screen-lg-min) {
          text-align center
          padding-right 0
        }

        .logo {
          height 50px
          background-image url($pathsImages + 'vs-logo-footer.svg')
          background-repeat no-repeat
          background-position 0 0

          @media (max-width $screen-lg-min) {
            background-position 50% 50%
          }
        }

        .desc,
        .inc {
          font-family Arial
          font-size 12px
          line-height 18px
          color #888888
          font-weight $font-weight-normal
        }

        .desc {
          margin-top 32px
        }

        .inc {
          margin-top 20px
        }
      }

      .follow-us {
        ul.social {
          li.item {
            display inline-block
            margin-right 24px

            @media (max-width $screen-lg-min) {
              margin-right 0
              padding-right 24px
              padding-bottom 30px
            }

            &:last-child {
              margin-right 0
            }

            a {
              display block
              width 36px
              height 36px
            }

            &.facebook {
              a {
                background url($pathsImages + 'fb-off.svg') 0 0 no-repeat

                &:hover {
                  background url($pathsImages + 'fb-on.svg') 0 0 no-repeat
                }
              }
            }

            &.twitter {
              a {
                background url($pathsImages + 'tw-off.svg') 0 0 no-repeat

                &:hover {
                  background url($pathsImages + 'tw-on.svg') 0 0 no-repeat
                }
              }
            }

            &.linked-in {
              a {
                background url($pathsImages + 'in-off.svg') 0 0 no-repeat

                &:hover {
                  background url($pathsImages + 'in-on.svg') 0 0 no-repeat
                }
              }
            }
          }

        }
        iframe {
          margin-left 12px
        }
      }
    }
  }
}