body {
  header {
    border-top 2px solid #bb241d

    @media (max-width $screen-md-min) {
      position fixed
      top 0
      left 0
      right 0
      z-index 99999
    }

    .navbar-wrapper {
      height $navbar-wrapper-lg-height

      > .container {
        position relative
        margin-bottom 0

        .navbar-default {
          background-color transparent
          border none

          .navbar-header {
            transition height 0.5s
            height $navbar-wrapper-lg-height
            background-color #bb241d

            @media (max-width $screen-md-min) {
              height $navbar-wrapper-md-height
            }

            .navbar-toggle {
              margin-top 20px
              margin-right 20px
              border none
              background none

              @media (max-width $screen-md-min) {
                margin-top 13px
                margin-right 10px
              }

              .icon-bar {
                background-color $color-white

                @media (max-width $screen-md-min) {
                  width 20px
                }
              }
            }

            .navbar-logo-bg {
              position absolute
              top 0
              left 0
              height 101px
              width 60px
              background url($pathsImages + 'logo-bg.svg') 0 0 no-repeat
              background-size 60px auto

              @media (max-width $screen-md-min) {
                background none
              }

              .navbar-logo {
                position absolute
                top 15px
                left 10px
                height 36px
                width 125px
                background url($pathsImages + 'logo.svg') 0 0 no-repeat
                background-size 116px auto !important

                @media (max-width $screen-md-min) {
                  top 10px
                  left 15px
                  height 40px
                  background url($pathsImages + 'logo-sm.svg') 0 0 no-repeat
                  background-size 116px auto !important
                }
              }

              @media (min-width $screen-md-min) and (max-width $screen-lg) {
                margin-left 25px
              }
            }
          }

          @media (min-width $screen-md-min) and (max-width $screen-lg-min) {
            height $navbar-wrapper-md-height
            margin 0

            .navbar-right {
              padding-right 20px
            }
          }

          .navbar-collapse {
            ul.nav {
              li {
                a {
                  text-transform uppercase
                  font-weight $font-weight-bold
                  font-size 15px
                  color $color-white
                  line-height $navbar-wrapper-lg-height
                  padding-bottom 0
                  padding-top 0

                  &:hover,
                  &:active,
                  &.active {
                    color #facb63
                  }
                }
                iframe {
                  margin-top 16px
                  margin-left 30px
                }
                &:last-of-type {
                  position relative
                  margin-left 10px
                  min-width 138px
                  &:before {
                    content ' '
                    position absolute
                    top 50%
                    tranform translateY(-50%)
                    height 10px
                    border-left 1px solid #9B9B9B

                  }
                }
                @media (max-width $screen-md-min) {
                  &:last-of-type {
                    margin-left 0
                    &:before {
                      content none
                    }
                  }
                  iframe {
                    margin-left 0
                  }
                }
              }
            }

            @media (max-width $screen-md-min) {
              background #bb241d
              border none

              ul.nav {
                margin-top 15px
                text-align center

                li {
                  a {
                    line-height 40px
                    font-weight $font-weight-bolder
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width $screen-md-min) {
        height $navbar-wrapper-md-height
        margin 0
      }
    }

    .secure-the-future {
      text-transform uppercase
      font-weight $font-weight-light
      font-size 56px
      color $color-white
      line-height 72px
      margin-top 130px
      text-align center
    }

    .secure-the-future-desc {
      width 650px
      font-weight $font-weight-normal
      font-size 24px
      color $color-white
      line-height 40px
      margin 30px auto 0
      text-align center
    }

    .btn-get-started {
      margin 60px auto 0
      width 288px
    }

  }

  &.internal {
    header {
      background-color $color-white

      .navbar-wrapper {
        > .container {
          .navbar-default {
            .navbar-header {
              .navbar-logo-bg {
                .navbar-logo {
                  top 13px
                  background url($pathsImages + 'logo-internal.svg') 0 0 no-repeat

                  @media (max-width $screen-md-min) {
                    top 10px
                    left 15px
                    background url($pathsImages + 'logo-sm.svg') 0 0 no-repeat
                  }
                }
              }
            }

            .navbar-collapse {
              ul.nav {
                li {
                  a {
                    @media (min-width $screen-md-min) {
                      color #424b54
                    }

                    &:hover,
                    &:active,
                    &.active {
                      @media (min-width $screen-md-min) {
                        color #da322c
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}