$pathsNodeModules = '../../node_modules/'
$pathsImages = '../images/'
$pathsFonts = '../fonts/'

/* Font weights */
$font-weight-light = 300
$font-weight-normal = 400
$font-weight-bold = 500
$font-weight-bolder = 700

/* Font size and line-height */
$font-size-base = 14px
$line-height-base = 1.4

/* Bootstrap overrides */
$grid-columns = 48
$grid-gutter-width = 0

/* Base colors */
$color-white = #ffffff
$color-transparent = transparent
$color-white-light = #fcfcfc
$color-white-dark = #f3f3f3
$color-gray = #989898
$color-gray-light = #f0f0f0
$color-gray-dark = #2c302e

$font-family-sans-serif = 'ProximaNova', Helvetica, Arial, sans-serif
$font-family-serif = 'ProximaNova', Georgia, "Times New Roman", Times, serif

$screen-xs = 320px // iphone 4/5
$screen-xs-min = $screen-xs
$screen-sm = 375px // iphone 6
$screen-sm-min = $screen-sm
$screen-md = 660px // phablet
$screen-md-min = $screen-md
$screen-lg = 960px // tablet
$screen-lg-min = $screen-lg
//$screen-xlg = 1600px // tablet
$screen-xlg = 1475px // tablet

$grid-float-breakpoint = $screen-md-min

$main-container-width = 1440px
$content-container-width = 960px

// Small screen / tablet
$container-tablet = (720px + $grid-gutter-width)
//** For `$screen-sm-min` and up.
$container-sm = $container-tablet

// Medium screen / desktop
$container-desktop = ($content-container-width + $grid-gutter-width)
//** For `$screen-md-min` and up.
$container-md = $container-desktop

// Large screen / wide desktop
$container-large-desktop = $container-desktop
//** For `$screen-lg-min` and up.
$container-lg = $container-large-desktop

$navbar-wrapper-lg-height = 60px
$navbar-wrapper-md-height = 60px