{
  "stage": 1, // Stage 1 - Proposal
  "externalHelpers": true,
  "optional": [
    // Stage 0 - Strawman
    "es7.classProperties",
    "es7.functionBind"
  ],
  "retainLines": true,
  "modules": "common"
}
