{% extends 'common/section.twig' %}

{% block content %}
    <div class="intro">
        <div class="wrapper">
            <div class="introContentBlock">
                <div class="blockMsg">
                    <h1 class="blockMsg-headline">{{ post.title|shortcodes }}</h1>
                    <p class="blockMsg-text">
                        <span>{{ post.author.display_name|shortcodes }}</span> —
                        <span>{{ post.post_date|shortcodes|date("F jS, Y") }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
