<div class="conclusion">
    <div class="wrapper">
        <div class="conclusion-content">
            <img class="appsImage"
                 src="{{ theme.path }}/assets/images/content/dashboard-apps.png"
                 srcset="{{ theme.path }}/assets/images/content/dashboard-apps@2x.png 2x"
                 alt="Virgil Dashboard Application"
            >
            <div class="blockMsg">
                <h2 class="blockMsg-headline">9 Languages, Sample Apps</h2>
                <p class="blockMsg-text">
                    The most complete SDK for Seamless Key management + Crypto for IoT solutions.
                    <br>
                    Start now, benefit forever.
                </p>
                <div class="conclusion-actions">
                    <a href="https://developer.virgilsecurity.com/account/signup"
                       class="button-raisedRed"
                    >
                        Create Free Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
