<div class="intro">
    <div class="wrapper">
        <div class="introContentBlock">
            <div class="blockMsg">
                <h1 class="blockMsg-headline">End-to-End IoT Security</h1>
            </div>
            <div class="introActions">
                <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Try For Free</a>
                <a href="https://developer.virgilsecurity.com/" class="docsLink">Documentation</a>
            </div>
        </div>
        <div class="iotFeatures">
            <div class="iotFeature manufacturing">
                <div class="iotFeature-title">Manufacturing</div>
                <div class="iotFeature-description">Protect your IoT device, starting from the manufacturing process</div>
            </div>
            <div class="iotFeature onboarding">
                <div class="iotFeature-title">Onboarding</div>
                <div class="iotFeature-description">Enroll unique data encryption keys and certificates for your users as part of their box opening experience</div>
            </div>
            <div class="iotFeature blockchain-storage">
                <div class="iotFeature-title">Blockchain Storage</div>
                <div class="iotFeature-description">Decentralized and transparent, blockchain structure increases resistance to malicious attacks and entirely excludes compromising</div>
            </div>
            <div class="iotFeature firmware-integrity">
                <div class="iotFeature-title">Firmware Integrity</div>
                <div class="iotFeature-description">Easy-to-use cryptographic building blocks & cloud-based service guarantee firmware authenticity</div>
            </div>
        </div>
    </div>
</div>
