<div class="openSource">
    <div class="wrapper">
        <div class="openSource-bg">
            <div class="openSource-content">
                <div class="blockMsg">
                    <h2 class="blockMsg-headline">We are Open Source</h2>
                    <p class="blockMsg-text">Transparent, enterprise-ready technology with hundreds of peer reviews.</p>
                </div>
                <div class="githubLinkContainer">
                    <a href="https://github.com/VirgilSecurity" class="githubLink">GitHub Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
