.contactsPage {
  .contactUs {
    background: $vs-color-lightGrey1;

    .contactUsContentBlock {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 45px;
      padding-top: (190px - 45px);
    }

    .blockMsg {
      width: 700px;
    }

    .contactUsBlock {
      display: flex;
      margin-top: 85px;
      background: $vs-color-white;
      box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);
    }

    .contactUsForm {
      flex: 0 1 840px;
      width: 840px;
      padding: 35px 40px 50px;
      background: $vs-color-white;

      &-headline {
        @include font-muller();
        display: flex;
        justify-content: space-between;
        font-size: 20px;
      }

      &-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
      }

      &-fieldEmail,
      &-fieldName,
      &-fieldTopic {
        flex: 0 1 30%;
      }

      &-fieldMsg {
        flex: 1 1 100%;

        textarea {
          height: 185px;
        }
      }
    }

    .contactUsInfo {
      @include font-muller();
      flex: 1 1 360px;
      display: flex;
      flex-direction: column;
      width: 360px;
      padding: 35px 40px 50px;
      background: $vs-color-darkRed1;
      background: linear-gradient(to bottom, $vs-color-red1 0%, $vs-color-darkRed1 100%);
      font-size: 12px;
      line-height: 1.5;
      color: $vs-color-white;

      a {
        color: $vs-color-white;
      }

      &-headline {
        font-size: 20px;
      }

      &-fields {
        flex: 1 1;
        margin-top: 40px;
      }

      &-field {
        display: flex;

        & + .contactUsInfo-field {
          margin-top: 45px;
        }

        p + p {
          margin-top: 10px;
        }
      }

      &-fieldText {
        align-self: center;
        margin-left: 30px;
      }

      &-socials {
        display: flex;
        justify-content: space-between;

        a {
          display: block;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        .fa {
          font-size: 25px;
        }
      }
    }
  }

  .partnership {
    padding-top: 245px;

    .partnershipContentBlock {
      border-top: 1px solid $vs-color-lightGrey3;
      padding: 130px 0;
    }

    .blockMsg {
      width: 840px;
    }

    .partnershipContacts {
      margin-top: 65px;
      display: flex;
    }

    .partnershipContact {
      @include font-muller();
      flex: 0 1 35%;

      &-name {
        font-size: 20px;
      }

      &-position {
        margin-top: 10px;
        font-size: 14px;
        color: $vs-color-lightGrey4;
      }

      &-contacts {
        display: flex;
        align-items: center;
        margin-top: 25px;

        li + li {
          margin-left: 25px;
        }

        li:last-child {
          margin-left: 22px;
          border-left: 1px solid $vs-color-lightGrey3;
          padding-left: 22px;
        }

        a {
          display: block;
        }

        .fa {
          vertical-align: bottom;
          font-size: 25px;
          color: $vs-color-darkRed1;
        }
      }
    }
  }

  .map {
    background: url("../../assets/images/bg/contacts/contacts-map-bg.png") center top no-repeat;

    .mapContentBlock {
      display: flex;
      align-items: center;
      height: 700px;
    }

    &-address {
      border-radius: 3px;
      padding: 22px 32px;
      background: $vs-color-darkRed1;
      background: linear-gradient(to right, $vs-color-red1 0%, $vs-color-darkRed1 100%);
      color: $vs-color-white;
      line-height: 1.7;
      box-shadow: 0 25px 20px -20px rgba($vs-color-darkRed2, 0.5);
    }
  }
}