<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virgil Security</title>
</head>
<body>
<div class="page aboutPage">
  <header class="header">
    <div class="headerFull">
      <div class="headerLogo">
        <a href=""><img src="../images/shared/logo.png" alt=""></a>
      </div>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item headerNav-home">
            <a class="firstLevel-itemLink">Home</a>
          </li>
          <li class="firstLevel-item headerNav-documentation">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-book" aria-hidden="true"></i>
                  <span>Documentation</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <div class="thirdLevel-caption">Get started</div>
                <ul class="thirdLevel-list">
                  <li class="thirdLevel-item">
                    <a href="">Encrypted communication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Encrypted storage</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Passwordless Authentication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Data Integrity</a>
                  </li>
                </ul>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-bookmark" aria-hidden="true"></i>
                  <span>API references</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-about">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-shield" aria-hidden="true"></i>
                  <span>About Virgil</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-case" aria-hidden="true"></i>
                  <span>Clients</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-medium" aria-hidden="true"></i>
                  <span>Blog</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-features">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item headerNav-pricing">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item headerNav-contacts">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="button-flatWhite">Login</a>
        <a href="" class="button-raisedWhiteBorder">Get started</a>
      </div>
      <button data-vs-sideNav-open class="headerOpenButton">
        <i class="icon icon-menu"></i>
      </button>
    </div>
    <div class="headerSideBar" data-vs-sideNav-target>
      <button class="headerCloseButton" data-vs-sideNav-close>
        <i class="icon icon-close"></i>
      </button>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Get started</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted communication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted storage</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Passwordless Authentication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Data Integrity</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Documentation</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">API references</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-about">About Virgil</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-clients">Clients</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Blog</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="headerAuth-link"><span>Login / Sign In</span></a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="intro">
      <div class="wrapper">
        <div class="introContentBlock">
          <div class="blockMsg">
            <h1 class="blockMsg-headline">About Virgil</h1>
            <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <ul class="introDataList">
            <li class="introDataItem">
              <div class="introDataItem-image"><img src="../images/pages/about/intro/about-data-accountsIcon.png" alt=""></div>
              <div class="introDataItem-info">
                <h3 class="introDataItem-name">Accounts</h3>
                <p class="introDataItem-value">333</p>
              </div>
            </li>
            <li class="introDataItem">
              <div class="introDataItem-image"><img src="../images/pages/about/intro/about-data-appsIcon.png" alt=""></div>
              <div class="introDataItem-info">
                <h3 class="introDataItem-name">Applications</h3>
                <p class="introDataItem-value">333</p>
              </div>
            </li>
            <li class="introDataItem">
              <div class="introDataItem-image"><img src="../images/pages/about/intro/about-data-cardsIcon.png" alt=""></div>
              <div class="introDataItem-info">
                <h3 class="introDataItem-name">Cards</h3>
                <p class="introDataItem-value">333</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mission">
      <div class="wrapper">
        <div class="missionContentBlock">
          <div class="blockMsg whatWeDo">
            <h2 class="blockMsg-headline">What we do</h2>
            <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <div class="ourMission blockMsg layeredBlock layeredBlock--left">
            <div class="layeredBlockContent">
              <h2 class="blockMsg-headline">Our mission</h2>
              <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="leadership">
      <div class="wrapper">
        <div class="leadershipContentBlock">
          <h2 class="leadership-caption">Leadership</h2>
          <ul class="leadershipProfiles">
            <li class="leadershipProfile">
              <div class="leadershipProfile-image"><img src="../images/pages/about/leadership/about-leadership-wellman.jpg" alt=""></div>
              <h4 class="leadershipProfile-name">Michael W. Wellman</h4>
              <ul class="leadershipProfile-contacts">
                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
              </ul>
              <div class="leadershipProfile-position">CEO & Founder</div>
              <div class="leadershipProfile-text">
                <p>Rice University, AMD, InterCon Systems Corporation, PSINet, Ascend Communications, Lucent, Agere, Proxim, San Diego
                  Research Center, Shared Spectrum, Neutral Net.</p>
                <p>You’ve probably used a product he’s helped build.</p>
                <p><strong>#SecureTheFuture</strong></p>
              </div>
            </li>
            <li class="leadershipProfile">
              <div class="leadershipProfile-image"><img src="../images/pages/about/leadership/about-leadership-dain.jpg" alt=""></div>
              <h4 class="leadershipProfile-name">Dmitry Dain</h4>
              <ul class="leadershipProfile-contacts">
                <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
              </ul>
              <div class="leadershipProfile-position">CTO & Co-founder</div>
              <div class="leadershipProfile-text">
                <p>Lucent, Agere, Proxim, TI, DARPA XG, Divshare/Kadoo, Bitcoin, Virgil Security. It is time to make every developer into an aplied cryptologist.</p>
                <p><strong>#EncryptEverything</strong></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="highlights">
      <div class="wrapper">
        <div class="highlightsContentBlock layeredBlock layeredBlock--left">
          <div id="aboutHighlightsCarousel" class="highlightsCarousel layeredBlockContent carousel slide" data-ride="carousel" data-pause="hover">
            <div class="blockMsg">
              <h3 class="blockMsg-headline">Press highlights</h3>
              <ul class="highlightsCarousel-controls carousel-indicators">
                <li class="highlightsCarousel-control active" data-target="#aboutHighlightsCarousel" data-slide-to="0">
                  <span class="fa fa-circle"></span>
                </li>
                <li class="highlightsCarousel-control" data-target="#aboutHighlightsCarousel" data-slide-to="1">
                  <span class="fa fa-circle"></span>
                </li>
              </ul>
            </div>
            <div class="highlightsOverview">
              <a href="#aboutHighlightsCarousel" class="highlightsCarousel-previous" data-slide="prev"></a>
              <ul class="highlightList carousel-inner">
                <li class="highlightItemGroup carousel-item active">
                  <div class="highlightItem">
                    <div class="highlightItem-date">May 3, 2016</div>
                    <p class="highlightItem-text">&#8220;Adding end-to-end encrypted messaging to your app just got a lot easier&#8221;</p>
                    <div class="highlightItem-image"><img src="../images/pages/about/highlights/about-highlights-tcTechCrunch.png" alt=""></div>
                  </div>
                  <div class="highlightItem">
                    <div class="highlightItem-date">October 13, 2016</div>
                    <p class="highlightItem-text">&#8220;Virgil Security Raises $4M for Application Security&#8221;</p>
                    <div class="highlightItem-image"><img src="../images/pages/about/highlights/about-highlights-eweek.png" alt=""></div>
                  </div>
                </li>
                <li class="highlightItemGroup carousel-item">
                  <div class="highlightItem">
                    <div class="highlightItem-date">May 3, 2016</div>
                    <p class="highlightItem-text">&#8220;Adding end-to-end encrypted messaging to your app just got a lot easier&#8221;</p>
                    <div class="highlightItem-image"><img src="../images/pages/about/highlights/about-highlights-tcTechCrunch.png" alt=""></div>
                  </div>
                  <div class="highlightItem">
                    <div class="highlightItem-date">October 13, 2016</div>
                    <p class="highlightItem-text">&#8220;Virgil Security Raises $4M for Application Security&#8221;</p>
                    <div class="highlightItem-image"><img src="../images/pages/about/highlights/about-highlights-eweek.png" alt=""></div>
                  </div>
                </li>
              </ul>
              <a href="#aboutHighlightsCarousel" class="highlightsCarousel-next" data-slide="next"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="awards">
      <div class="wrapper">
        <div class="awardsContentBlock">
          <h2 class="awards-caption">Awards</h2>
          <ul class="awardList">
            <li><img src="../images/pages/about/awards/about-awards-TechInMotion.png" alt=""></li>
            <li><img src="../images/pages/about/awards/about-awards-RED.png" alt=""></li>
            <li><img src="../images/pages/about/awards/about-awards-CTIA.png" alt=""></li>
            <li><img src="../images/pages/about/awards/about-awards-Tie.png" alt=""></li>
            <li><img src="../images/pages/about/awards/about-awards-TC.png" alt=""></li>
            <li><img src="../images/pages/about/awards/about-awards-50onFire.png" alt=""></li>
            <li><img src="../images/pages/about/awards/about-awards-DMV.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="investors">
      <div class="wrapper">
        <div class="investorsContentBlock">
          <h2 class="investors-caption">Investors</h2>
          <ul class="investorList">
            <li><img src="../images/pages/about/investors/about-investors-Bloomberg.png" alt=""></li>
            <li><img src="../images/pages/about/investors/about-investors-MACH37.png" alt=""></li>
            <li><img src="../images/pages/about/investors/about-investors-kec.png" alt=""></li>
            <li><img src="../images/pages/about/investors/about-investors-wlc.png" alt=""></li>
            <li><img src="../images/pages/about/investors/about-investors-baltimoreangels.png" alt=""></li>
            <li><img src="../images/pages/about/investors/about-investors-Nextgen.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footerContacts">
          <div class="footerContacts-logo">
            <a href=""><img src="../images/shared/logo.png" alt=""></a>
          </div>
          <div class="footerContacts-hashtag">#EncryptEverything</div>
          <ul class="footerContacts-socials">
            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
            <li><a href=""><i class="fa fa fa-github"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href=""><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
        <nav class="footerNav">
          <div class="footerNavBlock footerNavBlock-sources">
            <div class="footerNavBlock-caption">Navigation</div>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Developers</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Developers</div>
            <ul>
              <li><a href="">Documentation</a></li>
              <li><a href="">API reference</a></li>
              <li><a href="">Applications</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Contact us</div>
            <ul>
              <li><a href="">Contacts</a></li>
              <li><a href="mailto:">support@virgil.net</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
        <a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
      </div>
    </div>
  </footer>
  <div class="overlay" data-vs-sideNav-overlay></div>
</div>
</body>
</html>