<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virgil Security</title>
</head>
<body>
<div class="contacts">
  <header class="header header--dark">
    <div class="header-logo">
      <a href="">
        <img src="../images/shared/logo-red.png" alt="">
      </a>
    </div>
    <nav class="headerNav">
      <ul class="firstLevel-list">
        <li class="firstLevel-item headerNav-home">
          <a class="firstLevel-itemLink">Home</a>
        </li>
        <li class="firstLevel-item headerNav-documentation">
          <a href="" class="firstLevel-itemLink">Developers</a>
          <ul class="secondLevel-list">
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-book" aria-hidden="true"></i>
                <span>Documentation</span>
              </a>
            </li>
            <li class="secondLevel-item">
              <div class="thirdLevel-caption">Get started</div>
              <ul class="thirdLevel-list">
                <li class="thirdLevel-item">
                  <a href="">Encrypted communication</a>
                </li>
                <li class="thirdLevel-item">
                  <a href="">Encrypted storage</a>
                </li>
                <li class="thirdLevel-item">
                  <a href="">Passwordless Authentication</a>
                </li>
                <li class="thirdLevel-item">
                  <a href="">Data Integrity</a>
                </li>
              </ul>
            </li>
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-bookmark" aria-hidden="true"></i>
                <span>API references</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="firstLevel-item headerNav-about">
          <a class="firstLevel-itemLink">Company</a>
          <ul class="secondLevel-list">
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-shield" aria-hidden="true"></i>
                <span>About Virgil</span>
              </a>
            </li>
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-case" aria-hidden="true"></i>
                <span>Clients</span>
              </a>
            </li>
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-medium" aria-hidden="true"></i>
                <span>Blog</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="firstLevel-item headerNav-features">
          <a class="firstLevel-itemLink">Features</a>
        </li>
        <li class="firstLevel-item headerNav-pricing">
          <a class="firstLevel-itemLink">Pricing</a>
        </li>
        <li class="firstLevel-item headerNav-contacts">
          <a class="firstLevel-itemLink">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="headerAuth">
      <a href="" class="button-flatWhite">Login</a>
      <a href="" class="button-raisedWhiteBorder">Get started</a>
    </div>
  </header>
  <div class="contactUs">
    <div class="wrapper">
      <div class="contactUsContentBlock">
        <div class="contactUsMsg">
          <h1 class="contactUsMsg-headline">Contacts</h1>
          <p class="contactUsMsg-text">We will be happy to help you with any questions. Call us, send an e-mail or use the feedback form.</p>
        </div>
        <div class="contactUsBlock">
          <div class="form contactUsForm">
            <h3 class="contactUsForm-headline">
              <span>Send us a message</span>
              <i class="icon icon-mail" aria-hidden="true"></i>
            </h3>
            <div class="formFields contactUsForm-fields">
              <div class="formField formFieldText contactUsForm-fieldEmail">
                <label for="contactUsFormEmail" class="formField-label formFieldText-label">Email address</label>
                <input id="contactUsFormEmail" type="text" class="formField-input formFieldText-input" placeholder="Encrypteverything@mail.com">
              </div>
              <div class="formField formFieldText contactUsForm-fieldName">
                <label for="contactUsFormName" class="formField-label formFieldText-label">Name</label>
                <input id="contactUsFormName" type="text" class="formField-input formFieldText-input" placeholder="Julius Ceasar">
              </div>
              <div class="formField formFieldText contactUsForm-fieldTopic">
                <label for="contactUsFormTopic" class="formField-label formFieldText-label">Topic</label>
                <input id="contactUsFormTopic" type="text" class="formField-input formFieldText-input" placeholder="Encrypteverything@mail.com">
              </div>
              <div class="formField formFieldText contactUsForm-fieldMsg">
                <label for="contactUsFormMsg" class="formField-label formFieldText-label">Message</label>
                <textarea id="contactUsFormMsg" class="formField-input formFieldText-input" placeholder="Hi there!"></textarea>
              </div>
            </div>
            <div class="formActions contactUsForm-actions">
              <button class="button-raisedRed">Send</button>
            </div>
          </div>
          <div class="contactUsInfo">
            <h3 class="contactUsInfo-headline">Contact information</h3>
            <div class="contactUsInfo-fields">
              <div class="contactUsInfo-field contactUsInfo-fieldAddress">
                <div class="contactUsInfo-fieldImage">
                  <i class="icon icon-geo" aria-hidden="true"></i>
                </div>
                <div class="contactUsInfo-fieldText">
                  <p>Virgil Security, Inc.</p>
                  <p>9296 Sumner Lake BLVD </br> Manassas, Virginia 20110</p>
                </div>
              </div>
              <div class="contactUsInfo-field contactUsInfo-fieldEmail">
                <div class="contactUsInfo-fieldImage">
                  <i class="icon icon-help" aria-hidden="true"></i>
                </div>
                <div class="contactUsInfo-fieldText">
                  <a href="mailto:">support@virgilsecurity.com</a>
                </div>
              </div>
              <div class="contactUsInfo-field contactUsInfo-fieldPhone">
                <div class="contactUsInfo-fieldImage">
                  <i class="icon icon-phone" aria-hidden="true"></i>
                </div>
                <div class="contactUsInfo-fieldText">
                  <a href="tel:">(800) 900-200-300</a>
                </div>
              </div>
            </div>
            <ul class="contactUsInfo-socials">
              <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
              <li><a href=""><i class="fa fa fa-github"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href=""><i class="fa fa-medium"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partnership">
    <div class="wrapper">
      <div class="partnershipContentBlock">
        <div class="partnershipMsg">
          <h2 class="partnershipMsg-headline">Partnership</h2>
          <p class="partnershipMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="partnershipContacts">
          <div class="partnershipContact">
            <div class="partnershipContact-name">Michael W. Wellman</div>
            <div class="partnershipContact-position">CEO & Founder</div>
            <ul class="partnershipContact-contacts">
              <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href="mailto:"><i class="icon icon-mail"></i></a></li>
            </ul>
          </div>
          <div class="partnershipContact">
            <div class="partnershipContact-name">Dmitry Dain</div>
            <div class="partnershipContact-position">CTO & co-Founder</div>
            <ul class="partnershipContact-contacts">
              <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href="mailto:"><i class="icon icon-mail"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <div class="wrapper">
      <div class="mapContentBlock">
        <div class="map-address">
          <p>9296 Sumner Lake Blvd, </br> Manassas, VA 20110, USA</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footerContacts">
          <div class="footerContacts-logo">
            <img src="../images/shared/logo.png" alt="">
          </div>
          <div class="footerContacts-hashtag">#EncryptEverything</div>
          <ul class="footerContacts-socials">
            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
            <li><a href=""><i class="fa fa-github"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href=""><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
        <nav class="footerNav">
          <div class="footerNavBlock footerNavBlock-sources">
            <div class="footerNavBlock-caption">Navigation</div>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Developers</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Developers</div>
            <ul>
              <li><a href="">Documentation</a></li>
              <li><a href="">API reference</a></li>
              <li><a href="">Applications</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Contact us</div>
            <ul>
              <li><a href="">Contacts</a></li>
              <li><a href="mailto:">support@virgil.net</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
        <a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>