<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Virgil Security</title>
</head>
<body>
<div class="page featuresPage" data-vs-page="features">
  <header class="header">
    <div class="headerFull" data-vs-sticky-header>
      <div class="headerLogo">
        <a href=""><img src="../images/shared/logo-red.svg" width="145" height="47" alt=""></a>
      </div>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item headerNav-home">
            <a class="firstLevel-itemLink">Home</a>
          </li>
          <li class="firstLevel-item headerNav-documentation">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-book-red" aria-hidden="true"></i>
                  <span>Documentation</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <div class="thirdLevel-caption">Get started</div>
                <ul class="thirdLevel-list">
                  <li class="thirdLevel-item">
                    <a href="">Encrypted communication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Encrypted storage</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Passwordless Authentication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Data Integrity</a>
                  </li>
                </ul>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-bookmark-red" aria-hidden="true"></i>
                  <span>API references</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-about">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-shield-red" aria-hidden="true"></i>
                  <span>About Virgil</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-case-red" aria-hidden="true"></i>
                  <span>Clients</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-medium-red" aria-hidden="true"></i>
                  <span>Blog</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-features">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item headerNav-pricing">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item headerNav-contacts">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="button-flatWhite">Login</a>
        <a href="" class="button-raisedWhiteBorder">Get started</a>
      </div>
      <button data-vs-sideNav-open class="headerOpenButton">
        <i class="icon icon-menu-red"></i>
      </button>
    </div>
    <div class="headerSideBar" data-vs-sideNav-target>
      <div class="headerCloseButton">
        <button data-vs-sideNav-close>
          <i class="icon icon-close-red"></i>
        </button>
      </div>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Get started</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted communication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted storage</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Passwordless Authentication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Data Integrity</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Documentation</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">API references</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-about">About Virgil</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-clients">Clients</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Blog</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="headerAuth-link"><span>Login / Sign In</span></a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="intro cryptogram">
      <div class="wrapper">
        <div class="introContentBlock">
          <div class="blockMsg">
            <h1 class="blockMsg-headline">Our features</h1>
            <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <ul class="introFeatures">
            <li class="introFeature">
              <div class="introFeature-image">
                <img src="../images/pages/features/intro/features-featureIcon1.png" alt="">
              </div>
              <div class="introFeature-text">Everything you need to deploy end-to-end security in your application.</div>
            </li>
            <li class="introFeature">
              <div class="introFeature-image">
                <img src="../images/pages/features/intro/features-featureIcon2.png" alt="">
              </div>
              <div class="introFeature-text">Continuous support for the most modern development languages and platforms.</div>
            </li>
            <li class="introFeature">
              <div class="introFeature-image">
                <img src="../images/pages/features/intro/features-featureIcon3.png" alt="">
              </div>
              <div class="introFeature-text">Embedded applications support: ARM Cortex M0 and other deeply embedded systems.</div>
            </li>
            <li class="introFeature">
              <div class="introFeature-image">
                <img src="../images/pages/features/intro/features-featureIcon4.png" alt="">
              </div>
              <div class="introFeature-text">Open Source, modern, transparent cryptography with support from Virgil and ARM.</div>
            </li>
            <li class="introFeature">
              <div class="introFeature-image">
                <img src="../images/pages/features/intro/features-featureIcon5.png" alt="">
              </div>
              <div class="introFeature-text">World’s most agile crypto library with per datagram cryptographic agility.</div>
            </li>
            <li class="introFeature">
              <div class="introFeature-image">
                <img src="../images/pages/features/intro/features-featureIcon6.png" alt="">
              </div>
              <div class="introFeature-text">Global, verifiable, flexible key infrastructure in the core of the ecosystem.</div>
            </li>
          </ul>
        </div>
        <div class="cryptogramContentBlock">
          <div class="blockMsg">
            <h2 class="blockMsg-headline">Our cryptogram</h2>
          </div>
          <div class="comparisonBlock cryptogramList">
            <div class="comparisonItem cryptogramItem">
              <div class="cryptogramItem-image">
                <img src="../images/pages/features/cryptogram/features-cryptogram-ecies.png" alt="">
              </div>
              <ul class="cryptogramItem-features">
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Sender’s ephemeral public key</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Tag</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Encrypted content</span>
                </li>
              </ul>
            </div>
            <div class="comparisonItem comparisonItem--highlight cryptogramItem cryptogramItem--highlight">
              <div class="cryptogramItem-image">
                <img src="../images/pages/features/cryptogram/features-cryptogram-vs.png" alt="">
              </div>
              <ul class="cryptogramItem-features">
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-white" aria-hidden="true"></i>
                  <span>Algorithms identifiers</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-white" aria-hidden="true"></i>
                  <span>Sender’s ephemeral public key</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-white" aria-hidden="true"></i>
                  <span>Tag</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-white" aria-hidden="true"></i>
                  <span>Encrypted content</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-white" aria-hidden="true"></i>
                  <span>User’s encrypted data</span>
                </li>
              </ul>
            </div>
            <div class="comparisonItem cryptogramItem">
              <div class="cryptogramItem-image">
                <img src="../images/pages/features/cryptogram/features-cryptogram-cms.png" alt="">
              </div>
              <ul class="cryptogramItem-features">
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Algorithms identifiers</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Sender’s ephemeral public key</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Tag</span>
                </li>
                <li class="cryptogramItem-feature">
                  <i class="icon icon-check-grey" aria-hidden="true"></i>
                  <span>Encrypted content</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="components">
      <div class="wrapper">
        <div class="componentsContentBlock layeredBlock layeredBlock--right">
          <div class="componentsOverview layeredBlockContent">
            <div class="blockMsg">
              <h2 class="blockMsg-headline">Add Security everywhere you want just In Minutes using Virgil tools</h2>
            </div>
            <ul class="componentList">
              <li class="componentItem">
                <div class="componentItem-image">
                  <img src="../images/pages/features/components/features-components-serviceIcon.png" alt="">
                </div>
                <div class="componentItem-info">
                  <h3 class="componentItem-headline">Virgil Keys Service</h3>
                  <p class="componentItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna utenim ad minim veniam</p>
                </div>
              </li>
              <li class="componentItem">
                <div class="componentItem-image">
                  <img src="../images/pages/features/components/features-components-apiIcon.png" alt="">
                </div>
                <div class="componentItem-info">
                  <h3 class="componentItem-headline">Virgil Keys API</h3>
                  <p class="componentItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna utenim ad minim veniam</p>
                </div>
              </li>
              <li class="componentItem">
                <div class="componentItem-image">
                  <img src="../images/pages/features/components/features-components-libraryIcon.png" alt="">
                </div>
                <div class="componentItem-info">
                  <h3 class="componentItem-headline">Virgil Crypto Libary</h3>
                  <p class="componentItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna utenim ad minim veniam</p>
                </div>
              </li>
            </ul>
            <div class="componentLinks">
              <a href="" class="button-raisedWhiteBorder-static">
                <i class="icon icon-book-white"></i>
                <span>Documentation</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="wrapper">
        <div class="featuresContentBlock">
          <ul class="featureList">
            <li><img src="../images/pages/features/features/features-features-c.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-cplusplus.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-csharp.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-js.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-python.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-ruby.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-node.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-swift.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-apple.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-go.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-java.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-dotnet.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-php.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-asmjs.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-android.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-windows.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-ios.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-macos.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-ff.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-chrome.png" alt=""></li>
            <li><img src="../images/pages/features/features/features-features-nrf52.png" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="faq">
      <div class="wrapper">
        <div class="faqContentBlock">
          <h2 class="faq-caption">FAQ</h2>
          <ul class="faqList" data-vs-faq-answerList>
            <li id="faq-q1" data-vs-faq-answer class="faqItem">
              <div class="faqItem-count">01</div>
              <div class="faqItem-text">
                <p>Virgil consists of an open-source encryption library, which implements
                  Cryptographic Message Syntax (CMS) and Elliptic Curve Integrated Encryption Scheme
                  (ECIES) (including RSA schema), a Key Management API, and a cloud-based Key
                  Management Service (Virgil Keys). The Virgil Keys Service consists of a public key
                  service and a private key escrow service..</p>
                <p>See our Technical Specifications for the up-to-date list of programming languages and
                  platforms supported by our library. Generally all modern platforms and programming
                  languages are supported.</p>
              </div>
            </li>
            <li id="faq-q2" data-vs-faq-answer class="faqItem">
              <div class="faqItem-count">02</div>
              <div class="faqItem-text">
                <p>No. Only the AES encryption key used to secure the payload (default AES-256) will
                  be re-encrypted for each individual recipient. The payload itself will not be
                  re-encrypted.</p>
              </div>
            </li>
          </ul>
          <div class="faqContents layeredBlock layeredBlock--top">
            <ul class="faqContentList layeredBlockContent">
              <li class="faqContentItem">
                <a href="#faq-q1" data-vs-faq-question class="faqContentItem-link">
                  <span class="faqContentItem-linkCount">01</span>
                  <span class="faqContentItem-linkText">If I send a message to a channel that contains many recipients does it mean that the message will be encrypted as many times as there are recipients in the channel?</span>
                </a>
              </li>
              <li class="faqContentItem">
                <a href="#faq-q2" data-vs-faq-question class="faqContentItem-link">
                  <span class="faqContentItem-linkCount">02</span>
                  <span class="faqContentItem-linkText">If I send a message to a channel that contains many recipients does it mean that the message will be encrypted as many times as there are recipients in the channel?</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footerContacts">
          <div class="footerContacts-logo">
            <a href=""><img src="../images/shared/logo-white.svg" width="145" height="47" alt=""></a>
          </div>
          <div class="footerContacts-hashtag">#EncryptEverything</div>
          <ul class="footerContacts-socials">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-github"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-linkedin"></i></a></li>
            <li><a href=""><i class="icon icon-medium"></i></a></li>
          </ul>
        </div>
        <nav class="footerNav">
          <div class="footerNavBlock footerNavBlock-sources">
            <div class="footerNavBlock-caption">Navigation</div>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Developers</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Developers</div>
            <ul>
              <li><a href="">Documentation</a></li>
              <li><a href="">API reference</a></li>
              <li><a href="">Applications</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Contact us</div>
            <ul>
              <li><a href="">Contacts</a></li>
              <li><a href="mailto:">support@virgil.net</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
        <div class="footer-links">
          <a href="mailto:" class="footer-email">support@virgilsecurity.com</a>
          <a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="scrollToTop" data-vs-sticky-scrollToTop>
    <div class="scrollToTop-btn button-raisedRed"><i class="icon icon-arrowTop-white"></i></div>
  </div>
  <div class="overlay" data-vs-sideNav-overlay></div>
</div>
</body>
</html>