<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virgil Security</title>
</head>
<body>
<div class="pricing">
  <header class="header">
    <div class="header-logo">
      <a href="">
        <img src="../images/shared/logo.png" alt="">
      </a>
    </div>
    <nav class="headerNav">
      <ul class="firstLevel-list">
        <li class="firstLevel-item headerNav-home">
          <a class="firstLevel-itemLink">Home</a>
        </li>
        <li class="firstLevel-item headerNav-documentation">
          <a href="" class="firstLevel-itemLink">Developers</a>
          <ul class="secondLevel-list">
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-book" aria-hidden="true"></i>
                <span>Documentation</span>
              </a>
            </li>
            <li class="secondLevel-item">
              <div class="thirdLevel-caption">Get started</div>
              <ul class="thirdLevel-list">
                <li class="thirdLevel-item">
                  <a href="">Encrypted communication</a>
                </li>
                <li class="thirdLevel-item">
                  <a href="">Encrypted storage</a>
                </li>
                <li class="thirdLevel-item">
                  <a href="">Passwordless Authentication</a>
                </li>
                <li class="thirdLevel-item">
                  <a href="">Data Integrity</a>
                </li>
              </ul>
            </li>
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-bookmark" aria-hidden="true"></i>
                <span>API references</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="firstLevel-item headerNav-about">
          <a class="firstLevel-itemLink">Company</a>
          <ul class="secondLevel-list">
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-shield" aria-hidden="true"></i>
                <span>About Virgil</span>
              </a>
            </li>
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-case" aria-hidden="true"></i>
                <span>Clients</span>
              </a>
            </li>
            <li class="secondLevel-item">
              <a href="" class="secondLevel-itemLink">
                <i class="icon icon-medium" aria-hidden="true"></i>
                <span>Blog</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="firstLevel-item headerNav-features">
          <a class="firstLevel-itemLink">Features</a>
        </li>
        <li class="firstLevel-item headerNav-pricing">
          <a class="firstLevel-itemLink">Pricing</a>
        </li>
        <li class="firstLevel-item headerNav-contacts">
          <a class="firstLevel-itemLink">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="headerAuth">
      <a href="" class="button-flatWhite">Login</a>
      <a href="" class="button-raisedWhiteBorder">Get started</a>
    </div>
  </header>
  <div class="intro">
    <div class="wrapper">
      <div class="introContentBlock">
        <div class="introMsg">
          <h1 class="introMsg-headline">Pricing</h1>
          <p class="introMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pricingPlans">
    <div class="wrapper">
      <div class="pricingPlansContentBlock">
        <div class="pricingPlansMsg">
          <p>Choose a plan below.</p>
          <p>Dont worry, you can always change plans later.</p>
        </div>
        <div class="comparisonBlock pricingPlanList">
          <div class="comparisonItem pricingPlanItem">
            <div class="pricingPlanItem-title">Starter</div>
            <div class="pricingPlanItem-price">
              <mark>free</mark>
            </div>
            <ul class="pricingPlanItem-features">
              <li class="pricingPlanItem-feature"><mark>1000</mark> active keys</li>
              <li class="pricingPlanItem-feature"><mark>1 million</mark> requests/month</li>
              <li class="pricingPlanItem-feature pricingPlanItem-feature--disabled">Geo-balancing</li>
              <li class="pricingPlanItem-feature pricingPlanItem-feature--disabled">Support Available</li>
            </ul>
            <div class="pricingPlanItem-link">
              <a class="button-raisedRedBorder-static button-disabled">Choose plan</a>
            </div>
          </div>
          <div class="comparisonItem comparisonItem--highlight pricingPlanItem pricingPlanItem--highlight">
            <div class="pricingPlanItem-title">Standard</div>
            <div class="pricingPlanItem-price">
              <sup>&#36;</sup><mark>50</mark>/<sub>year</sub>
            </div>
            <ul class="pricingPlanItem-features">
              <li class="pricingPlanItem-feature"><mark>25,000</mark> active keys</li>
              <li class="pricingPlanItem-feature"><mark>5 million</mark> requests/month</li>
              <li class="pricingPlanItem-feature pricingPlanItem-feature--disabled">Geo-balancing</li>
              <li class="pricingPlanItem-feature pricingPlanItem-feature--disabled">Support Available</li>
            </ul>
            <div class="pricingPlanItem-link">
              <a class="button-raisedWhiteBorder-static button-disabled">Choose plan</a>
            </div>
          </div>
          <div class="comparisonItem pricingPlanItem">
            <div class="pricingPlanItem-title">Business</div>
            <div class="pricingPlanItem-price">
              <sup>&#36;</sup><mark>50</mark>/<sub>mo</sub>
            </div>
            <ul class="pricingPlanItem-features">
              <li class="pricingPlanItem-feature"><mark>250,000</mark> active keys</li>
              <li class="pricingPlanItem-feature"><mark>100 million</mark> requests/month</li>
              <li class="pricingPlanItem-feature">Geo-balancing</li>
              <li class="pricingPlanItem-feature">Support Available</li>
            </ul>
            <div class="pricingPlanItem-link">
              <a class="button-raisedRedBorder-static button-disabled">Choose plan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="enterprise">
    <div class="wrapper">
      <div class="enterpriseContentBlock">
        <div class="enterpriseOffer">
          <div class="enterpriseOffer-image"><img src="../images/pages/pricing/enterprise/pricing-caseIcon.png" alt=""></div>
            <div class="enterpriseOffer-msg">
            <h3 class="enterpriseOffer-headline">Enterprise</h3>
            <p class="enterpriseOffer-text">Contact us to get our special offer for enterprises.</p>
          </div>
          <ul class="enterpriseOffer-list">
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span><mark>Unlimited</mark> keys</span>
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span><mark>Unlimited</mark> requests</span>
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span>Geo-Balancing</span>
            </li>
            <li>
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              <span>24/7 support</span>
            </li>
          </ul>
        </div>
        <div class="enterprise-links">
          <a href="" class="button-raisedRed">Contact us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="includes">
    <div class="wrapper">
      <div class="includesContentBlock">
        <div class="includesMsg">
          <h2 class="includesMsg-headline">Includes</h2>
          <p class="includesMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <ul class="includesList">
          <li class="includesItem">
            <div class="includesItem-image"><img src="../images/pages/pricing/includes/pricing-browserIcon.png" alt=""></div>
            <h3 class="includesItem-headline">Control panel</h3>
            <p class="includesItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </li>
          <li class="includesItem">
            <div class="includesItem-image"><img src="../images/pages/pricing/includes/pricing-toolIcon.png" alt=""></div>
            <h3 class="includesItem-headline">Manegment tools</h3>
            <p class="includesItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </li>
          <li class="includesItem">
            <div class="includesItem-image"><img src="../images/pages/pricing/includes/pricing-statsIcon.png" alt=""></div>
            <h3 class="includesItem-headline">Statistics</h3>
            <p class="includesItem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="conclusion">
    <div class="wrapper">
      <div class="conclusionContentBlock">
        <div class="conclusionMsg">
          <h2 class="conclusionMsg-headline">Let's start to encrypt!</h2>
          <div class="conclusionMsg-links">
            <a href="" class="button-raisedWhite">Create free account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footerContacts">
          <div class="footerContacts-logo">
            <img src="../images/shared/logo.png" alt="">
          </div>
          <div class="footerContacts-hashtag">#EncryptEverything</div>
          <ul class="footerContacts-socials">
            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
            <li><a href=""><i class="fa fa fa-github"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href=""><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
        <nav class="footerNav">
          <div class="footerNavBlock footerNavBlock-sources">
            <div class="footerNavBlock-caption">Navigation</div>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Developers</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Developers</div>
            <ul>
              <li><a href="">Documentation</a></li>
              <li><a href="">API reference</a></li>
              <li><a href="">Applications</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Contact us</div>
            <ul>
              <li><a href="">Contacts</a></li>
              <li><a href="mailto:">support@virgil.net</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
        <a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>