.page {
  .intro {
    background-repeat: no-repeat;
    background-position: center top;

    .introContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 0 90px;

      @media (min-width: $breakpoint-md) {
        padding: 185px 0 90px;
      }
    }
  }
}

.blockMsg {
  &-headline {
    @include blockMsg-headline();
  }

  &-text {
    @include blockMsg-text();
  }
}

.layeredBlock {
  position: relative;
  z-index: 1;
  border-radius: 3px 0 0 3px;
  background: $vs-color-darkBlue5;
  box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);

  .layeredBlockContent {
    position: relative;
    z-index: 2;
    border-radius: 3px 0 0 3px;
    padding: 50px;
    background: $vs-color-darkBlue5;
    color: $vs-color-white;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 100%;
    top: 0;
    height: 100%;
    width: 2000px;
    background: $vs-color-darkBlue5;
    box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -50px;
    left: -50px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: $vs-color-darkRed1;
    background: linear-gradient(to bottom, $vs-color-red1 0%, $vs-color-darkRed1 100%);
  }
}