.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.25s background-image;

  + span {
    margin-left: 0.5em;
    vertical-align: middle;
  }

  &-book {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-book.png");
  }

  &-book-white {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-book-white.png");
  }

  &-book-black {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-book-black.png");
  }

  &-bookmark {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-bookmark.png");
  }

  &-shield {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-shield.png");
  }

  &-case {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-case.png");
  }

  &-mail {
    width: 30px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-mail.png");
  }

  &-geo {
    width: 22px;
    height: 29px;
    background-image: url("../assets/images/ui/icons/icon-geo.png");
  }

  &-help {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-help.png");
  }

  &-phone {
    width: 22px;
    height: 25px;
    background-image: url("../assets/images/ui/icons/icon-phone.png");
  }

  &-menu-red {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-menu-red.svg");
  }

  &-close {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-close.png");
  }

  // Arrows
  &-arrowTop {
    width: 20px;
    height: 11px;
    background-image: url("../assets/images/ui/icons/icon-arrowTop.svg");
  }

  &-arrowRight {
    width: 15px;
    height: 10px;
    background-image: url("../assets/images/ui/icons/icon-arrowRight.png");
    vertical-align: baseline;
  }

  // Socials
  &-medium-red {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-medium-red.png");
  }

  &-facebook {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-facebook.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-facebook-hover.svg");
    }
  }

  &-github {
    width: 25px;
    height: 24px;
    background-image: url("../assets/images/ui/icons/icon-github.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-github-hover.svg");
    }
  }

  &-linkedin {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-linkedin.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-linkedin-hover.svg");
    }
  }

  &-medium {
    width: 27px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-medium.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-medium-hover.svg");
    }
  }

  &-twitter {
    width: 23px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-twitter.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-twitter-hover.svg");
    }
  }
}