.icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  transition: 0.25s background-image, 0.25s opacity;

  + span {
    margin-left: 0.5em;
    vertical-align: middle;
  }

  &-book-red {
    background-image: url("../assets/images/ui/icons/icon-book-red@2x.png");
    background-size: 18px 16px;
  }

  &-book-white {
    background-image: url("../assets/images/ui/icons/icon-book-white@2x.png");
    background-size: 18px 16px;
  }

  &-book-black {
    background-image: url("../assets/images/ui/icons/icon-book-black@2x.png");
    background-size: 18px 16px;
  }

  &-bookmark-red {
    background-image: url("../assets/images/ui/icons/icon-bookmark-red@2x.png");
    background-size: 14px 16px;
  }

  &-shield-red {
    background-image: url("../assets/images/ui/icons/icon-shield-red@2x.png");
    background-size: 16px 18px;
  }

  &-case-red {
    background-image: url("../assets/images/ui/icons/icon-case-red@2x.png");
    background-size: 20px 17px;
  }

  &-medium-red {
    background-image: url("../assets/images/ui/icons/icon-medium-red@2x.png");
    background-size: 22px 18px;
  }

  &-warning-white {
    height: 28px;
    background-image: url("../assets/images/ui/icons/icon-warning-white.svg");
    background-size: 60px 63px;
  }

  &-mail-red {
    width: 30px;
    background-image: url("../assets/images/ui/icons/icon-mail-red@2x.png");
    background-size: 30px 20px;
  }

  &-geo-white {
    width: 18px;
    height: 29px;
    background-image: url("../assets/images/ui/icons/icon-geo-white@2x.png");
    background-size: 18px 29px;
  }

  &-help-white {
    background-image: url("../assets/images/ui/icons/icon-help-white@2x.png");
  }

  &-phone-white {
    height: 25px;
    background-image: url("../assets/images/ui/icons/icon-phone-white@2x.png");
    background-size: 16px 25px;
  }

  /** ---------------------- Check ----------------------**/
  &-check-red {
    background-image: url("../assets/images/ui/icons/icon-check-red@2x.png");
  }

  &-check-grey {
    background-image: url("../assets/images/ui/icons/icon-check-grey@2x.png");
  }

  &-check-white {
    background-image: url("../assets/images/ui/icons/icon-check-white@2x.png");
  }

  /** ---------------------- Actions ----------------------**/
  &-menu-red {
    background-image: url("../assets/images/ui/icons/icon-menu-red.svg");
    background-size: 20px 20px;
  }

  &-close-red {
    background-image: url("../assets/images/ui/icons/icon-close-red@2x.png");
    background-size: 20px 20px;
  }

  /** ---------------------- Arrows ----------------------**/
  &-arrowTop-white {
    height: 13px;
    background-image: url("../assets/images/ui/icons/icon-arrowTop-white.svg");
  }

  &-arrowRight-white {
    width: 7px;
    height: 10px;
    background-image: url("../assets/images/ui/icons/icon-arrowRight-white.svg");
    background-size: 7px 10px;
    vertical-align: baseline;
  }

  /** ---------------------- Socials:color ----------------------**/
  &-facebook {
    background-image: url("../assets/images/ui/icons/icon-facebook.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-facebook-hover.svg");
    }
  }

  &-github {
    background-image: url("../assets/images/ui/icons/icon-github.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-github-hover.svg");
    }
  }

  &-linkedin {
    background-image: url("../assets/images/ui/icons/icon-linkedin.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-linkedin-hover.svg");
    }
  }

  &-medium {
    width: 27px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-medium.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-medium-hover.svg");
    }
  }

  &-twitter {
    width: 23px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-twitter.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-twitter-hover.svg");
    }
  }

  /** ---------------------- Socials:white ----------------------**/
  &-facebook-white {
    opacity: 0.5;
    background-image: url("../assets/images/ui/icons/icon-facebook.svg");

    &:hover {
      opacity: 1;
    }
  }

  &-github-white {
    opacity: 0.5;
    background-image: url("../assets/images/ui/icons/icon-github.svg");

    &:hover {
      opacity: 1;
    }
  }

  &-linkedin-white {
    opacity: 0.5;
    background-image: url("../assets/images/ui/icons/icon-linkedin.svg");

    &:hover {
      opacity: 1;
    }
  }

  &-medium-white {
    opacity: 0.5;
    width: 27px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-medium.svg");

    &:hover {
      opacity: 1;
    }
  }

  &-twitter-white {
    opacity: 0.5;
    width: 23px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-twitter.svg");

    &:hover {
      opacity: 1;
    }
  }

  /** ---------------------- Socials:black ----------------------**/
  &-github-black {
    background-image: url("../assets/images/ui/icons/icon-github-black.svg");
  }

  /** ---------------------- Socials:red ----------------------**/
  &-linkedin-red {
    background-image: url("../assets/images/ui/icons/icon-linkedin-red.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-linkedin-red-hover.svg");
    }
  }

  &-twitter-red {
    width: 23px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-twitter-red.svg");

    &:hover {
      background-image: url("../assets/images/ui/icons/icon-twitter-red-hover.svg");
    }
  }
}