.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;

  + span {
    margin-left: 0.5em;
    vertical-align: middle;
  }

  &-book {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-book.png");
  }

  &-book-white {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-book-white.png");
  }

  &-book-black {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-book-black.png");
  }

  &-bookmark {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-bookmark.png");
  }

  &-shield {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-shield.png");
  }

  &-case {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-case.png");
  }

  &-medium {
    width: 22px;
    height: 18px;
    background-image: url("../assets/images/ui/icons/icon-medium.png");
  }

  &-arrowRight {
    width: 15px;
    height: 10px;
    background-image: url("../assets/images/ui/icons/icon-arrowRight.png");
    vertical-align: baseline;
  }

  &-mail {
    width: 30px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-mail.png");
  }

  &-geo {
    width: 22px;
    height: 29px;
    background-image: url("../assets/images/ui/icons/icon-geo.png");
  }

  &-help {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/ui/icons/icon-help.png");
  }

  &-phone {
    width: 22px;
    height: 25px;
    background-image: url("../assets/images/ui/icons/icon-phone.png");
  }

  &-menu {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-menu.png");
  }

  &-menu-red {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-menu-red.png");
  }

  &-close {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/ui/icons/icon-close.png");
  }
}