.homepage {
  .intro {
    display: flex;
    flex-direction: column;
    background: url("../../assets/images/bg/home/home-intro-bg.png") right bottom no-repeat;

    .introContentBlock {
      flex: 2 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 920px;
    }

    .introMsg {
      margin-bottom: 325px;
      color: $vs-color-white;

      &-headline {
        @include blockMsg-headline();
        line-height: 1.5;
      }

      &-links {
        display: flex;
        margin-top: 40px;

        a + a {
          margin-left: 30px;
        }
      }
    }

    .introLangs {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 45px;

      li {
        opacity: 0.5;
        transition: 0.5s opacity;

        &:hover {
          opacity: 1;
        }

        & + li {
          margin-left: 38px;
        }

        a {
          display: block;
        }

        img {
          display: block;
          height: 40px;
        }
      }
    }
  }

  .useCases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .useCasesContentBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .useCasesMsg {
      width: 715px;
      padding: 130px 0 80px;
      text-align: center;

      &-headline {
        @include blockMsg-headline();
      }

      &-text {
        @include blockMsg-text();
      }

      &-links {
        margin-top: 55px;
      }
    }

    &-caption {
      @include hp-contentBlock-caption();
      align-self: flex-end;

      left: 10%;
      margin-top: 1em;
    }

    .useCaseList {
      padding: 40px 0;

      &-image {
        img {
          display: block;
          max-width: 100%;
        }
      }
    }
  }

  .clients {
    background: $vs-color-lightGrey1;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 160px;
      transition: 0.5s padding;

      &:hover {
        padding: 0 10px;

        .clients-linkImage {
          filter: blur(5px);
        }

        .clients-linkButton {
          opacity: 1;
        }
      }
    }

    &-linkImage {
      max-width: 100%;
      transition: 0.5s filter;
    }

    &-linkButton {
      position: absolute;
      opacity: 0;
      transition: 0.5s opacity;
    }
  }

  .services {
    .servicesContentBlock {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 150px 0;
    }

    &-caption {
      @include hp-contentBlock-caption();
      align-self: flex-start;
      left: 10%;
    }

    .servicesMsg {
      flex: 0 1 495px;

      &-headline {
        @include blockMsg-headline();
      }

      &-text {
        @include blockMsg-text();
      }
    }

    .serviceList {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex: 0 1 485px;
      height: 600px;
    }

    .serviceItem {
      margin-top: 80px;
      align-self: flex-start;

      &:first-child {
        margin-top: 50px;
      }

      &:nth-child(3) {
        margin-top: 0;
        align-self: flex-end;
      }

      &:nth-child(4) {
        align-self: flex-end;
      }

      &-link {
        @include font-muller();
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 205px;
        height: 225px;
        border-radius: 3px;
        padding: 45px 35px 30px ;
        background: $vs-color-darkRed1;
        background: linear-gradient(to right, $vs-color-red1 0%, $vs-color-darkRed1 100%);
        font-size: 14px;
        text-align: center;
        color: $vs-color-white;
        box-shadow: 0 15px 20px -15px rgba($vs-color-darkRed2, 0.4);
        transition: 0.5s box-shadow;

        &:hover {
          box-shadow: 0 20px 20px -15px rgba($vs-color-darkRed2, 0.4);

          .serviceItem-linkText {
            height: 0;
            opacity: 0;
            visibility: hidden;
          }

          .serviceItem-linkHoverText {
            height: auto;
            margin-bottom: 1.3em;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &-linkText {
        height: auto;
        transition: 0.5s opacity, 0.5s hidden;
      }

      &-linkHoverText {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s opacity, 0.5s hidden;
      }
    }
  }

  .usage {
    background: url("../../assets/images/bg/home/home-usage-bg.png") 0 0 no-repeat;

    .usageContentBlock {
      padding: 140px 0 135px;
    }

    .usageMsg {
      width: 70%;
      color: $vs-color-white;

      &-headline {
        @include blockMsg-headline();
      }

      &-text {
        @include blockMsg-text();
      }
    }

    .usageDetails {
      margin-top: 85px;
      border-radius: 3px;
      background: $vs-color-white;
      box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);
    }

    .usageSteps {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      margin: 0 50px;
      padding: 40px 0;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        margin: -1px 0 0;
        background: $vs-color-lightGrey6;
      }

      &-item {
        @include font-muller();
        position: relative;
        z-index: 2;
        padding: 0 15px;
        background: $vs-color-white;
        font-size: 14px;
        text-align: center;
        cursor: pointer;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }

        i {
          display: inline-block;
          width: 2em;
          height: 2em;
          border-radius: 4em;
          background: $vs-color-lightGrey6;
          font-style: normal;
          text-align: center;
          line-height: 2em;
          transition: 0.5s color, 0.5s background;
        }

        span {
          transition: 0.5s color;
        }

        i + span {
          margin-left: 5px;
        }

        &.active {
          i {
            background: $vs-color-darkRed3;
            color: $vs-color-white;
          }

          span {
            color: $vs-color-darkRed2;
          }
        }

        &:hover {
          i {
            background: $vs-color-red2;
            color: $vs-color-white;
          }

          span {
            color: $vs-color-red1;
          }
        }
      }
    }

    .usageExample {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 455px;
      border-radius: 0 0 3px 3px;;
      padding: 65px 95px;
      background: $vs-color-lightGrey5;

      &-previous,
      &-next {
        width: 19px;
        height: 34px;
        background-position: 0 0;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      &-previous {
        background-image: url("../../assets/images/ui/home-slider-arrowLeft.png");
      }

      &-next {
        background-image: url("../../assets/images/ui/home-slider-arrowRight.png");
      }

      &-list {

      }

      &-item {
        display: none;
        background: $vs-color-darkBlue3;
        box-shadow: 0 4px 15px 0 rgba($vs-color-darkBlue4, 0.2);

        &:first-child {
          display: block;
        }
      }

      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 930px;
        height: 325px;
        transition: 0.5s padding;

        &:hover {
          padding: 0 10px;

          .usageExample-linkImage {
            filter: blur(5px);
          }

          .usageExample-linkButton {
            opacity: 1;
          }
        }
      }

      &-linkImage {
        max-width: 100%;
        transition: 0.5s filter;
      }

      &-linkButton {
        position: absolute;
        opacity: 0;
        transition: 0.5s opacity;
      }
    }

    .usageBenefits {
      margin-top: 85px;
      display: flex;
      justify-content: space-between;
    }

    .usageBenefit {
      display: flex;
      align-items: center;
      flex: 0 1 24%;

      &-image {
        flex: 0 1 78px;

        img {
          display: block;
          max-width: 100%;
        }
      }

      &-msg {
        flex: 1 1;
        margin-left: 25px;
      }

      &-headline {
        @include font-muller();
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
      }

      &-text {
        font-size: 14px;
      }
    }
  }

  .conclusion {
    position: relative;
    z-index: 2;
    margin-bottom: -145px;
    background: url("../../assets/images/bg/home/home-conclusion-bg.png") 20% 100% no-repeat;

    .conclusionContentBlock {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 575px;
      border-top: 1px solid $vs-color-lightGrey3;
    }

    .conclusionMsg {
      width: 50%;

      &-headline {
        @include blockMsg-headline();
      }

      &-text {
        @include blockMsg-text(22px);
      }

      &-links {
        margin-top: 50px;
      }
    }
  }
}