.notFoundPage {
  .intro {
    &-caption {
      @include block-caption(8.44rem, 9.44rem, 13.33rem);
    }

    .blockMsg {
      margin-top: 10px;
      text-align: center;

      &-headline {
        color: $vs-color-darkRed1;
      }
    }
  }
}