.contactsPage {
  .contactUs {
    background: $vs-color-lightGrey1;

    .contactUsContentBlock {
      position: relative;
      top: 45px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      padding-top: (145px - 45px);
      
      @media (min-width: $breakpoint-md) {
        padding-top: (190px - 45px);
      }
    }

    .blockMsg {
      @media (min-width: $breakpoint-md) {
        width: 700px;
      }
    }

    .contactUsBlock {
      display: flex;
      flex-direction: column;
      margin-top: 85px;
      background: $vs-color-white;
      box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
      }
    }

    .contactUsForm {
      order: 2;
      padding: 35px 40px 50px;
      background: $vs-color-white;

      @media (min-width: $breakpoint-md) {
        order: initial;
        flex: 0 1 840px;
        width: 840px;
      }

      &-headline {
        @include font-muller();
        display: flex;
        justify-content: space-between;
        font-size: 20px;
      }

      &-fields {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-lg) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }

      &-fieldEmail,
      &-fieldName,
      &-fieldTopic {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
          flex: 0 1 30%;
          width: auto;
        }
      }

      &-fieldMsg {
        width: 100%;

        @media (min-width: $breakpoint-lg) {
          flex: 1 1 100%;
        }

        textarea {
          height: 185px;
        }
      }

      &-actions {
        button {
          width: 100%;

          @media (min-width: $breakpoint-md) {
            width: auto;
          }
        }
      }
    }

    .contactUsInfo {
      @include font-muller();
      display: flex;
      flex-direction: column;
      padding: 35px 40px 50px;
      background: $vs-color-darkRed1;
      background: linear-gradient(to bottom, $vs-color-red1 0%, $vs-color-darkRed1 100%);
      font-size: 12px;
      line-height: 1.5;
      color: $vs-color-white;

      @media (min-width: $breakpoint-md) {
        flex: 1 1 360px;
        width: 360px;
      }

      a {
        color: $vs-color-white;
      }

      &-headline {
        font-size: 20px;
      }

      &-fields {
        flex: 1;
        margin-top: 40px;
      }

      &-field {
        display: flex;

        & + .contactUsInfo-field {
          margin-top: 45px;
        }

        p + p {
          margin-top: 10px;
        }
      }

      &-fieldText {
        align-self: center;
        margin-left: 30px;
      }

      &-socials {
        display: flex;
        margin: 75px -20px 0;

        @media (min-width: $breakpoint-md) {
          justify-content: space-between;
        }

        li {
          margin: 0 20px;
        }

        a {
          display: block;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }

        .fa {
          font-size: 25px;
        }
      }
    }
  }

  .partnership {
    padding-top: (100px + 45px);

    @media (min-width: $breakpoint-md) {
      padding-top: (200px + 45px);
    }

    .partnershipContentBlock {
      border-top: 1px solid $vs-color-lightGrey3;
      padding: 130px 0;
    }

    .blockMsg {
      @media (min-width: $breakpoint-md) {
        width: 840px;
      }
    }

    .partnershipContacts {
      margin-top: 65px;
      display: flex;
      justify-content: space-between;

      @media (min-width: $breakpoint-md) {
        justify-content: flex-start;
      }
    }

      .partnershipContact {
        @include font-muller();
        width: 45%;
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-md) {
          width: 35%;
        }

        &-name {
          flex: 1;
          font-size: 20px;
        }

        &-position {
          margin-top: 10px;
          font-size: 14px;
          color: $vs-color-lightGrey4;
        }

        &-contacts {
          display: flex;
          align-items: center;
          margin-top: 25px;

          li + li {
            margin-left: 25px;
          }

          li:last-child {
            margin-left: 22px;
            border-left: 1px solid $vs-color-lightGrey3;
            padding-left: 22px;
          }

          a {
            display: block;
          }

          .fa {
            vertical-align: bottom;
            font-size: 25px;
            color: $vs-color-darkRed1;
          }
        }
      }
  }

  .map {
    background: url("../assets/images/bg/contacts/contacts-map-bg.png") center top no-repeat;

    .mapContentBlock {
      display: flex;
      align-items: center;
      height: 700px;
    }

    &-address {
      border-radius: 3px;
      padding: 22px 32px;
      background: $vs-color-darkRed1;
      background: linear-gradient(to right, $vs-color-red1 0%, $vs-color-darkRed1 100%);
      color: $vs-color-white;
      line-height: 1.7;
      box-shadow: 0 25px 20px -20px rgba($vs-color-darkRed2, 0.5);
    }
  }
}