.contentPage {
  .intro {
    background-image: url("../assets/images/bg/content/content-intro-bg.png");

    .introContentBlock {
      height: 400px;
    }

    .blockMsg {
      color: $vs-color-white;
    }

    .introNav {
      @include font-muller();
      display: flex;
      align-items: center;
      margin-top: 60px;
      font-size: 0.77rem;

      li {
        border-bottom: 2px solid transparent;
        opacity: 0.5;
        transition: all 0.5s;

        &:hover,
        &.active {
          border-color: $vs-color-white;
          opacity: 1;
        }
      }

      li + li {
        margin-left: 35px;
      }

      a {
        display: block;
        padding: 5px;
        color: $vs-color-white;
      }
    }
  }

  .article {
    .articleContentBlock {
      padding: 120px 0 (195px -$vs-footer-padding);
      font-size: 0.88rem;

      @media (min-width: $vs-breakpoint-lg) {
        padding: 120px 190px (195px -$vs-footer-padding);
      }
    }

    &-headline {
      @include font-muller();
      margin-bottom: 18px;
      font-size: 1.55rem;
    }

    a {
      color: $vs-color-darkRed1;
    }

    h3 {
      margin: 65px 0 35px;
      font-size: inherit;
      font-weight: bold;
    }

    p {
      line-height: 1.9;
    }
  }
}