.featuresPage {
  .intro {
    background-image: url("../assets/images/bg/features/features-intro-bg@2x.png");
    background-size: 2560px 1410px;

    .introContentBlock {
      justify-content: space-between;
      min-height: 830px;
    }

    .blockMsg {
      text-align: center;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        width: 720px;
      }

      &-headline {
        line-height: 1.5;
      }
    }

    .introFeatures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      margin-top: 100px;

      @media (min-width: $vs-breakpoint-md) {
        justify-content: space-between;
      }
    }

      .introFeature {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        font-size: 0.88rem;
        line-height: 1.5;
        text-align: center;
        color: $vs-color-white;

        @media (min-width: $vs-breakpoint-md) {
          flex-direction: row;
          width: 30%;
          text-align: left;
        }

        &-image {
          width: 65px;
        }

        &-text {
          flex: 1;
          margin: 10px 0 0;

          @media (min-width: $vs-breakpoint-md) {
            margin: 0 0 0 25px;
          }
        }
      }
  }

  .cryptogram {
    .cryptogramContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 760px;
      border-top: 1px solid $vs-color-grey;
      padding: 135px 0;
    }

    .blockMsg {
      width: 720px;
      text-align: center;
      color: $vs-color-white;

      &-headline {
        line-height: 1.5;
      }
    }

    .cryptogramList {
      margin-top: 75px;
    }

      .cryptogramItem {
        &-features {
          margin-top: 55px;
          font-size: 0.77rem;

          > li + li {
            margin-top: 15px;
          }
        }

          &-feature {
            display: flex;
            align-items: center;
            margin: 10px 0;
          }
      }
  }

  .components {
    position: relative;
    z-index: 2;

    @media (min-width: $vs-breakpoint-md) {
      padding: 115px 0 280px;
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 1010px;
      height: 990px;
      max-width: 50%;
      background: url("../assets/images/bg/features/features-components-bg@2x.png") left bottom no-repeat;
      background-size: 1011px 989px;

      @media (min-width: $vs-breakpoint-md) {
        display: block;
      }
    }

    .componentsContentBlock {
      border-radius: 0 3px 3px 0;
      color: $vs-color-white;
    }

    .componentsOverview {
      border-radius: 0 3px 3px 0;

      @media (min-width: $vs-breakpoint-md) {
        padding: 85px 100px 95px;
      }

      @media (min-width: $vs-breakpoint-lg) {
        padding-right: 375px;
      }
    }

    .blockMsg {
      &-headline {
        @media (min-width: $vs-breakpoint-md) {
          font-size: 2.33rem;
          line-height: 1.4;
        }
      }
    }

    .componentList {
      margin-top: 105px;

      @media (min-width: $vs-breakpoint-md) {
        width: 520px;
      }

      > li + li {
        margin-top: 70px;
      }
    }

      .componentItem {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $vs-breakpoint-md) {
          flex-direction: row;
        }

        &-image {
          width: 75px;
        }

        &-info {
          flex: 1 1;
          margin: 30px 0 0;
          text-align: center;

          @media (min-width: $vs-breakpoint-md) {
            margin: 0 0 0 30px;
            text-align: left;
          }
        }

        &-headline {
          @include blockMsg-headline();
          font-size: 1.11rem;
        }

        &-text {
          @include blockMsg-text(10px);
          font-size: 0.88rem;
          line-height: 1.9;
          color: $vs-color-lightGrey4;
        }
      }

    .componentLinks {
      margin-top: 90px;
      text-align: center;

      @media (min-width: $vs-breakpoint-md) {
        text-align: left;
      }
    }
  }

  .features {
    background: $vs-color-lightGrey1;

    .featuresContentBlock {
      padding: 150px 0;
    }

    .featureList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      margin: -30px -20px;

      @media (min-width: $vs-breakpoint-lg) {
        margin: -30px -45px;
      }

      li {
        margin: 30px 45px;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .faq {
    .faqContentBlock {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 105px;

      @media (min-width: $vs-breakpoint-md) {
        padding-bottom: (205px -$vs-footer-padding);
      }

      @media (min-width: $vs-breakpoint-lg) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &-caption {
      @include block-caption();
      width: 100%;
      margin-bottom: 35px;
    }

    .faqList {
      order: 2;
      padding: 45px 0 0;

      @media (min-width: $vs-breakpoint-lg) {
        flex: 1 1 50%;
        order: initial;
        padding: 45px 100px 0 0;
      }
    }

      .faqItem {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        height: 0;
        transition: 0.5s all;

        &.active {
          &,
          & + li,
          & + li + li {
            visibility: visible;
            opacity: 1;
            position: static;
            height: auto;
          }

          & + li,
          & + li + li {
            margin-top: 65px;
          }
        }

        &-count {
          @include font-muller();
          font-size: 1.55rem;
          color: $vs-color-darkRed1;

          &:before {
            content: '\2014';
            padding-right: 10px;
          }
        }

        &-text {
          margin-top: 20px;
          font-size: 0.88rem;
          line-height: 1.9;

          p + p {
            margin-top: 30px;
          }
        }
      }

    .faqContents {
      @media (min-width: $vs-breakpoint-lg) {
        flex: 0 1 42%;
      }
    }

    .faqContentList {
      > li + li {
        margin-top: 35px;
      }
    }

      .faqContentItem {
        font-size: 0.88rem;
        font-weight: bold;
        line-height: 1.9;

        &-link {
          display: flex;
          color: $vs-color-white;

          &.active {
            pointer-events: none;
            cursor: default;
          }

          &:not(.active) {
            opacity: 0.5;
          }
        }

        &-linkCount {
          &:after {
            content: '\2014';
            padding: 0 10px;
          }
        }
      }
  }
}