.featuresPage {
  .intro {
    background-color: $vs-color-darkBlue5;
    background-image: url("../assets/images/bg/features/features-intro-bg.png");

    .introContentBlock {
      min-height: 830px;
    }

    .blockMsg {
      width: 720px;
      text-align: center;
      color: $vs-color-white;

      &-headline {
        line-height: 1.5;
      }
    }

    .introFeatures {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 185px;
    }

    .introFeature {
      flex: 0 1 30%;
      display: flex;
      margin-bottom: 50px;
      font-size: 16px;
      line-height: 1.5;
      color: $vs-color-white;

      &-image {
        flex: 0 1 65px;
      }

      &-text {
        flex: 1 1;
        margin-left: 25px;
      }
    }
  }

  .cryptogram {
    background: url("../assets/images/bg/features/features-cryptogram-bg.png") center top no-repeat;

    .cryptogramContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 760px;
      border-top: 1px solid $vs-color-grey;
      padding-top: 135px;
    }

    .blockMsg {
      width: 720px;
      text-align: center;
      color: $vs-color-white;

      &-headline {
        line-height: 1.5;
      }
    }

    .cryptogramList {
      margin-top: 75px;
    }

    .cryptogramItem {
      &-features {
        margin-top: 55px;
        font-size: 14px;

        > li + li {
          margin-top: 15px;
        }
      }

      &-feature {
        margin: 10px 0;

        .fa {
          font-size: 25px;
          opacity: 0.25;
        }
      }
    }
  }

  .components {
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 300px 0 280px;

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: 0;
      width: 1010px;
      height: 990px;
      max-width: 50%;
      background: url("../assets/images/bg/features/features-components-bg.png") left bottom no-repeat;
    }

    .componentsContentBlock {
      margin-right: 50px;
      border-radius: 0 3px 3px 0;
      color: $vs-color-white;

      &:before {
        top: 0;
        right: 100%;
        left: initial;
      }

      &:after {
        top: -50px;
        right: -50px;
        left: initial;
        width: 75%;
      }
    }

    .componentsOverview {
      border-radius: 0 3px 3px 0;
      padding: 85px 375px 95px 100px;
    }

    .blockMsg {
      &-headline {
        font-size: 42px;
        line-height: 1.4;
      }
    }

    .componentList {
      width: 520px;
      margin-top: 105px;

      > li + li {
        margin-top: 70px;
      }
    }

    .componentItem {
      display: flex;

      &-image {
        flex: 0 1 75px;
      }

      &-info {
        flex: 1 1;
        margin-left: 30px;
      }

      &-headline {
        @include blockMsg-headline();
        font-size: 20px;
      }

      &-text {
        @include blockMsg-text(10px);
        font-size: 16px;
        line-height: 1.9;
        color: $vs-color-lightGrey4;
      }
    }

    .componentLinks {
      margin-top: 90px;
    }
  }

  .languages {
    background: $vs-color-lightGrey1;

    .languagesContentBlock {
      padding: 150px 0;
    }

    &-image {
      display: block;
      max-width: 100%;
    }
  }

  .faq {
    overflow: hidden;

    .faqContentBlock {
      display: flex;
      flex-wrap: wrap;
      padding: 105px 0 205px;
    }

    &-caption {
      @include contentBlock-caption();
      flex: 1 1 100%;
      margin-bottom: 35px;
    }

    .faqList {
      flex: 1 1 690px;
      margin-top: 45px;
      padding-right: 100px;
    }

    .faqItem {
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: 0.5s all;
      //display: none;

      &.active {
        &,
        & + li,
        & + li + li {
          visibility: visible;
          opacity: 1;
          height: auto;
          //display: block;
        }

        & + li,
        & + li + li {
          margin-top: 65px;
        }
      }

      &-count {
        @include font-muller();
        font-size: 28px;
        color: $vs-color-darkRed1;

        &:before {
          content: '\2014';
          padding-right: 10px;
        }
      }

      &-text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.9;

        p + p {
          margin-top: 30px;
        }
      }
    }

    .faqContents {
      flex: 1 1 505px;
      align-self: flex-start;
      display: flex;
    }

    .faqContentList {
      > li + li {
        margin-top: 35px;
      }
    }

    .faqContentItem {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.9;

      &-link {
        display: flex;
        color: $vs-color-white;

        &:not(.active) {
          opacity: 0.5;
        }
      }

      &-linkCount {
        &:after {
          content: '\2014';
          padding: 0 10px;
        }
      }
    }
  }
}