.homePage {
  .intro {
    @include block-bg($vs-color-black);
    background-image: url("../assets/images/bg/home/home-intro-bg@2x.jpg");
    background-size: 2560px 920px;
    background-position: center bottom;

    .introContentBlock {
      min-height: 810px;
      padding-bottom: 45px;

      @media (min-width: $vs-breakpoint-sm) and (max-width: $vs-breakpoint-lg) {
        //min-height: 720px;
      }
    }

    .newsMsg {
      &-headline {
        text-align: center;
      }

      a {
        color: $vs-color-white;
        transition: 0.5s all;

        &:hover {
          color: $vs-color-darkRed1;
        }
      }
    }

    .newsMsg + .blockMsg {
      @media (min-width: $vs-breakpoint-lg) {
        margin-top: 0;
      }
    }

    .blockMsg {
      align-self: flex-start;
      margin-top: 55px;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-lg) {
        margin-top: 100px;
      }

      &-headline {
        line-height: 1.5;
      }

      &-links {
        display: flex;
        flex-direction: column;

        @media (min-width: $vs-breakpoint-sm) {
          flex-direction: row;
        }

        a + a {
          margin: 20px 0 0;

          @media (min-width: $vs-breakpoint-sm) {
            margin: 0 0 0 30px;
          }
        }
      }
    }

    .introLangList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: -20px;

      li {
        margin: 20px;
        opacity: 0.65;
        transition: 0.5s opacity;

        &:hover {
          opacity: 1;
        }

        a, img {
          display: block;
        }
      }
    }
  }

  .useCases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 0 105px;
    background: $vs-color-lightGrey5;

    .useCasesContentBlock {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .blockMsg {
      width: 715px;
      text-align: center;

      &-links {
        a + a {
          margin-top: 10px;

          @media (min-width: $vs-breakpoint-sm) {
            margin-top: 0;
          }
        }
      }
    }

    .useCaseList {
      position: relative;
      z-index: 1;
      max-width: 100%;
      margin-top: 240px;

      @media (min-width: $vs-breakpoint-md) {
        margin-top: 120px;
      }

      &-caption {
        @include block-caption(5.55rem, 5.55rem);
        position: absolute;
        z-index: -1;
        top: -100px;

        @media (min-width: $vs-breakpoint-md) {
          top: 0;
          padding: 0 15px;
        }
      }

      &-image {
        max-width: 100%;
        width: 440px;
        height: 1245px;
        background: url("../assets/images/bg/home/home-useCases-mobile@2x.png") center top no-repeat;
        background-size: 440px 1245px;

        @media (min-width: $vs-breakpoint-md) {
          width: 960px;
          height: 580px;
          background-image: url("../assets/images/bg/home/home-useCases-tablet@2x.png");
          background-size: 960px 580px;
        }

        @media (min-width: $vs-breakpoint-md) {
          width: 1420px;
          height: 475px;
          background-image: url("../assets/images/bg/home/home-useCases-desktop@2x.png");
          background-size: 1420px 475px;
        }
      }
    }
  }

  .clients {
    background: $vs-color-lightGrey1;

    .clientsLink {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 (-$vs-wrapper-padding);
      padding: 30px 0;
      transition: 0.5s padding;
      pointer-events: none; // TODO: remove when clients page will be implemented

      @media (min-width: $vs-breakpoint-md) {
        justify-content: space-between;
      }

      // TODO: uncomment when clients page will be implemented
      //&:hover {
      //  @media (min-width: $breakpoint-lg) {
      //    padding: 40px 10px;
      //  }
      //
      //  .clientsLinkItem {
      //    &-image {
      //      filter: blur(5px);
      //    }
      //  }
      //
      //  .clientsLinkButton {
      //    opacity: 1;
      //  }
      //}
    }

    .clientsLinkItem {
      margin: 20px 15px;

      &-image {
        display: block;
        max-width: 100%;
        transition: 0.5s filter;
      }
    }

    .clientsLinkButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.5s opacity;
    }
  }

  .services {
    position: relative;
    padding: 150px 0 130px;

    .servicesContentBlock {
      position: relative;
      display: flex;
      flex-direction: column;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-caption {
      @include block-caption(3.33rem, 4.44rem);
      position: absolute;
      top: -30px;
      z-index: -1;
      width: 100%;
      text-align: center;

      @media (min-width: $vs-breakpoint-md) {
        top: -40px;
        padding: 0 20px;
        text-align: left;
      }

      @media (min-width: $vs-breakpoint-lg) {
        top: 0;
        padding: 0 225px;
      }
    }

    .blockMsg {
      text-align: center;

      @media (min-width: $vs-breakpoint-md) {
        width: 485px;
        max-width: 45%;
        text-align: left;
      }
    }

    .serviceList {
      align-self: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 500px;
      height: 600px;
      max-width: 100%;
      margin-top: 50px;

      @media (min-width: $vs-breakpoint-md) {
        width: 465px;
        max-width: 55%;
        margin-top: 0;
      }

      @media (min-width: $vs-breakpoint-lg) {
        width: 485px;
      }
    }

      .serviceItem {
        margin-top: 70px;
        width: 205px;
        max-width: 45%;
        height: 225px;

        @media (min-width: $vs-breakpoint-md) {
          align-self: flex-start;
        }

        @media (min-width: $vs-breakpoint-lg) {
          margin-top: 80px;
        }

        &:first-child {
          margin-top: 50px;
        }

        &:nth-child(3) {
          margin-top: 0;

          @media (min-width: $vs-breakpoint-md) {
            align-self: flex-end;
          }
        }

        &:nth-child(4) {
          @media (min-width: $vs-breakpoint-md) {
            align-self: flex-end;
          }
        }

        &-link {
          @include font-muller();
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          border-radius: 3px;
          padding: 45px 35px 30px ;
          background: $vs-color-darkRed1;
          background: linear-gradient(to right, $vs-color-red1 0%, $vs-color-darkRed1 100%);
          font-size: 0.77rem;
          text-align: center;
          color: $vs-color-white;
          box-shadow: 0 15px 20px -15px rgba($vs-color-darkRed2, 0.4);
          transition: 0.5s box-shadow;

          &:hover {
            box-shadow: 0 20px 20px -15px rgba($vs-color-darkRed2, 0.4);

            .serviceItem-linkText {
              height: 0;
              opacity: 0;
              visibility: hidden;
            }

            .serviceItem-linkHoverText {
              height: auto;
              margin-bottom: 1.3rem;
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &-linkText {
          height: auto;
          transition: 0.5s opacity, 0.5s hidden;
        }

        &-linkHoverText {
          height: 0;
          opacity: 0;
          visibility: hidden;
          white-space: nowrap;
          transition: 0.5s opacity, 0.5s hidden;
        }
      }
  }

  .usage {
    @include block-bg($vs-color-darkBlue5, 760px);
    padding: 140px 0;
    background: url("../assets/images/bg/home/home-usage-bg@2x.jpg") center top no-repeat;
    background-size: 2560px 760px;

    @media (min-width: $vs-breakpoint-lg) {
      padding: 140px 0 0;
    }

    .blockMsg {
      text-align: center;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-lg) {
        width: 70%;
        text-align: left;
      }
    }

    .usageStepsCarousel {
      display: none;
      margin-top: 85px;
      border-radius: 3px;
      background: $vs-color-white;
      box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);

      @media (min-width: $vs-breakpoint-lg) {
        display: block;
      }

      &-controls {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
        padding: 40px 0;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          margin: -1px 0 0;
          background: $vs-color-lightGrey6;
        }
      }

      &-control {
        @include font-muller();
        position: relative;
        z-index: 2;
        padding: 0 15px;
        background: $vs-color-white;
        font-size: 0.77rem;
        text-align: center;
        cursor: pointer;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }

        i {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 4rem;
          background: $vs-color-lightGrey6;
          font-style: normal;
          text-align: center;
          line-height: 1.65rem;
          transition: all 0.5s;
        }

        span {
          transition: 0.5s color;
        }

        i + span {
          margin-left: 5px;
        }

        &.active {
          i {
            background: $vs-color-darkRed3;
            color: $vs-color-white;
          }

          span {
            color: $vs-color-darkRed2;
          }
        }

        &:hover {
          i {
            background: $vs-color-red2;
            color: $vs-color-white;
          }

          span {
            color: $vs-color-red1;
          }
        }
      }

      &-previous,
      &-next {
        width: 22px;
        height: 34px;
        background-position: 0 0;
        background-repeat: no-repeat;
        cursor: pointer;
      }

      &-previous {
        margin-right: 15px;
        background-image: url("../assets/images/ui/arrowLeft-black.svg");
      }

      &-next {
        margin-left: 15px;
        background-image: url("../assets/images/ui/arrowRight-black.svg");
      }
    }

      .usageSteps {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0 0 3px 3px;;
        padding: 65px 95px;
        background: $vs-color-lightGrey5;
      }

      .usageStepList {
        flex: 1 1;
        width: auto;
        //height: 305px;
        max-width: 930px;
        max-height: 325px;
        border-radius: 3px;
        background: $vs-color-darkBlue3;
        box-shadow: 0 4px 15px 0 rgba($vs-color-darkBlue4, 0.2);

        //@media (min-width: $breakpoint-lg-transition) {
        //  height: 325px;
        //}
      }

      .usageStepItem {
        &-link {
          overflow: hidden;
          position: relative;
          max-width: 100%;
          transition: 0.5s padding;

          &:hover {
            //padding: 0 10px;

            .usageStepItem-linkImage {
              filter: blur(5px);
            }

            .usageStepItem-linkButton {
              opacity: 1;
            }
          }
        }

        &-linkImage {
          display: block;
          transition: 0.75s filter;
        }

        &-linkButton {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: 0.5s opacity;
        }
      }
  }

  .benefits {
    padding: 85px 0 135px;

    @media (min-width: $vs-breakpoint-md) {
      padding-top: 115px;
    }

    @media (min-width: $vs-breakpoint-lg) {
      padding-top: 85px;
    }

    .benefitsContentBlock {

    }

    .benefitList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      margin-bottom: -60px;

      @media (min-width: $vs-breakpoint-md) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      @media (min-width: $vs-breakpoint-lg) {
        align-items: center;
      }
    }

      .benefitItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        margin-bottom: 60px;

        @media (min-width: $vs-breakpoint-md) {
          width: 22%;
        }

        @media (min-width: $vs-breakpoint-lg) {
          flex-direction: row;
        }

        &-image {
          width: 78px;

          img {
            display: block;
            max-width: 100%;
          }
        }

        &-msg {
          flex: 1;
          margin: 20px 0 0;
          text-align: center;

          @media (min-width: $vs-breakpoint-lg) {
            margin: 0 0 0 25px;
            text-align: left;
          }
        }

        &-headline {
          @include font-muller();
          font-size: 0.66rem;
          font-weight: bold;
          line-height: 1.5;
        }

        &-text {
          margin-top: 10px;
          font-size: 0.77rem;
        }
      }
  }

  .conclusion {
    position: relative;
    z-index: 2;
    margin-bottom: -$vs-footer-padding;

    @media (min-width: $vs-breakpoint-md) {
      background: url("../assets/images/bg/home/home-conclusion-bg@2x.png") -255px bottom no-repeat;
      background-size: 849px 472px;
    }

    @media (min-width: $vs-breakpoint-lg) {
      background-position: 5% bottom;
    }

    @media (min-width: $vs-breakpoint-xl) {
      background-position: 20% bottom;
    }

    .conclusionContentBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 0;
      border-top: 1px solid $vs-color-lightGrey3;

      @media (min-width: $vs-breakpoint-md) {
        justify-content: flex-end;
        min-height: 575px;
      }
    }

    .blockMsg {
      text-align: center;

      @media (min-width: $vs-breakpoint-md) {
        width: 65%;
        text-align: left;
      }

      @media (min-width: $vs-breakpoint-lg) {
        width: 50%;
        text-align: left;
      }
    }
  }
}
