.pricingPage {
  .intro {
    @include block-bg($vs-color-darkBlue5, 980px);
    background-image: url("../assets/images/bg/pricing/pricing-intro-bg@2x.jpg");
    background-size: 2560px 980px;

    .introContentBlock {
      padding: 120px 0 0;
    }

    .blockMsg {
      text-align: center;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        width: 720px;
      }

      &-text {
        margin: 0;
      }
    }
  }

  .pricingPlans {
    .pricingPlansContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
      padding: 0 0 60px;
    }

      .pricingPlanItem {
        padding: 35px 50px;

        &:not(.comparisonItem--highlight) {
          @media (min-width: $vs-breakpoint-lg) {
            margin: 10px 0;
          }
        }

        &--highlight {
          padding: 45px 50px;

          .pricingPlanItem-price {
            strong {
              font-weight: normal;
            }
          }

          .pricingPlanItem-features {
            li + li:before {
              background: $vs-color-white;
            }
          }
        }

        &-price {
          margin-top: 20px;
          font-size: 1.94rem;

          sup {
            font-size: 1.38rem;
          }

          strong {
            font-size: 2.44rem;
            font-weight: normal;
          }

          sub {
            font-size: 1.11rem;
            bottom: 0;
          }
        }

        &-features {
          font-size: 0.77rem;

          li + li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            margin: 0 auto;
            background: $vs-color-grey;
            opacity: 0.1;
          }
        }

        &-feature {
          position: relative;
          padding: 18px 0;

          &--disabled {
            & > span {
              opacity: 0.2;
            }
          }
        }

        &-action {
          margin-top: 20px;
        }
      }

    .pricingPlansDisclaimer {
      position: fixed;
      z-index: 10;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);

      &-btn {
        height: 70px;
        line-height: 70px;
        border-radius: 3px;
        padding: 0 20px;
        background: $vs-color-red1;
        font-size: 16px;
        color: $vs-color-white;
      }
    }
  }

  .enterprise {
    position: relative;
    z-index: 2;
    margin-top: 80px;

    .enterpriseContentBlock {
      display: flex;
      flex-direction: column;
      padding: 50px 25px;
      background: $vs-color-white;
      box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);

      @media (min-width: $vs-breakpoint-sm) {
        padding: 50px;
      }

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 100px;
      }
    }

    .enterpriseOffer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media (min-width: $vs-breakpoint-md) {
        flex: 0 1 75%;
        justify-content: initial;
      }

      &-image {
        width: 80px;
        max-width: 45%;

        img {
          display: block;
          max-width: 100%;
          box-shadow: 0 10px 15px -5px rgba($vs-color-darkRed2, 0.5);
        }
      }

      &-msg {
        flex: 1 1 100%;
        margin: 30px 0 0;
        text-align: center;

        @media (min-width: $vs-breakpoint-sm) {
          flex: 1 1 50%;
          margin: 0 0 0 30px;
          text-align: left;
        }
      }

      &-headline {
        @include font-muller();
      }

      &-text {
        @include blockMsg-text(0);
      }

      &-list {
        @include font-muller();
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        font-size: 0.77rem;

        @media (min-width: $vs-breakpoint-md) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        li {
          display: flex;
          align-items: center;
          margin-top: 15px;

          @media (min-width: $vs-breakpoint-md) {
            width: 50%;
          }

          @media (min-width: $vs-breakpoint-lg) {
            width: 35%;
          }

          span {
            flex: 1;
          }
        }
      }
    }

    &-links {
      margin-top: 40px;

      @media (min-width: $vs-breakpoint-md) {
        margin-top: 0;
      }

      a {
        width: 100%;

        @media (min-width: $vs-breakpoint-md) {
          width: auto;
        }
      }
    }
  }

  .includes {
    position: relative;
    z-index: 1;
    margin-top: -130px;
    padding-top: 130px;
    background: $vs-color-lightGrey1;

    .includesContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 0 150px;
    }

    .blockMsg {
      text-align: center;

      @media (min-width: $vs-breakpoint-md) {
        width: 710px;
      }
    }

    .includesList {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 95px;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      li + li {
        margin-top: 50px;

        @media (min-width: $vs-breakpoint-md) {
          margin-top: 0;
        }
      }
    }

      .includesItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        max-width: 100%;
        padding: 0 35px;
        font-size: 0.77rem;
        text-align: center;

        @media (min-width: $vs-breakpoint-md) {
          width: auto;
          max-width: 30%;
        }

        &-image {
          img {
            display: block;
            max-width: 100%;
            box-shadow: 0 10px 15px -5px rgba($vs-color-darkRed2, 0.5);
          }
        }

        &-headline {
          @include font-muller();
          margin-top: 25px;
          font-size: inherit;
          font-weight: bold;
        }

        &-text {
          @include blockMsg-text(5px);
        }
      }
  }

  .conclusion {
    margin-bottom: -30px;
    padding-top: 80px;

    .blockMsg {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        justify-content: space-around;
      }

      @media (min-width: $vs-breakpoint-lg) {
        justify-content: space-between;
      }

      &-headline {
        font-size: 1.55rem;
        text-align: center;

        @media (min-width: $vs-breakpoint-md) {
          text-align: left;
        }

        @media (min-width: $vs-breakpoint-lg) {
          margin-left: 65px;
        }
      }

      &-links {
        @media (min-width: $vs-breakpoint-md) {
          margin: 0;
        }
      }
    }
  }
}