.pricingPage {
  .intro {
    min-height: 980px;
    background-image: url("../assets/images/bg/pricing/pricing-intro-bg@2x.png");
    background-size: 2560px 980px;

    .blockMsg {
      text-align: center;
      color: $vs-color-white;

      @media (min-width: $vs-breakpoint-md) {
        width: 720px;
      }

      &-headline {
        line-height: 1.5;
      }
    }
  }

  .pricingPlans {
    .pricingPlansContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
    }

    .pricingPlanItem {
      text-align: center;

      &-price {
        margin-top: 30px;
        font-size: 1.94rem;

        sup {
          font-size: 1.38rem;
        }

        strong {
          font-size: 2.44rem;
          font-weight: normal;
        }

        sub {
          font-size: 1.11rem;
          bottom: 0;
        }
      }

      &-features {
        margin-top: 30px;
        font-size: 0.77rem;

        li + li:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 150px;
          height: 1px;
          margin: 0 auto;
          background: $vs-color-lightGrey3;
        }
      }

      &-feature {
        position: relative;
        padding: 25px 0;

        &--disabled {
          color: $vs-color-lightGrey3;
        }
      }

      &-link {
        margin-top: 35px;
      }

      &--highlight {
        .pricingPlanItem-price {
          color: $vs-color-lightRed2;

          strong {
            font-weight: normal;
            color: $vs-color-white;
          }
        }

        .pricingPlanItem-features {
          li + li:before {
            background: $vs-color-lightRed3;
          }

          .pricingPlanItem-feature--disabled {
            color: $vs-color-lightRed3;
          }
        }
      }
    }

    .pricingPlansDisclaimer {
      position: fixed;
      z-index: 10;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);

      &-btn {
        height: 70px;
        line-height: 70px;
        border-radius: 3px;
        padding: 0 20px;
        background: $vs-color-red1;
        font-size: 16px;
        color: $vs-color-white;
      }
    }
  }

  .enterprise {
    position: relative;
    z-index: 2;
    margin-top: 60px;

    .enterpriseContentBlock {
      display: flex;
      flex-direction: column;
      padding: 50px 25px;
      background: $vs-color-white;
      box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);

      @media (min-width: $vs-breakpoint-sm) {
        padding: 50px;
      }

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 100px;
      }
    }

    .enterpriseOffer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      @media (min-width: $vs-breakpoint-sm) {
        flex: 0 1 75%;
      }

      @media (min-width: $vs-breakpoint-md) {
        justify-content: initial;
      }

      &-image {
        width: 80px;
        max-width: 45%;

        img {
          display: block;
          max-width: 100%;
          box-shadow: 0 10px 15px -5px rgba($vs-color-darkRed2, 0.5);
        }
      }

      &-msg {
        flex: 1 1 100%;
        margin: 30px 0 0;
        text-align: center;

        @media (min-width: $vs-breakpoint-sm) {
          flex: 1 1 50%;
          margin: 0 0 0 30px;
          text-align: left;
        }
      }

      &-headline {
        @include font-muller();
      }

      &-text {
        @include blockMsg-text(0);
      }

      &-list {
        @include font-muller();
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        font-size: 0.77rem;

        @media (min-width: $vs-breakpoint-md) {
          flex-direction: row;
          flex-wrap: wrap;
        }

        li {
          display: flex;
          align-items: center;
          margin-top: 15px;

          @media (min-width: $vs-breakpoint-md) {
            width: 50%;
          }

          @media (min-width: $vs-breakpoint-lg) {
            width: 35%;
          }
        }
      }
    }

    &-links {
      margin-top: 40px;

      @media (min-width: $vs-breakpoint-md) {
        margin-top: 0;
      }

      a {
        width: 100%;

        @media (min-width: $vs-breakpoint-md) {
          width: auto;
        }
      }
    }
  }

  .includes {
    position: relative;
    z-index: 1;
    margin-top: -90px;
    padding: 90px 0 270px;
    background: $vs-color-lightGrey1;

    .includesContentBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 150px 0;

      @media (min-width: $vs-breakpoint-md) {
        padding: 190px 0;
      }
    }

    .blockMsg {
      text-align: center;

      @media (min-width: $vs-breakpoint-md) {
        width: 710px;
      }
    }

    .includesList {
      display: flex;
      flex-direction: column;
      margin-top: 95px;

      @media (min-width: $vs-breakpoint-md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      li + li {
        margin-top: 50px;

        @media (min-width: $vs-breakpoint-md) {
          margin-top: 0;
        }
      }
    }

      .includesItem {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        max-width: 100%;
        padding: 0 35px;
        font-size: 0.77rem;
        text-align: center;

        @media (min-width: $vs-breakpoint-md) {
          max-width: 34%;
        }

        &-image {
          img {
            display: block;
            max-width: 100%;
            box-shadow: 0 10px 15px -5px rgba($vs-color-darkRed2, 0.5);
          }
        }

        &-headline {
          @include font-muller();
          margin-top: 25px;
          font-size: inherit;
          font-weight: bold;
        }

        &-text {
          @include blockMsg-text(10px);
        }
      }
  }

  .conclusion {
    margin-top: -250px;
    padding-bottom: (250px - $vs-footer-padding);

    .conclusionContentBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .blockMsg {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      padding: 85px 55px;
      text-align: center;
      background: $vs-color-darkRed1;
      background: linear-gradient(to right, $vs-color-red1 0%, $vs-color-darkRed1 100%);
      box-shadow: 0 25px 20px -20px rgba($vs-color-darkRed2, 0.5);

      @media (min-width: $vs-breakpoint-md) {
        width: 850px;
      }

      &-headline {
        font-size: 1.55rem;
        color: $vs-color-white;
      }

      &-links {
        margin-top: 40px;
      }
    }
  }
}