{% extends 'common/section.twig' %}

{% block content %}
    <div class="conclusion">
        <div class="wrapper">
            <div class="conclusionContentBlock">
                <div class="blockMsg">
                    <h2 class="blockMsg-headline">
                        {{ conclusion.headline|shortcodes }}
                        {#Ready to get started?#}
                        {#<br>Get in touch, or create an account.#}
                    </h2>
                    <div class="blockMsg-links">
                        {#<a href="" class="button-raisedRed">Create free account</a>#}
                        {% for link in conclusion.links %}
                            {% include 'common/link_button/' ~ link.link_button_skin ~ '.twig' with {'link': link} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
