body {
  background: $vs-color-white;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }

  @media (min-width: 1260px) {
    padding: 0;
  }
}