<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Virgil | Contact Us</title>
	<link rel="stylesheet" href="dist/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="page contact">
	<header class="header">
		<div class="header-block">
			<img src="img/logo.png" class="header-logo" alt="Virgil" />
		</div>

		<nav class="header-nav header-block header-nav-left">
			<a href="/about" class="header-nav-link">ABOUT US</a>
			<a href="/how-it-works" class="header-nav-link">HOW IT WORKS</a>
		</nav>

		<nav class="header-nav header-block header-nav-right">
			<a href="/downloads" class="header-nav-link">DOWNLOADS</a>
			<a href="/support" class="header-nav-link">SUPPORT</a>
			<a href="/docs" class="header-nav-link">DOCUMENTATION</a>
		</nav>
	</header>

	<div class="clear"></div>

	<section class="contact-heading container">
		<h2>Contact Us</h2>
		<p>Looking for help or have a comment?</p>
	</section>

	<section class="contact-contacts container">
		<div class="contact-contacts-item">
			<img src="../img/contacts/contact-phone.png" />
			<p>+1 888-256-9014</p>
		</div>
		<div class="contact-contacts-item">
			<img src="../img/contacts/contact-print.png" />
			<p><a href="mailto:support@virgilsecurity.com">support@virgilsecurity.com</a></p>
		</div>
		<div class="contact-contacts-item social">
			<img src="../img/contacts/contact-social.png" />
			<p>
				<a class="twitter" href="http://twitter.com" target="_blank">
					<img src="../img/social-twitter.png" alt="twitter" />
				</a>
				<a class="facebook" href="http://facebook.com" target="_blank">
					<img src="../img/social-facebook.png" alt="facebook" />
				</a>
			</p>
		</div>
	</section>

	<form class="contact-form container">
		<div class="row">
			<div class="col-50">
				<div class="form-item">
					<input class="form-input expand" type="text" name="name" placeholder="Your Name" />
				</div>
				<div class="form-item">
					<input class="form-input expand" type="text" name="email" placeholder="Your Email" />
				</div>
				<div class="form-item">
					<input class="form-input expand" type="text" name="product" placeholder="Product" />
				</div>
			</div>

			<div class="col-50">
				<textarea class="form-input expand" placeholder="Message"></textarea>
			</div>
		</div>
		<div class="row">
			<button type="submit" class="btn-virgil btn-transparent contact-form-submit">SEND</button>
		</div>
	</form>

	<footer class="footer">
		<div class="footer-copy">
			© Virgil Security, Inc. 2015
		</div>

		<div class="footer-links">
			<a href="/why">Why Virgil</a>
			<a href="/how-it-works">How it works</a>
			<a href="/downloads">Downloads</a>
			<a href="/support">Support</a>
			<a href="/docs">Documentation</a>
		</div>

		<div class="footer-social">
			<a href="http://twitter.com" target="_blank">
				<img src="../img/social-twitter.png" alt="twitter" />
			</a>
			<a href="http://facebook.com" target="_blank">
				<img src="../img/social-facebook.png" alt="facebook" />
			</a>
		</div>
	</footer>
</body>
</html>
