<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Virgil | Docs</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="dist/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="page contact">
	<header class="header container">
		<div class="header-block">
			<img src="img/logo.png" class="header-logo" alt="Virgil" />
		</div>

		<nav class="header-nav header-block header-nav-left">
			<a href="/about" class="header-nav-link">ABOUT US</a>
			<a href="/how-it-works" class="header-nav-link">HOW IT WORKS</a>
		</nav>

		<nav class="header-nav header-block header-nav-right">
			<a href="/downloads" class="header-nav-link">DOWNLOADS</a>
			<a href="/support" class="header-nav-link">SUPPORT</a>
			<a href="/docs" class="header-nav-link">DOCUMENTATION</a>
		</nav>
	</header>

	<div class="code-tabs container">
		<div class="code-tabs-nav">
			<button class="code-tabs-nav-item" data-section="php">PHP</button>
			<button class="code-tabs-nav-item" data-section="c#">C#</button>
		</div>

		<div class="code-tabs-subnav">
			<button class="code-tabs-nav-item code-tabs-subnav-item" data-tab="encrypt">encrypt</button>
			<button class="code-tabs-nav-item code-tabs-subnav-item" data-tab="decrypt">decrypt</button>
		</div>

		<div class="sections">
			<div class="section" data-section="php">
				<pre data-tab="encrypt">
					php encrypt
				</pre>
				<pre data-tab="decrypt">
					php decrypt
				</pre>
			</div>

			<div class="section" data-section="c#">
				<pre data-tab="encrypt">
					c# encrypt
				</pre>
				<pre data-tab="decrypt">
					c# decrypt
				</pre>
			</div>
		</div>
	</div>

	<footer class="footer container">
		<div class="footer-copy">
			© Virgil Security, Inc. 2015
		</div>

		<div class="footer-links">
			<a href="/why">Why Virgil</a>
			<a href="/how-it-works">How it works</a>
			<a href="/downloads">Downloads</a>
			<a href="/support">Support</a>
			<a href="/docs">Documentation</a>
		</div>

		<div class="footer-social">
			<a href="http://twitter.com" target="_blank">
				<img src="/img/social-twitter.png" alt="twitter" />
			</a>
			<a href="http://facebook.com" target="_blank">
				<img src="/img/social-facebook.png" alt="facebook" />
			</a>
		</div>
	</footer>

	<script src="/dist/home.js"></script>
</body>
</html>
