<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Virgil | Docs</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="dist/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="page docs">
	<header class="header container">
		<div class="header-block">
			<img src="img/logo.png" class="header-logo" alt="Virgil" />
		</div>

		<nav class="header-nav header-block header-nav-left">
			<a href="/about" class="header-nav-link">ABOUT US</a>
			<a href="/how-it-works" class="header-nav-link">HOW IT WORKS</a>
		</nav>

		<nav class="header-nav header-block header-nav-right">
			<a href="/downloads" class="header-nav-link">DOWNLOADS</a>
			<a href="/support" class="header-nav-link">SUPPORT</a>
			<a href="/docs" class="header-nav-link">DOCUMENTATION</a>
		</nav>
	</header>

	<section class="container docs-get-api-key">
		<div class="description">
			Protecting your work and your users with Virgil Security<br/>
			service takes hours, not days.
		</div>

		<a href="" class="btn-virgil btn-transparent">Get API KEY</a>
	</section>

	<section class="container choices">
		<span class="choices-section active" data-tab-show="samples">SAMPLES</span>
		<span class="choices-section" data-tab-show="api-reference">API REFERENCE</span>
	</section>

	<section class="docs container md" data-tab="samples">
		<h1 id="topics">Topics</h1>
		<ul>
		<li><a href="#account">Account</a><ul>
		<li><a href="#get-objectsaccountaccount-id">GET /objects/account/{account-id}</a></li>
		</ul>
		</li>
		<li><a href="#certificate">Certificate</a><ul>
		<li><a href="#post-objectscertificate-attach-use-case">POST /objects/certificate (ATTACH use-case)</a></li>
		<li><a href="#post-objectscertificate-create-use-case">POST /objects/certificate (CREATE use-case)</a></li>
		<li><a href="#get-objectscertificatecertificate-id">GET /objects/certificate/{certificate-id}</a></li>
		<li><a href="#remove-objectscertificatecertificate-id">REMOVE /objects/certificate/{certificate-id}</a></li>
		</ul>
		</li>
		<li><a href="#ticket">Ticket</a><ul>
		<li><a href="#post-objectsticket">POST /objects/ticket</a></li>
		<li><a href="#get-objectsticketticket-id">GET /objects/ticket/{ticket-id}</a></li>
		<li><a href="#remove-objectsticketticket-id">REMOVE /objects/ticket/{ticket-id}</a></li>
		<li><a href="#post-objectsticketticket-idactionsconfirm">POST /objects/ticket/{ticket-id}/actions/confirm</a></li>
		<li><a href="#post-objectsticketticket-idactionsresend-confirmation">POST /objects/ticket/{ticket-id}/actions/resend-confirmation</a></li>
		</ul>
		</li>
		<li><a href="#search">Search</a><ul>
		<li><a href="#post-searchaccount">POST /search/account</a></li>
		<li><a href="#post-searchticket">POST /search/ticket</a></li>
		</ul>
		</li>
		<li><a href="#appendix-a-response-codes">Appendix A. Repsonse codes</a></li>
		<li><a href="#Appendix B. Authorization">Appendix B. Authorization</a></li>
		</ul>
		<h1 id="account">Account</h1>
		<p><strong><code>Account</code></strong> entity endpoints</p>
		<h2 id="get-objects-account-account-id-">GET /objects/account/{account-id}</h2>
		<p>Retrieve <strong><code>Account</code></strong> entity including all nested <strong><code>Certificates</code></strong> by <strong>account-id</strong> specified.</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    GET
		Request URL            https://pki.virgilsecurity.com/objects/account/{account-id}
		Authorization          Not needed
		</code></pre><p>Request body</p>
		<pre><code>-
		</code></pre><p>Response body</p>
		<pre><code class="lang-json">{
			&quot;id&quot;: {
				&quot;account_id&quot;: &quot;e33898de-6302-4756-8f0c-5f6c5218e02e&quot;
			},
			&quot;certificates&quot;: [
				{
					&quot;id&quot;: {
						&quot;account_id&quot;: &quot;e33898de-6302-4756-8f0c-5f6c5218e02e&quot;,
						&quot;certificate_id&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;
					},
					&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;
				},
				{
					&quot;id&quot;: {
						&quot;account_id&quot;: &quot;e33898de-6302-4756-8f0c-5f6c5218e02e&quot;,
						&quot;certificate_id&quot;: &quot;deb17e15-d47c-449f-b1b0-4d55247d153f&quot;
					},
					&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;
				}
			]
		}
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X GET https://pki.virgilsecurity.com/objects/account/6480ba7a-1b68-141e-b547-ef8d9adc3145
		</code></pre><h1 id="certificate">Certificate</h1>
		<p><strong><code>Certificate</code></strong> entity endpoints.</p>
		<p>Create <strong><code>Certificate</code></strong> endpoint has two different use-cases:</p>
		<ul>
		<li><strong><code>ATTACH</code></strong>. Creates <strong><code>Certificate</code></strong> for <strong><code>Account</code></strong> specified by <strong>account_id</strong> parameter. The authorization is <strong>NEEDED</strong> and <strong>account_id</strong> parameter required.</li>
		<li><strong><code>CREATE</code></strong>. Creates new <strong><code>Account</code></strong> / <strong><code>Certificate</code></strong> pair. The authorization is <strong>NOT NEEDED</strong> and <strong>account_id</strong> parameter is omitted.</li>
		</ul>
		<p><strong>tickets</strong> parameter is optional when <strong><code>Certificate</code></strong> get created.</p>
		<h2 id="post-objects-certificate-attach-use-case-">POST /objects/certificate (ATTACH use-case)</h2>
		<p>Request info</p>
		<pre><code>HTTP Request method    POST
		Request URL            https://pki.virgilsecurity.com/objects/certificate
		Authorization          Needed
		Parameters             public_key - base64 encoded public key string
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;account_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;,
			&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;,
			&quot;tickets&quot;: [                                             
				{
					&quot;class&quot;: &quot;user_id&quot;,
					&quot;type&quot;: &quot;email&quot;,
					&quot;value&quot;: &quot;user@domain.com&quot;
				},
				{
					&quot;class&quot;: &quot;user_id&quot;,
					&quot;type&quot; : &quot;application&quot;,
					&quot;value&quot;: &quot;warcraft.blizzard.com&quot;
				},
			],
			&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code class="lang-json">{
			&quot;id&quot; : {
				&quot;account_id&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;,
				&quot;certificate_id&quot;: &quot;17084b40-08f5-4bcd-a739-c0d08c176bad&quot;
			},
			&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;,
			&quot;tickets&quot;: []
		}
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/objects/certificate --data &#39;{&quot;account_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;, &quot;public_key&quot; : &quot;BASE64-ENCODED-STRING&quot;, &quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;}&#39;
		</code></pre><h2 id="post-objects-certificate-create-use-case-">POST /objects/certificate (CREATE use-case)</h2>
		<p>Request info</p>
		<pre><code>HTTP Request method    POST
		Request URL            https://pki.virgilsecurity.com/objects/certificate
		Authorization          Not Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;,
			&quot;tickets&quot;: [                                              
				{
					&quot;class&quot;: &quot;user_id&quot;,
					&quot;type&quot;: &quot;email&quot;,
					&quot;value&quot;: &quot;user@domain.com&quot;
				},
				{
					&quot;class&quot;: &quot;user_id&quot;,
					&quot;type&quot;: &quot;application&quot;,
					&quot;value&quot;: &quot;warcraft.blizzard.com&quot;
				},
			],
			&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code class="lang-json">{
			&quot;id&quot;: {
				&quot;account_id&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;,
				&quot;certificate_id&quot;: &quot;17084b40-08f5-4bcd-a739-c0d08c176bad&quot;
			},
			&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;,
			&quot;tickets&quot;: []
		}
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/objects/certificate --data &#39;{&quot;public_key&quot; : &quot;BASE64-ENCODED-STRING&quot;, &quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;}&#39;
		</code></pre><h2 id="get-objects-certificate-certificate-id-">GET /objects/certificate/{certificate-id}</h2>
		<p>Retrieve the information on <strong><code>Certificate</code></strong> including all nested <strong><code>Tickets</code></strong>.</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    GET
		Request URL            https://pki.virgilsecurity.com/objects/certificate/{certificate-id}
		Authorization          Not needed
		</code></pre><p>Request body</p>
		<pre><code>-
		</code></pre><p>Response body</p>
		<pre><code class="lang-json">{
			&quot;id&quot;: {
				&quot;account_id&quot;: &quot;d63a8ffd-bdac-498c-b861-a53e11989cef&quot;,
				&quot;certificate_id&quot;: &quot;deb17e15-d47c-449f-b1b0-4d55247d153f&quot;
			},
			&quot;public_key&quot;: &quot;BASE64-ENCODED-STRING&quot;,
			&quot;tickets&quot;: [
				{
					&quot;class&quot;: &quot;user_id&quot;,
					&quot;type&quot;: &quot;phone&quot;,
					&quot;value&quot;: &quot;+1 123 777 7777&quot;,
					&quot;is_confirmed&quot;: false
				},
				{
					&quot;class&quot;: &quot;user_id&quot;,
					&quot;type&quot;: &quot;email&quot;,
					&quot;value&quot;: &quot;domenik.reve@gmail.com&quot;,
					&quot;is_confirmed&quot;: true
				}
			]
		}
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X GET https://pki.virgilsecurity.com/objects/certificate/6480ba7a-1b68-141e-b547-ef8d9adc3145
		</code></pre><h2 id="remove-objects-certificate-certificate-id-">REMOVE /objects/certificate/{certificate-id}</h2>
		<p>Remove the <strong><code>Certificate</code></strong> by it&#39;s id.</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    DELETE
		Request URL            https://pki.virgilsecurity.com/objects/certificate/{certificate-id}
		Authorization          Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code>-
		</code></pre><p>Request sample</p>
		<pre><code>curl -v -X DELETE https://pki.virgilsecurity.com/objects/certificate/6480ba7a-1b68-141e-b547-ef8d9adc3145 --data &#39;{&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;}&#39;
		</code></pre><h1 id="ticket">Ticket</h1>
		<p><strong><code>Ticket</code></strong> entity endpoints
		Available ticket class/type combinations are:</p>
		<ul>
		<li>user_id <pre><code class="lang-json">  &quot;class&quot;: &quot;user_id&quot;,
		  &quot;type&quot;: &quot;phone&quot;,
		  &quot;value&quot;: &quot;+1 123 777 7777&quot;
		</code></pre>
		<pre><code class="lang-json">  &quot;class&quot;: &quot;user_id&quot;,
		  &quot;type&quot;: &quot;email&quot;,
		  &quot;value&quot;: &quot;super.trouper@gmail.com&quot;
		</code></pre>
		<pre><code class="lang-json">  &quot;class&quot;: &quot;user_id&quot;,
		  &quot;type&quot;: &quot;fax&quot;,
		  &quot;value&quot;: &quot;+1 123 777 7777&quot;
		</code></pre>
		<pre><code class="lang-json">  &quot;class&quot;: &quot;user_id&quot;,
		  &quot;type&quot;: &quot;domain&quot;,
		  &quot;value&quot;: &quot;example.com&quot;
		</code></pre>
		<pre><code class="lang-json">  &quot;class&quot;: &quot;user_id&quot;,
		  &quot;type&quot;: &quot;mac_address&quot;,
		  &quot;value&quot;: &quot;e6:89:35:df:f4:ed&quot;
		</code></pre>
		<pre><code class="lang-json">  &quot;class&quot;: &quot;user_id&quot;,
		  &quot;type&quot;: &quot;application&quot;,
		  &quot;value&quot;: &quot;com.example.application.name&quot;
		</code></pre>
		</li>
		<li>user_info<pre><code class="lang-json">  &quot;class&quot;: &quot;user_info&quot;,
		  &quot;type&quot;: &quot;first_name&quot;
		  &quot;value&quot;: &quot;Bob&quot;
		</code></pre>
		<pre><code class="lang-json">  &quot;class&quot;: &quot;user_info&quot;,
		  &quot;type&quot;: &quot;last_name&quot;
		  &quot;value&quot;: &quot;Bobson&quot;
		</code></pre>
		</li>
		</ul>
		<h2 id="post-objects-ticket">POST /objects/ticket</h2>
		<p>Request info</p>
		<pre><code>HTTP Request method    POST
		Request URL            https://pki.virgilsecurity.com/objects/ticket
		Authorization          Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;certificate_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;,
			&quot;class&quot; : &quot;user_id&quot;,
			&quot;type&quot; : &quot;phone&quot;,
			&quot;value&quot; : &quot;+1 123 777 7777&quot;,
			&quot;guid&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;
		}
		</code></pre>
		<pre><code class="lang-json">{
		   &quot;certificate_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;,
		   &quot;class&quot;: &quot;user_info&quot;,
		   &quot;type&quot; : &quot;last_name&quot;,
		   &quot;value&quot;: &quot;Maley&quot;,
		   &quot;guid&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;
		}
		</code></pre>
		<pre><code class="lang-json">{
		   &quot;certificate_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;,
		   &quot;class&quot; : &quot;user_id&quot;,
		   &quot;type&quot; : &quot;email&quot;,
		   &quot;value&quot; : &quot;daniel.rehl@yahoo.com&quot;,
		   &quot;guid&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code class="lang-json">{
			&quot;id&quot;: {
				&quot;account_id&quot;: &quot;3a768eea-cbda-4926-a82d-831cb89092aa&quot;,
				&quot;certificate_id&quot;: &quot;17084b40-08f5-4bcd-a739-c0d08c176bad&quot;,
				&quot;ticket_id&quot;: &quot;e33898de-6302-4756-8f0c-5f6c5218e02e&quot;
			},
			&quot;class&quot;: &quot;user_id&quot;,
			&quot;type&quot;: &quot;email&quot;,
			&quot;value&quot;: &quot;daniel.rehl@yahoo.com&quot;
		}
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/objects/ticket --data &#39;{&quot;certificate_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;, &quot;class&quot;: &quot;user_id&quot;, &quot;type&quot;: &quot;email&quot;, &quot;value&quot;: &quot;daniel.rehl@yahoo.com&quot;, &quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;}&#39;
		</code></pre><h2 id="get-objects-ticket-ticket-id-">GET /objects/ticket/{ticket-id}</h2>
		<p>Retrieve the information on <strong><code>Ticket</code></strong> including all nested <strong><code>Signs</code></strong>.</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    GET
		Request URL            https://pki.virgilsecurity.com/objects/ticket/{ticket-id}
		Authorization          Not needed
		</code></pre><p>Request body</p>
		<pre><code>-
		</code></pre><p>Response body</p>
		<pre><code class="lang-json">{
			&quot;id&quot;: {
				&quot;account_id&quot;: &quot;e33898de-6302-4756-8f0c-5f6c5218e02e&quot;,
				&quot;certificate_id&quot;: &quot;30a7e1b3-e763-4789-a54d-fcc53dcf973a&quot;,
				&quot;ticket_id&quot;: &quot;cd171f7c-560d-4a62-8d65-16b87419a58c&quot;
			},
			&quot;class&quot;: &quot;user_id&quot;,
			&quot;type&quot;: &quot;email&quot;,
			&quot;value&quot;: &quot;user@domain.com&quot;
		}
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X GET https://pki.virgilsecurity.com/objects/ticket/6480ba7a-1b68-141e-b547-ef8d9adc3145
		</code></pre><h2 id="remove-objects-ticket-ticket-id-">REMOVE /objects/ticket/{ticket-id}</h2>
		<p>Remove the <strong><code>Ticket</code></strong> by it&#39;s id.</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    DELETE
		Request URL            https://pki.virgilsecurity.com/objects/ticket/{ticket-id}
		Authorization          Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code>-
		</code></pre><p>Request sample</p>
		<pre><code>curl -v -X DELETE https://pki.virgilsecurity.com/objects/ticket/6480ba7a-1b68-141e-b547-ef8d9adc3145 --data &#39;{&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;}&#39;
		</code></pre><h2 id="post-objects-ticket-ticket-id-actions-confirm">POST /objects/ticket/{ticket-id}/actions/confirm</h2>
		<p>Confirm <strong><code>Ticket</code></strong> indentity ownership by specifying the code received on registration</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    POST
		Request URL            https://pki.virgilsecurity.com/objects/ticket/{ticket-id}/actions/confirm
		Authorization          Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;code&quot;: &quot;F9U0W9&quot;,
			&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code>-
		</code></pre><p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/objects/ticket/6480ba7a-1b68-141e-b547-ef8d9adc3145/actions/confirm --data &#39;{&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;, &quot;code&quot;:&quot;F9U0W9&quot;}&#39;
		</code></pre><h2 id="post-objects-ticket-ticket-id-actions-resend-confirmation">POST /objects/ticket/{ticket-id}/actions/resend-confirmation</h2>
		<p>Resend the <strong><code>Ticket</code></strong>&#39;s confirmation code</p>
		<p>Request info</p>
		<pre><code>HTTP Request method    POST
		Request URL            https://pki.virgilsecurity.com/objects/ticket/{ticket-id}/actions/resend-confirmation
		Authorization          Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code>-
		</code></pre><p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/objects/ticket/6480ba7a-1b68-141e-b547-ef8d9adc3145/actions/resend-confirmation --data &#39;{&quot;guid&quot;: &quot;a53e98e4-0197-4513-be6d-49836e406aaa&quot;}&#39;
		</code></pre><h1 id="search">Search</h1>
		<h2 id="post-search-account">POST /search/account</h2>
		<p>Request info</p>
		<pre><code>HTTP Request method    POST
		Request URL            https://pki.virgilsecurity.com/search/account
		Authorization          Not Needed
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;email&quot;: &quot;test@test.com&quot;
		}
		</code></pre>
		<p>Response body</p>
		<pre><code class="lang-json">[
			{
				&quot;id&quot;: {
					&quot;account_id&quot;: &quot;981d9537-3cc1-1236-6d63-8a7a608f572f&quot;,
				},
				&quot;certificates&quot;:[
					{
						&quot;id&quot;:{
							&quot;account_id&quot;: &quot;dfb37d22-5995-bf14-46d8-0202a20f32de&quot;,
							&quot;certificate_id&quot;: &quot;75a152b8-022d-6137-3f1a-dc0353639fe8&quot;
						},
						&quot;public_key&quot;:&quot;tkjvnerovgboiej9u5gj4b0best&quot;
					}
				]
			}
		]
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/search/account --data &#39;{&quot;email&quot;: &quot;test@test.com&quot;}&#39;
		</code></pre><h2 id="post-search-ticket">POST /search/ticket</h2>
		<p>Request info</p>
		<pre><code>HTTP Request method           POST
		Request URL                   https://pki.virgilsecurity.com/search/ticket
		Authorization                 Not Needed
		Optional GET paramenters      ?expand=certificate
		</code></pre><p>Request body</p>
		<pre><code class="lang-json">{
			&quot;email&quot;: &quot;test@test.com&quot;
		}
		</code></pre>
		<p>Response body without ?expand=certificate</p>
		<pre><code class="lang-json">[
			{
				&quot;id&quot;:{
					&quot;account_id&quot;:&quot;dfb37d22-5995-bf14-46d8-0202a20f32de&quot;,
					&quot;certificate_id&quot;:&quot;75a152b8-022d-6137-3f1a-dc0353639fe8&quot;,
					&quot;ticket_id&quot;:&quot;a4fc6c26-42fd-97bf-a054-0bc3341100c3&quot;
				},
				&quot;class&quot;:&quot;user_id&quot;,
				&quot;type&quot;:&quot;email&quot;,
				&quot;value&quot;:&quot;sanram@ya.ru&quot;,
				&quot;signs&quot;:[]
			}
		]
		</code></pre>
		<p>Response body with ?expand=certificate</p>
		<pre><code class="lang-json">[
			{
				&quot;id&quot;:{
					&quot;account_id&quot;:&quot;dfb37d22-5995-bf14-46d8-0202a20f32de&quot;,
					&quot;certificate_id&quot;:&quot;75a152b8-022d-6137-3f1a-dc0353639fe8&quot;,
					&quot;ticket_id&quot;:&quot;a4fc6c26-42fd-97bf-a054-0bc3341100c3&quot;
				},
				&quot;class&quot;:&quot;user_id&quot;,
				&quot;type&quot;:&quot;email&quot;,
				&quot;value&quot;:&quot;sanram@ya.ru&quot;,
				&quot;signs&quot;:[],
				&quot;expanded&quot;: {
					&quot;certificate&quot;:{
						&quot;id&quot;:{
							&quot;account_id&quot;:&quot;dfb37d22-5995-bf14-46d8-0202a20f32de&quot;,
							&quot;certificate_id&quot;:&quot;75a152b8-022d-6137-3f1a-dc0353639fe8&quot;
						},
						&quot;public_key&quot;:&quot;tkjvnerovgboiej9u5gj4b0best&quot;
					}
				}
			}
		]
		</code></pre>
		<p>Request sample</p>
		<pre><code>curl -v -X POST https://pki.virgilsecurity.com/search/ticket\?expand\=certificate --data &#39;{&quot;email&quot;: &quot;test@test.com&quot;}&#39;
		</code></pre><h1 id="appendix-a-response-codes">Appendix A. Response codes</h1>
		<p>Application uses standard HTTP response codes:</p>
		<pre><code>200 - Success
		400 - Request error
		401 - Authorization error
		404 - Entity not found
		405 - Method not allowed
		500 - Server error
		</code></pre><p>Addtitional information about the error is returned as JSON-object like:</p>
		<pre><code>{
			&quot;error&quot;: {
				&quot;code&quot;: {error-code}
			}
		}
		</code></pre><p><strong><code>HTTP 500. Server error</code></strong> status is returned on internal application errors</p>
		<pre><code>10000 - Internal application error
		10001 - Application kernel error
		10010 - Internal application error
		10011 - Internal application error
		10012 - Internal application error
		10100 - JSON specified as a request body is invalid
		</code></pre><p><strong><code>HTTP 401. Auth error</code></strong> status is returned on authorization errors</p>
		<pre><code>10200 - Guid specified is expired already
		10201 - The Guid specified is invalid
		10202 - The Authorization header was not specified
		10203 - Certificate header not specified or incorrect
		10204 - The signed digest specified is incorrect
		</code></pre><p><strong><code>HTTP 400. Request error</code></strong> status is returned on request data validation errors</p>
		<pre><code>20000 - Account object not found for id specified
		20100 - Certificate object not found for id specified
		20101 - Certificate&#39;s public key invalid
		20102 - Certificate&#39;s public key not specified
		20103 - Certificate&#39;s public key must be base64-encoded string
		20200 - Ticket object not found for id specified
		20201 - Ticket type specified is invalid
		20202 - Ticket type specified for user identity is invalid
		20203 - Domain specified for domain identity is invalid
		20204 - Email specified for email identity is invalid
		20205 - Phone specified for phone identity is invalid
		20206 - Fax specified for fax identity is invalid
		20207 - Application specified for application identity is invalid
		20208 - Mac address specified for mac address identity is invalid
		20210 - Ticket integrity constraint violation
		20211 - Ticket confirmation entity not found by code specified
		20212 - Ticket confirmation code invalid
		20213 - Ticket was already confirmed and does not need further confirmation
		20214 - Ticket class specified is invalid
		20300 - User info ticket validation failed. Name is invalid
		20400 - Sign digest parameter validation failed
		20401 - Sign hash parameter validation failed
		</code></pre><h1 id="appendix-b-authorization-http-header">Appendix B. Authorization HTTP header</h1>
		<p>The API is supposed to be open for read requests and requires authorization only on modification attempts.</p>
		<p>In order authorize user on modification attempt the API expects valid pair of HTTP headers set: <strong><code>SignedDigest</code></strong> header and <strong><code>Certificate</code></strong>. These headers must be set on each request to endpoints with authorization marked as <strong>NEEDED</strong>:</p>
		<pre><code>POST /objects/certificate HTTP/1.1
		Host: api.virgil-security.com
		Certificate: 3a768eea-cbda-4926-a82d-831cb89092aa 
		SignedDigest: MIG5DAZTSEEyNTYEgYgwgYUCQQCJLqIZilQM6MT+UpBbrMkuvIW5Nj0hRwu5kH1PjocYhlBffillHnC/rw+BMsU0qiV0ZXRKKwrMRhbgVoUdVygkAkBm2QCQf88honRdxp5+Vr5HE7XbqAlUYuYlMmSHSsdXtF4M3Q7/oFgwJRxr0Yb4XFllZbm5Qf57YlGJ41KXXt7xDCRmYzAxM2ZmZS0yYjViLTRjMDQtZmQzNC1jMTM5ZThkY2Y3Yjg=
		</code></pre><p>The request body gets signed on the client using user’s private key and this digest will be used as <strong><code>SignedDigest</code></strong> header. In order to verify the data fingerprint, additional header <strong><code>Certificate</code></strong> must contain the <strong>GUID</strong> of the certificate used to sign the data. Later on these headers are used to make sure the request body specified is unchanged and came from the valid client.</p>
		<p><strong>The authorization is disabled by default. To enable authorization middleware, you need to specify <code>Authorization</code> HTTP header</strong></p>
		<h3 id="client-authorization-calculation">Client Authorization calculation</h3>
		<p>The <strong>SignedDigest</strong> hash is calculated on client according rules:</p>
		<pre><code>SIGN = VirgilSigner::sign(REQUEST_BODY_TEXT, CERTIFICATE_ID, PRIVATE_KEY, PRIVATE_KEY_PWD)
		SIGNED-DIGEST = base64_encode(SIGN-&gt;toAsn1())
		</code></pre><ul>
		<li><strong>REQUEST_BODY_TEXT</strong> - the text representation of the request body to be sent to API</li>
		<li><strong>VirgilSigner::sign</strong> - Virgil Seсurity library method to sign the data</li>
		<li><strong>PRIVATE_KEY</strong>, <strong>PRIVATE_KEY_PWD</strong> - private key / password pair for the user&#39;s certificate</li>
		<li><strong>CERTIFICATE_ID</strong> - The KeyRing certificate id</li>
		</ul>
		<h3 id="server-authorization-verification">Server Authorization verification</h3>
		<p>To authorize the request on server, this step is executed:</p>
		<pre><code>VirgilSigner::verify(REQUEST_BODY, SIGN, CERTIFICATE_PUBLIC_KEY) === True
		</code></pre><ul>
		<li><strong>REQUEST_BODY</strong> - request text obtained by API</li>
		<li><strong>VirgilSigner::verify</strong> - Virgil Seсurity low-level API function to verify the sign</li>
		<li><strong>SIGN</strong> - is an object to evaluate the signed digest. Obtained by deserialization on <strong>SIGNED_DIGEST</strong></li>
		<li><strong>CERTIFICATE_PUBLIC_KEY</strong> - the public key extracted from the certificate specified by <strong>CERTIFICATE_ID</strong></li>
		</ul>
		<h3 id="authorization-hash-cardinality">Authorization hash cardinality</h3>
		<p>In order to provide good <strong><code>Authorization</code></strong> header cardinality and to prevent cases when the Authorization hash for the resource becomes static we need to add unique parameter to the request body. This parameter must be a <strong><code>GUID</code></strong> value and named as <strong>guid</strong>.
		All GUIDs used in authorized requests got stored in the database and are valid only once. On each further request with GUID used already request will be returned with <strong><code>401 Auth Error</code></strong> HTTP status.</p>
		<h3 id="request-example">Request example</h3>
		<pre><code>curl -X POST https://pki.virgilsecurity.com/objects/ticket --data &#39;{&quot;certificate_id&quot;:&quot;d1832f79-4049-ccb0-7a11-75dc0d4bd19c&quot;,&quot;type&quot;:&quot;user_id&quot;,&quot;data&quot;:{&quot;type&quot;:&quot;email&quot;,&quot;value&quot;:&quot;sanram@rambler.ru&quot;},&quot;guid&quot;:&quot;9d394ca0-9e3d-03ae-8f72-c423c37c3996&quot;}&#39; --header &#39;SignedDigest: MIGVDAZTSEEyNTYEgYgwgYUCQEOkQ22Z/a2qfhwXAup2WgabhHzkhAFp4c96QnyoJk9ngDwTJeoZopaFCYxt3uKgeZvJs02ffGZGiZBaFsNDcaYCQQCOxMqJDm5Q+611goZxqDdKahBWn8qkqxpjeaDrjR2a+d/rozccMSTfWTonRKk4c/wTlArVsHApD9/8osaydzsADAA=&#39; --header &#39;Certificate: 6e8d61dd-6f11-aabf-a46a-c4005240ce77&#39; --header &#39;Authorization: true&#39;
		</code></pre><h3 id="json-canonicalization">JSON canonicalization</h3>
		<p>Both client and server must use the same algorithm to make a hash on the <strong>REQUEST_BODY</strong>. See <a href="http://stackoverflow.com/questions/4670494/how-to-cryptographically-hash-a-json-object">thread</a> to review the problem.</p>
	</section>

	<div class="code-tabs container hide" data-tab="api-reference">
		<div class="code-tabs-nav">
			<button class="code-tabs-nav-item" data-section="php">PHP</button>
			<button class="code-tabs-nav-item" data-section="c#">C#</button>
		</div>

		<div class="code-tabs-subnav">
			<button class="code-tabs-nav-item code-tabs-subnav-item" data-tab="encrypt">encrypt</button>
			<button class="code-tabs-nav-item code-tabs-subnav-item" data-tab="decrypt">decrypt</button>
		</div>

		<div class="sections">
			<div class="section" data-section="php">
				<pre data-tab="encrypt">
					php encrypt
				</pre>
				<pre data-tab="decrypt">
					php decrypt
				</pre>
			</div>

			<div class="section" data-section="c#">
				<pre data-tab="encrypt">
					c# encrypt
				</pre>
				<pre data-tab="decrypt">
					c# decrypt
				</pre>
			</div>
		</div>
	</div>

	<footer class="footer container">
		<div class="footer-copy">
			© Virgil Security, Inc. 2015
		</div>

		<div class="footer-links">
			<a href="/why">Why Virgil</a>
			<a href="/how-it-works">How it works</a>
			<a href="/downloads">Downloads</a>
			<a href="/support">Support</a>
			<a href="/docs">Documentation</a>
		</div>

		<div class="footer-social">
			<a href="http://twitter.com" target="_blank">
				<img src="/img/social-twitter.png" alt="twitter" />
			</a>
			<a href="http://facebook.com" target="_blank">
				<img src="/img/social-facebook.png" alt="facebook" />
			</a>
		</div>
	</footer>

	<script src="/dist/home.js"></script>
</body>
</html>
