<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Virgil | Docs</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="dist/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="page docs">
	<header class="header container">
		<div class="header-block">
			<img src="img/logo.png" class="header-logo" alt="Virgil" />
		</div>

		<nav class="header-nav header-block header-nav-left">
			<a href="/about" class="header-nav-link">ABOUT US</a>
			<a href="/how-it-works" class="header-nav-link">HOW IT WORKS</a>
		</nav>

		<nav class="header-nav header-block header-nav-right">
			<a href="/downloads" class="header-nav-link">DOWNLOADS</a>
			<a href="/support" class="header-nav-link">SUPPORT</a>
			<a href="/docs" class="header-nav-link">DOCUMENTATION</a>
		</nav>
	</header>

	<section class="container docs-get-api-key">
		<div class="description">
			Protecting your work and your users with Virgil Security<br/>
			service takes hours, not days.
		</div>

		<a href="" class="btn-virgil btn-transparent">Get API KEY</a>
	</section>

	<section class="container choices">
		<span class="choices-section active" data-tab-show="samples">SAMPLES</span>
		<span class="choices-section" data-tab-show="api-reference">API REFERENCE</span>
	</section>

	<section class="docs container md" data-tab="samples">
	</section>

	<section class="code-tabs container hide" data-tab="api-reference">
		<div class="code-tabs-nav">
			<img class="code-tabs-dots" src="/img/docs/window-dots.png" alt="dots.." />
			<button class="code-tabs-nav-item" data-section="php">PHP</button>
			<button class="code-tabs-nav-item" data-section="c#">C#</button>
		</div>

		<div class="code-tabs-subnav">
			<button class="code-tabs-nav-item code-tabs-subnav-item" data-code-tab="encrypt">encrypt</button>
			<button class="code-tabs-nav-item code-tabs-subnav-item" data-code-tab="decrypt">decrypt</button>
		</div>

		<div class="sections">
			<div class="section" data-section="php">
				<pre data-code-tab="encrypt">
<code class="lang-js">var marked = require('marked');
var markdownString = '```js\n console.log("hello"); \n```';

// Async highlighting with pygmentize-bundled
marked.setOptions({
	highlight: function (code, lang, callback) {
		require('pygmentize-bundled')({ lang: lang, format: 'html' }, code, function (err, result) {
			callback(err, result.toString());
		});
	}
});

// Using async version of marked
marked(markdownString, function (err, content) {
  if (err) throw err;
  console.log(content);
});

// Synchronous highlighting with highlight.js
marked.setOptions({
  highlight: function (code) {
	return require('highlight.js').highlightAuto(code).value;
  }
});

console.log(marked(markdownString));
</code>
				</pre>
				<pre data-code-tab="decrypt">
					php decrypt
				</pre>
			</div>

			<div class="section" data-section="c#">
				<pre data-code-tab="encrypt">
					c# encrypt
				</pre>
				<pre data-code-tab="decrypt">
					c# decrypt
				</pre>
			</div>
		</div>
	</section>

	<footer class="footer container">
		<div class="footer-copy">
			© Virgil Security, Inc. 2015
		</div>

		<div class="footer-links">
			<a href="/why">Why Virgil</a>
			<a href="/how-it-works">How it works</a>
			<a href="/downloads">Downloads</a>
			<a href="/support">Support</a>
			<a href="/docs">Documentation</a>
		</div>

		<div class="footer-social">
			<a href="http://twitter.com" target="_blank">
				<img src="/img/social-twitter.png" alt="twitter" />
			</a>
			<a href="http://facebook.com" target="_blank">
				<img src="/img/social-facebook.png" alt="facebook" />
			</a>
		</div>
	</footer>

	<script src="/dist/home.js"></script>
</body>
</html>
