<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Virgil | Docs</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="dist/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="page downloads">
	<header class="header container">
		<div class="header-block">
			<img src="img/logo.png" class="header-logo" alt="Virgil" />
		</div>

		<nav class="header-nav header-block header-nav-left">
			<a href="/about" class="header-nav-link">ABOUT US</a>
			<a href="/how-it-works" class="header-nav-link">HOW IT WORKS</a>
		</nav>

		<nav class="header-nav header-block header-nav-right">
			<a href="/downloads" class="header-nav-link">DOWNLOADS</a>
			<a href="/support" class="header-nav-link">SUPPORT</a>
			<a href="/docs" class="header-nav-link">DOCUMENTATION</a>
		</nav>
	</header>

	<section class="container downloads-title">
		<h2>Downloads</h2>
	</section>

	<section class="container choices">
		<span class="choices-section end-users tab active">
			<span class="label">
				END USERS
			</span>
		</span>
		<span class="choices-section tab developers">
			<span class="label">
				DEVELOPERS
			</span>
		</span>
	</section>

	<section class="container downloads-description">
		Our libraries are available across the vast majority of programming languages on<br/>
		a preponderance of platforms (including Android, iOS, Linux, Mac, and Windows).<br/>
		This enables a new generation of enhanced privacy and security for applications,<br/>
		cloud services, and the Internet of Things.
	</section>

	<section class="container downloads-links">
		<a href="" class="downloads-links-link">
			<img src="/img/downloads/wordpress.png" />
			<div>Wordpress</div>
		</a>
		<a href="" class="downloads-links-link">
			<img src="/img/downloads/joomla.png" />
			<div>Joomla</div>
		</a>
		<a href="" class="downloads-links-link">
			<img src="/img/downloads/drupal.png" />
			<div>Drupal</div>
		</a>
		<a href="" class="downloads-links-link">
			<img src="/img/downloads/phpbb.png" />
			<div>phpBB</div>
		</a>
		<a href="" class="downloads-links-link">
			<img src="/img/downloads/vanilla.png" />
			<div>Vanilla</div>
		</a>
	</section>

	<footer class="footer container">
		<div class="footer-copy">
			© Virgil Security, Inc. 2015
		</div>

		<div class="footer-links">
			<a href="/why">Why Virgil</a>
			<a href="/how-it-works">How it works</a>
			<a href="/downloads">Downloads</a>
			<a href="/support">Support</a>
			<a href="/docs">Documentation</a>
		</div>

		<div class="footer-social">
			<a href="http://twitter.com" target="_blank">
				<img src="/img/social-twitter.png" alt="twitter" />
			</a>
			<a href="http://facebook.com" target="_blank">
				<img src="/img/social-facebook.png" alt="facebook" />
			</a>
		</div>
	</footer>

	<script src="/dist/home.js"></script>
</body>
</html>
