<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Virgil | Home</title>
	<link rel="stylesheet" href="dist/app.css" type="text/css" media="screen" charset="utf-8">
</head>
<body class="page home">

	<section class="home-header-block">
		<header class="header">
			<div class="header-block">
				<img src="img/logo.png" class="header-logo" alt="Virgil" />
			</div>

			<nav class="header-nav header-block header-nav-left">
				<a href="/about" class="header-nav-link">ABOUT US</a>
				<a href="/how-it-works" class="header-nav-link">HOW IT WORKS</a>
			</nav>

			<nav class="header-nav header-block header-nav-right">
				<a href="/downloads" class="header-nav-link">DOWNLOADS</a>
				<a href="/support" class="header-nav-link">SUPPORT</a>
				<a href="/docs" class="header-nav-link">DOCUMENTATION</a>
			</nav>
		</header>

		<div class="clear"></div>

		<section class="home-slider">
			<h2 class="home-slider-title">
				Secure The Future
			</h2>
			<div class="home-slider-description">
				Passwordless Authentication,<br/>
				Data Encryption and Data Integrity for your apps.<br/>
				Add in minutes. Benifit forever.
			</div>

			<button class="home-slider-get-started btn-virgil">
				GET STARTED
			</button>

			<div class="home-slider-pagination">
				<span class="home-slider-pagination-dot active"></span>
				<span class="home-slider-pagination-dot"></span>
				<span class="home-slider-pagination-dot"></span>
				<span class="home-slider-pagination-dot"></span>
				<span class="home-slider-pagination-dot"></span>
			</div>
		</section>
	</section>

	<section class="home-features">
		<div class="home-features-feature">
			<img src="../img/home/feature-developers.png" alt="feature" />
			<span>DEVELOPERS</span>
		</div>

		<div class="home-features-feature">
			<img src="../img/home/feature-iot.png" alt="feature" />
			<span>INTERNET OF THINGS</span>
		</div>

		<div class="home-features-feature">
			<img src="../img/home/feature-enterprise.png" alt="feature" />
			<span>ENTERPRISE</span>
		</div>

		<div class="home-features-feature">
			<img src="../img/home/feature-identity.png" alt="feature" />
			<span>IDENTITY</span>
		</div>

		<div class="home-features-feature">
			<img src="../img/home/feature-cloud.png" alt="feature" />
			<span>CLOUD</span>
		</div>
	</section>

	<div class="clear"></div>

	<div class="home-bottom-block">
		<section class="home-downloads">
			<h3 class="home-downloads-title">
				Protect everything, everywhere, always.<br/>
				Use Virgil to get there.
			</h3>

			<div class="home-downloads-description">
				Check out our apps
			</div>

			<button class="home-downloads-btn btn-virgil btn-transparent">DOWNLOADS</button>
		</section>

		<section class="home-features-expanded">
			<div class="home-features-expanded-col">
				<div class="home-features-expanded-item">
					<div class="home-features-expanded-item-icon">
						<img src="../img/home/feature-next-gen-sec.png" />
					</div>
					<div class="home-features-expanded-item-description">
						<h4>Drop next gen security into every<br/>applicatiotn.</h4>
						<p>Your clients deserve the best security. Add it without being a security expert yourself.</p>
					</div>
				</div>
				<div class="home-features-expanded-item">
					<div class="home-features-expanded-item-icon">
						<img src="../img/home/feature-identities.png" />
					</div>
					<div class="home-features-expanded-item-description">
						<h4>Verify Identities.</h4>
						<p>Identity made simple and without passwords.</p>
					</div>
				</div>
			</div>
			<div class="home-features-expanded-col">
				<div class="home-features-expanded-item">
					<div class="home-features-expanded-item-icon">
						<img src="../img/home/feature-data-enc.png" />
					</div>
					<div class="home-features-expanded-item-description">
						<h4>Encrypt data at rest and in transit.</h4>
						<p>All data should be secure all the time. Users (or Your clients) expect it.</p>
					</div>
				</div>
				<div class="home-features-expanded-item">
					<div class="home-features-expanded-item-icon">
						<img src="../img/home/feature-sec-in-min.png" />
					</div>
					<div class="home-features-expanded-item-description">
						<h4>Implement security in minutes.</h4>
						<p>We support the platforms and languages you know and love.</p>
					</div>
				</div>
			</div>

			<div class="clear"></div>
		</section>

		<footer class="footer">
			<div class="footer-copy">
				© Virgil Security, Inc. 2015
			</div>

			<div class="footer-links">
				<a href="/why">Why Virgil</a>
				<a href="/how-it-works">How it works</a>
				<a href="/downloads">Downloads</a>
				<a href="/support">Support</a>
				<a href="/docs">Documentation</a>
			</div>

			<div class="footer-social">
				<a href="http://twitter.com" target="_blank">
					<img src="../img/social-twitter.png" alt="twitter" />
				</a>
				<a href="http://facebook.com" target="_blank">
					<img src="../img/social-facebook.png" alt="facebook" />
				</a>
			</div>
		</footer>
	</div>
</body>
</html>
