<section class="chatFavoriteTech">
    <div class="wrapper">
        <div class="chatFavoriteTech-container">
            <div class="favoriteTech text">Works with your favorite tech</div>
            <div class="favoriteTech twillio"></div>
            <div class="favoriteTech nexmo"></div>
            <div class="favoriteTech parse"></div>
        </div>
    </div>
</section>
