<section class="companies">
    <div class="wrapper">
        <h3 class="companies-title">Empowering these awesome companies</h3>
        <div class="companies-list">
            <div class="company heltha">
                <h5 class="company-title">Heltha</h5>
                <h6 class="company-location">Boston, MA</h6>
                <p class="company-description">
                    Performance medicine service, E2EE chat between clients & doctors.
                </p>
            </div>
            <div class="company hushed">
                <h5 class="company-title">Hushed</h5>
                <h6 class="company-location">Ontario, CANADA</h6>
                <p class="company-description">
                    E2EE messaging for private disposablephone numbers.
                </p>
            </div>
            <div class="company appfriends">
                <h5 class="company-title">Appfriends</h5>
                <h6 class="company-location">NEW YORK, NY</h6>
                <p class="company-description">
                    E2EE private in-app messaging & userengagement platform.
                </p>
            </div>
            <div class="company sikka">
                <h5 class="company-title">Sikka Chat</h5>
                <h6 class="company-location">San Jose, CA</h6>
                <p class="company-description">
                    E2EE chat service for patients &doctors at private practices.
                </p>
            </div>
            <div class="company cloackroom">
                <h5 class="company-title">Cloackroom</h5>
                <h6 class="company-location">WASHINGTON, D.C.</h6>
                <p class="company-description">
                    The invite-only E2EE social chat appin and near the U.S. White House.
                </p>
            </div>
            <div class="company mybeepr">
                <h5 class="company-title">Mybeepr</h5>
                <h6 class="company-location">Sydney, AUSTRALIA</h6>
                <p class="company-description">
                    Australia’s most trusted solution formobile healthcare communication, E2EE.
                </p>
            </div>
        </div>
    </div>
</section>
