<section class="intro">
    <div class="wrapper">
        <div class="introBlock">
            <div class="blockMsg">
                <h1 class="blockMsg-headline">Add end-to-end encryption to your chat app in 10 minutes</h1>
            </div>
            <div class="introActions">
                <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Get Started</a>
            </div>
        </div>
        <div class="chatFeatures">
            <div class="chatFeature end2end">
                <div class="chatFeature-title">END-TO-END ENCRYPTED</div>
                <div class="chatFeature-description">Virgil's E2EE tech makes peeking impossible for cloud providers,
                    governments, hackers.
                </div>
            </div>
            <div class="chatFeature ready2go">
                <div class="chatFeature-title">Ready to Go & Open Source</div>
                <div class="chatFeature-description">Fully functional open source chat app, licensed under ISC, yours to
                    reuse & customize.
                </div>
            </div>
            <div class="chatFeature start-free">
                <div class="chatFeature-title">Start Free</div>
                <div class="chatFeature-description">Start up for free. Pay only when you're ready for prime time.</div>
            </div>
        </div>
    </div>
</section>
