<section class="pricing">
    <div class="wrapper">
        <h3 class="pricing-title">START UP FOR FREE, PAY ONLY WHEN IN PRODUCTION</h3>
        {% include 'common/pricing/pricing-table.twig' %}
    </div>
</section>
