<section class="pricing">
    <div class="wrapper">
        <h3 class="pricing-title">START UP FOR FREE, PAY ONLY WHEN IN PRODUCTION</h3>
        <div class="pricing-table">
            <div class="pricing-column pricing-description hide-on-mobile">
                <div class="pricing-cell pricing-header">
                    <div class="switch-annotation">
									<span>
										Bill
										<p class="switch-annotation-big">MONTHLY</p>
									</span>
                        <div data-switch class="switch-container">
                            <div data-switch-control class="switch-control off"></div>
                        </div>
                        <span>
										Bill
										<p class="switch-annotation-big">ANNUAL</p>
									</span>
                    </div>
                    <p class="switch-subtitle">Save with annual pre-payment</p>
                </div>
                <div class="pricing-cell">Best for</div>
                <div class="pricing-cell">Registered user keys</div>
                <div class="pricing-cell hide-on-mobile">Slack community support</div>
                <div class="pricing-cell hide-on-mobile">Guaranteed SLA</div>
                <div class="pricing-cell hide-on-mobile">Dev/staging/production environments</div>
                <div class="pricing-cell hide-on-mobile">Global geo-balancing</div>
                <div class="pricing-cell hide-on-mobile">24/7 support</div>
                <div class="pricing-cell hide-on-mobile">Dedicated customer support engineer</div>
                <div class="pricing-cell hide-on-mobile">On-premise hosted Virgil backend services</div>
                <div class="pricing-cell hide-on-mobile">Country-specific data location</div>
                <div class="pricing-cell hide-on-mobile pricing-footer">
                    <div class="switch-annotation">
									<span>
										Bill
										<p class="switch-annotation-big">MONTHLY</p>
									</span>
                        <div data-switch class="switch-container">
                            <div data-switch-control class="switch-control off"></div>
                        </div>
                        <span>
										Bill
										<p class="switch-annotation-big">ANNUAL</p>
									</span>
                    </div>
                    <p class="switch-subtitle">Save with annual pre-payment</p>
                </div>
            </div>
            <div class="pricing-column pricing-plan">
                <div class="pricing-cell pricing-header">
                    <div>
                        <b class="pricing-plan-title">Basic</b>
                        <p class="pricing-plan-price">Free</p>
                        <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get
                            Started</a>
                    </div>
                </div>
                <div class="pricing-cell">Good for development & non-critical apps</div>
                <div class="pricing-cell">Up to 250 users</div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
                    <p class="pricing-plan-price">Free</p>
                    <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get
                        Started</a>
                </div>
            </div>
            <div class="pricing-column pricing-plan active">
                <div class="pricing-cell pricing-header">
                    <div>
                        <b class="pricing-plan-title">Production</b>
                        <p class="pricing-plan-price">$
                            <span data-price>49</span> / mo</p>
                        <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get
                            Started</a>
                    </div>
                </div>
                <div class="pricing-cell">Ideal for production apps</div>
                <div class="pricing-cell">Up to 2,500 users</div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
                    <p class="pricing-plan-price">$
                        <span data-price>49</span> / mo</p>
                    <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get
                        Started</a>
                </div>
            </div>
            <div class="pricing-column pricing-plan selected">
                <div class="pricing-cell pricing-header">
                    <div>
                        <b class="pricing-plan-title">Business</b>
                        <p class="pricing-plan-price">$
                            <span data-price>499</span> / mo</p>
                        <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Get
                            Started</a>
                    </div>
                </div>
                <div class="pricing-cell">Ideal for mission critical apps</div>
                <div class="pricing-cell">Up to 25,000 users</div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile"></div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
                    <p class="pricing-plan-price">$
                        <span data-price>499</span> / mo</p>
                    <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Get
                        Started</a>
                </div>
            </div>
            <div class="pricing-column pricing-plan">
                <div class="pricing-cell pricing-header">
                    <div>
                        <b class="pricing-plan-title">Mega</b>
                        <p class="pricing-plan-price">$
                            <span data-price>1999</span> / mo</p>
                        <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get
                            Started</a>
                    </div>
                </div>
                <div class="pricing-cell">Mission critical app with a large number of active users</div>
                <div class="pricing-cell">Up to 100,000 users</div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
                <div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
                    <p class="pricing-plan-price">$
                        <span data-price>1999</span> / mo</p>
                    <a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get
                        Started</a>
                </div>
            </div>
            <div class="pricing-column pricing-plan">
                <div class="pricing-cell pricing-header">
                    <div>
                        <b class="pricing-plan-title">Enterprise</b>
                        <p class="pricing-plan-price">Custom pricing</p>
                        <a class="button-raisedRedBorder" href="/contact">Contact Us</a>
                    </div>
                </div>
                <div class="pricing-cell">Large apps with users beyond 10K active users</div>
                <div class="pricing-cell">More than 100,000 users</div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell dot hide-on-mobile">
                    <span class="check"/>
                </div>
                <div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
                    <p class="pricing-plan-price">Custom pricing</p>
                    <a class="button-raisedRedBorder" href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
