.comparisonBlock {
  display: flex;
  align-items: center;
}

.comparisonItem {
  @include font-muller();
  width: 400px;
  border-radius: 3px;
  padding: 40px 20px;
  text-align: center;
  background: $vs-color-white;
  box-shadow: 0 5px 25px 0 rgba($vs-color-black, 0.1);

  &--highlight {
    padding: 80px 20px;
    background: linear-gradient(to bottom, $vs-color-red1 0%, $vs-color-darkRed1 100%);
    box-shadow: 0 5px 15px 0 rgba($vs-color-darkRed2, 0.5);
    color: $vs-color-white;
  }
}