<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Virgil Security</title>
</head>
<body>
<div class="page homePage" data-vs-page="home">
  <header class="header">
    <div class="headerFull">
      <div class="headerLogo">
        <a href=""><img src="images/shared/logo.png" alt=""></a>
      </div>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item headerNav-home">
            <a class="firstLevel-itemLink">Home</a>
          </li>
          <li class="firstLevel-item headerNav-documentation">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-book" aria-hidden="true"></i>
                  <span>Documentation</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <div class="thirdLevel-caption">Get started</div>
                <ul class="thirdLevel-list">
                  <li class="thirdLevel-item">
                    <a href="">Encrypted communication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Encrypted storage</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Passwordless Authentication</a>
                  </li>
                  <li class="thirdLevel-item">
                    <a href="">Data Integrity</a>
                  </li>
                </ul>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-bookmark" aria-hidden="true"></i>
                  <span>API references</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-about">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-shield" aria-hidden="true"></i>
                  <span>About Virgil</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-case" aria-hidden="true"></i>
                  <span>Clients</span>
                </a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">
                  <i class="icon icon-medium" aria-hidden="true"></i>
                  <span>Blog</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item headerNav-features">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item headerNav-pricing">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item headerNav-contacts">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="button-flatWhite">Login</a>
        <a href="" class="button-raisedWhiteBorder">Get started</a>
      </div>
      <button data-vs-sideNav-open class="headerOpenButton">
        <i class="icon icon-menu"></i>
      </button>
    </div>
    <div class="headerSideBar" data-vs-sideNav-target>
      <button class="headerCloseButton" data-vs-sideNav-close>
        <i class="icon icon-close"></i>
      </button>
      <nav class="headerNav">
        <ul class="firstLevel-list">
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Get started</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted communication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Encrypted storage</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Passwordless Authentication</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Data Integrity</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Developers</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Documentation</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">API references</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <div class="firstLevel-itemLink">Company</div>
            <ul class="secondLevel-list">
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-about">About Virgil</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink headerNav-clients">Clients</a>
              </li>
              <li class="secondLevel-item">
                <a href="" class="secondLevel-itemLink">Blog</a>
              </li>
            </ul>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Features</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Pricing</a>
          </li>
          <li class="firstLevel-item">
            <a class="firstLevel-itemLink">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="headerAuth">
        <a href="" class="headerAuth-link"><span>Login / Sign In</span></a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="intro">
      <div class="wrapper">
        <div class="introContentBlock">
          <div class="blockMsg">
            <h1 class="blockMsg-headline">Easy to use security<br>cryptographic building blocks</h1>
            <div class="blockMsg-links">
              <a href="" class="button-raisedWhite">
                <i class="fa fa fa-github" aria-hidden="true"></i>
                <span>Github</span>
              </a>
              <a href="" class="button-raisedRed">Try for free</a>
            </div>
          </div>
          <ul class="introLangList">
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-obj-c.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-swift.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-ruby.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-python.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-windows.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-java.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-js.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-php.png" alt=""></a>
            </li>
            <li>
              <a href=""><img src="images/pages/home/intro/langs/home-lang-go.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="useCases">
      <div class="wrapper">
        <div class="useCasesContentBlock">
          <div class="blockMsg">
            <h2 class="blockMsg-headline">Stay safe with <strong>Virgil Security</strong></h2>
            <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
            <div class="blockMsg-links">
              <a href="" class="button-raisedRed">How to stay save</a>
              <a href="" class="button-flat">About us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="useCaseList">
        <div class="useCaseList-caption">use cases</div>
        <div class="useCaseList-image"></div>
      </div>
    </div>
    <div class="services">
      <div class="wrapper">
        <div class="servicesContentBlock">
          <div class="services-caption">services</div>
          <div class="blockMsg">
            <h2 class="blockMsg-headline">Complete security,<br>complete safety</h2>
            <p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <ul class="serviceList">
            <li class="serviceItem" data-tilt>
              <a href="" class="serviceItem-link">
                <img src="images/pages/home/services/home-service-serviceIcon1.png" alt="" class="serviceItem-image">
                <span class="serviceItem-linkText">Encrypted communication</span>
                <span class="serviceItem-linkHoverText">
                  <span>Learn More</span>
                  <i class="icon icon-arrowRight" aria-hidden="true"></i>
                </span>
              </a>
            </li>
            <li class="serviceItem" data-tilt>
              <a href="" class="serviceItem-link">
                <img src="images/pages/home/services/home-service-serviceIcon2.png" alt="" class="serviceItem-image">
                <span class="serviceItem-linkText">Encrypted communication</span>
                <span class="serviceItem-linkHoverText">
                  <span>Learn More</span>
                  <i class="icon icon-arrowRight" aria-hidden="true"></i>
                </span>
              </a>
            </li>
            <li class="serviceItem" data-tilt>
              <a href="" class="serviceItem-link">
                <img src="images/pages/home/services/home-service-serviceIcon3.png" alt="" class="serviceItem-image">
                <span class="serviceItem-linkText">Encrypted communication</span>
                <span class="serviceItem-linkHoverText">
                  <span>Learn More</span>
                  <i class="icon icon-arrowRight" aria-hidden="true"></i>
                </span>
              </a>
            </li>
            <li class="serviceItem" data-tilt>
              <a href="" class="serviceItem-link">
                <img src="images/pages/home/services/home-service-serviceIcon4.png" alt="" class="serviceItem-image">
                <span class="serviceItem-linkText">Encrypted communication</span>
                <span class="serviceItem-linkHoverText">
                  <span>Learn More</span>
                  <i class="icon icon-arrowRight" aria-hidden="true"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clients">
      <div class="wrapper">
        <div class="clientsContentBlock">
          <a href="" class="clientsLink">
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-trustlook.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-soraa.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-atomicorp.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-twilio.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-sikka.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-dd.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkItem">
              <img src="images/pages/home/clients/home-clients-yubico.png" class="clientsLinkItem-image" alt="">
            </span>
            <span class="clientsLinkButton button-raisedRed-static">see our clients</span>
          </a>
        </div>
      </div>
    </div>
    <div class="usage">
      <div class="wrapper">
        <div class="usageContentBlock">
          <div class="blockMsg">
            <h2 class="blockMsg-headline">Easy for developers</h2>
            <p class="blockMsg-text">We believe that security is a problem rooted in code. We obsessively seek out elegant, composable abstractions that enable robust, scalable, flexible integrations. We eliminate needless complexity and extraneous details, you can get up and running Virgil in just a couple of minutes.</p>
          </div>
          <div id="homeUsageStepsCarousel" class="usageStepsCarousel carousel slide"
               data-pause="hover" data-wrap="false">
            <ul class="usageStepsCarousel-controls carousel-indicators">
              <li class="usageStepsCarousel-control active" data-target="#homeUsageStepsCarousel" data-slide-to="0">
                <i>1</i>
                <span>Encryption</span>
              </li>
              <li class="usageStepsCarousel-control" data-target="#homeUsageStepsCarousel" data-slide-to="1">
                <i>2</i>
                <span>Decryption</span>
              </li>
              <li class="usageStepsCarousel-control" data-target="#homeUsageStepsCarousel" data-slide-to="2">
                <i>3</i>
                <span>Create signature</span>
              </li>
              <li class="usageStepsCarousel-control" data-target="#homeUsageStepsCarousel" data-slide-to="3">
                <i>4</i>
                <span>Verify signature</span>
              </li>
            </ul>
            <div class="usageSteps">
              <a href="#homeUsageStepsCarousel" class="usageStepsCarousel-previous" data-slide="prev"></a>
              <ul class="usageStepList carousel-inner">
                <li class="usageStepItem carousel-item active">
                  <a href="" class="usageStepItem-link">
                    <img src="images/pages/home/usage/home-usage-encryption.png" alt="" class="usageStepItem-linkImage">
                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                  </a>
                </li>
                <li class="usageStepItem carousel-item">
                  <a href="" class="usageStepItem-link">
                    <img src="images/pages/home/usage/home-usage-decryption.png" alt="" class="usageStepItem-linkImage">
                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                  </a>
                </li>
                <li class="usageStepItem carousel-item">
                  <a href="" class="usageStepItem-link">
                    <img src="images/pages/home/usage/home-usage-create.png" alt="" class="usageStepItem-linkImage">
                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                  </a>
                </li>
                <li class="usageStepItem carousel-item">
                  <a href="" class="usageStepItem-link">
                    <img src="images/pages/home/usage/home-usage-verify.png" alt="" class="usageStepItem-linkImage">
                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                  </a>
                </li>
              </ul>
              <a href="#homeUsageStepsCarousel" class="usageStepsCarousel-next" data-slide="next"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="benefits">
      <div class="wrapper">
        <div class="benefitsContentBlock">
          <ul class="benefitList">
            <li class="benefitItem">
              <div class="benefitItem-image">
                <img src="images/pages/home/benefits/home-benefits-benefitIcon1.png" alt="">
              </div>
              <div class="benefitItem-msg">
                <h4 class="benefitItem-headline">Next Gen Security Everywhere</h4>
                <p class="benefitItem-text">Add the security without being an expert yourself.</p>
              </div>
            </li>
            <li class="benefitItem">
              <div class="benefitItem-image">
                <img src="images/pages/home/benefits/home-benefits-benefitIcon2.png" alt="">
              </div>
              <div class="benefitItem-msg">
                <h4 class="benefitItem-headline">Encrypt Data at Rest & in Transit</h4>
                <p class="benefitItem-text">All data should be secure all the time.</p>
              </div>
            </li>
            <li class="benefitItem">
              <div class="benefitItem-image">
                <img src="images/pages/home/benefits/home-benefits-benefitIcon3.png" alt="">
              </div>
              <div class="benefitItem-msg">
                <h4 class="benefitItem-headline">Verify Identities</h4>
                <p class="benefitItem-text">Identity made simple and without passwords.</p>
              </div>
            </li>
            <li class="benefitItem">
              <div class="benefitItem-image">
                <img src="images/pages/home/benefits/home-benefits-benefitIcon4.png" alt="">
              </div>
              <div class="benefitItem-msg">
                <h4 class="benefitItem-headline">Implement Security in Minutes</h4>
                <p class="benefitItem-text">We support the platforms & languages you love.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="conclusion">
      <div class="wrapper">
        <div class="conclusionContentBlock">
          <div class="blockMsg">
            <h2 class="blockMsg-headline">Set up in seconds, integrate in minutes</h2>
            <p class="blockMsg-text">Seamless Key Management + Crypto Lib. Start in minutes.<br> Benefit Forever. Available for most languages and platforms.</p>
            <div class="blockMsg-links">
              <a href="" class="button-raisedRed">Create free account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="wrapper">
        <div class="footerContacts">
          <div class="footerContacts-logo">
            <a href=""><img src="images/shared/logo.png" alt=""></a>
          </div>
          <div class="footerContacts-hashtag">#EncryptEverything</div>
          <ul class="footerContacts-socials">
            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
            <li><a href=""><i class="fa fa fa-github"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href=""><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
        <nav class="footerNav">
          <div class="footerNavBlock footerNavBlock-sources">
            <div class="footerNavBlock-caption">Navigation</div>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Developers</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Features</a></li>
              <li><a href="">Clients</a></li>
              <li><a href="">Pricing</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Developers</div>
            <ul>
              <li><a href="">Documentation</a></li>
              <li><a href="">API reference</a></li>
              <li><a href="">Applications</a></li>
              <li><a href="">Dashboard</a></li>
            </ul>
          </div>
          <div class="footerNavBlock">
            <div class="footerNavBlock-caption">Contact us</div>
            <ul>
              <li><a href="">Contacts</a></li>
              <li><a href="">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="wrapper">
        <div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
        <div class="footer-links">
          <a href="mailto:" class="footer-email">support@virgilsecurity.com</a>
          <a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
  <div class="overlay" data-vs-sideNav-overlay></div>
</div>
</body>
</html>