.app-details
	padding 28px
	padding-right 0

	p
		color $color-dark-text

	.details-block
		width 50%

		.heading
			h2
				font-size 30px
				color white
				float left

			.controls
				padding-top 6px
				float right

				.btn-remove
					margin-left 5px

		.url
		.key-container
		.btn-virgil
			margin-top 10px

		.key-block
		.description
			margin-top 20px

		.key-block
			.label
				color white
