$color-border = #212039

.modal
	width 750px
	background #12122b
	position absolute
	top 50%
	left 50%
	margin-left -375px
	margin-top -245px
	z-index 11

	.modal-head
		padding 16px
		border-bottom thin solid $color-border

		h2
			color white
			font-size 22px
			float left

		.modal-close
			float right
			cursor pointer

	.modal-footer
		padding 16px
		text-align right
		border-top thin solid $color-border

		.btn-virgil:last-child
			margin-left 10px

	.form-input
		color white
		background #181733
		width 364px
		font-size 16px

.overlay
	background-color rgba(100,100,100 ,0.8)
	left 0px
	position fixed
	width 100%
	z-index 10
	height 100%
	top 0

.modal.app-edit

	textarea
		height 115px

	.form-item
		label
			color $color-dark-text
			color #8382a3
			float left
			width 138px
			text-align right
			margin-right 17px
			margin-top 12px

	.key
		color $color-dark-text
		border none
		background transparent

	.modal-body
		width 530px
		margin 0 auto
		padding 32px 0

.modal.app-remove
	.modal-body
		color $color-dark-text
		font-size 16px
		padding 40px 0
		text-align center

	.modal-footer
		border-top none
		text-align center
		padding-bottom 40px
