$header-height = 67px

// colors
$color-sidebar = #354da4
$color-sidebar-active-item = #049c90
$color-body = #12122b
$color-header = #1d1b38
$color-dark-text = #8382a3

@require 'reset'
@require '../../public-pages/styles/forms'
@require 'signin'
@require 'sidebar'
@require 'apps-list'
@require 'custom'
@require 'app-edit'
@require 'app-details'

*
	font-family "PT Sans"

*
*:before
*:after
	box-sizing border-box

.clear
	clear both

.initial-hide
.hide
	display none !important
	display none !important

a
	color #83eaff

body
	background-color $color-body

.header
	background-color $color-header
	position fixed
	padding 14px
	height $header-height
	top 0
	width 100%

	.logo
		height 36px

	.block
		display block
		float left
		line-height 36px
		color $color-dark-text
		cursor pointer

	.signout
		float right

.internal.content
	margin-left 220px
	margin-top 67px
