.sidebar
	width 220px
	position absolute
	left 0
	top 0
	bottom 0
	background $color-sidebar
	z-index 1
	margin-top $header-height

	li
		a
			display block
			height 42px
			padding-left 14px
			line-height 42px
			text-decoration none
			color white
			font-size 14px

	li.active
		background-color $color-sidebar-active-item
