.signin
	.container
		width 1024px
		margin 0 auto

	.signin-alert
		color #5a3b5d
		background #a36da8
		line-height 40px
		height 40px
		text-align center

	.check-email
		color $color-dark-text
		text-align center
		margin-top 80px
		font-size 20px
		margin-bottom 80px

	.signin-heading
		margin-top 52px
		text-align center

		h2
			color white
			font-size 40px
		p
			margin-top 26px
			font-size 24px
			line-height 30px
			color $color-dark-text

	.signin-form
		margin 0 auto
		width 460px
		margin-top 45px

	.signin-form.reset
		margin-top 32px

	.forgot
		text-align right
		margin-top 10px

	.btn-container
		text-align center
		margin-top 30px

	.signin-tos
	.signin-signup
		color #8382a3
		margin-top 50px
		margin-bottom 80px
		text-align center
		line-height 20px

	.signin-tos
		margin-top 20px
