@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@font-face {
	font-family: 'Muller';
	font-weight: 400;
	font-style: normal;
	font-display: optional;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.eot');
	src:
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.woff2') format('woff2'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.woff') format('woff'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Muller';
	font-weight: 500;
	font-style: normal;
	font-display: optional;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.eot');
	src:
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.woff2') format('woff2'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.woff') format('woff'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Muller';
	font-weight: 700;
	font-style: normal;
	font-display: optional;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.eot');
	src:
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.woff2') format('woff2'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.woff') format('woff'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	font-display: optional;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot');
	src:
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff') format('woff'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-weight: 500;
	font-style: normal;
	font-display: optional;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.eot');
	src:
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.woff2') format('woff2'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.woff') format('woff'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	font-style: normal;
	font-display: optional;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.eot');
	src:
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.woff2') format('woff2'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.woff') format('woff'),
		url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

.muller-40 {
	font-family: "Muller", sans-serif;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 0.025em;
	line-height: 40px;
}

.muller {
	font-family: "Muller", sans-serif;
	letter-spacing: 0.025em;
}

.muller-28-reg {
	font-family: "Muller", sans-serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 0.025em;
}

.muller-28 {
	font-family: "Muller", sans-serif;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: 0.025em;
}

.muller-20 {
	font-family: "Muller", sans-serif;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.muller-18 {
	font-family: "Muller", sans-serif;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.04em;
}

.muller-17 {
	font-family: "Muller", sans-serif;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.025em;
}

.muller-16 {
	font-family: "Muller", sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.025em;
}

.muller-14 {
	font-family: "Muller", sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.025em;
}

.muller-14-thin {
	font-family: "Muller", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.04em;
}

.muller-11 {
	font-family: "Muller", sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.025em;
}

.muller-11-thin {
	font-family: "Muller", sans-serif;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.025em;
}

.lato-16 {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.01em;
}

.lato-14 {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.025em;
}

.lato-13 {
	font-family: "Lato", sans-serif;
	font-size: 13px;
	font-weight: 900;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.lato-12 {
	font-family: "Lato", sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.01em;
}

.OpaqueGray {
	composes: muller-11;
	opacity: 0.4;
	text-transform: uppercase;
}
