<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Virgil Security And IoT</title>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/atom-one-dark.min.css">
</head>

<body>
	<div class="page chatPage" data-vs-page="chat">
		<header class="header">
			<div class="headerFull" data-vs-sticky-header>
				<div class="headerLogo">
					<a href="">
						<img src="../images/shared/logo-red.svg" width="145" height="47" alt="">
					</a>
				</div>
				<nav class="headerNav">
					<ul class="firstLevel-list">
						<li class="firstLevel-item headerNav-home">
							<a class="firstLevel-itemLink">Home</a>
						</li>
						<li class="firstLevel-item headerNav-documentation">
							<div class="firstLevel-itemLink">Developers</div>
							<ul class="secondLevel-list">
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">
										<i class="icon icon-book-red" aria-hidden="true"></i>
										<span>Documentation</span>
									</a>
								</li>
								<li class="secondLevel-item">
									<div class="thirdLevel-caption">Get started</div>
									<ul class="thirdLevel-list">
										<li class="thirdLevel-item">
											<a href="">Encrypted communication</a>
										</li>
										<li class="thirdLevel-item">
											<a href="">Encrypted storage</a>
										</li>
										<li class="thirdLevel-item">
											<a href="">Passwordless Authentication</a>
										</li>
										<li class="thirdLevel-item">
											<a href="">Data Integrity</a>
										</li>
									</ul>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">
										<i class="icon icon-bookmark-red" aria-hidden="true"></i>
										<span>API references</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="firstLevel-item headerNav-about">
							<div class="firstLevel-itemLink">Company</div>
							<ul class="secondLevel-list">
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">
										<i class="icon icon-shield-red" aria-hidden="true"></i>
										<span>About Virgil</span>
									</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">
										<i class="icon icon-case-red" aria-hidden="true"></i>
										<span>Clients</span>
									</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">
										<i class="icon icon-medium-red" aria-hidden="true"></i>
										<span>Blog</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="firstLevel-item headerNav-features">
							<a class="firstLevel-itemLink">Features</a>
						</li>
						<li class="firstLevel-item headerNav-pricing">
							<a class="firstLevel-itemLink">Pricing</a>
						</li>
						<li class="firstLevel-item headerNav-contacts">
							<a class="firstLevel-itemLink">Contacts</a>
						</li>
					</ul>
				</nav>
				<div class="headerAuth">
					<a href="" class="button-flatWhite">Login</a>
					<a href="" class="button-raisedWhiteBorder">Get started</a>
				</div>
				<button data-vs-sideNav-open class="headerOpenButton">
					<i class="icon icon-menu-red"></i>
				</button>
			</div>
			<div class="headerSideBar" data-vs-sideNav-target>
				<div class="headerCloseButton">
					<button data-vs-sideNav-close>
						<i class="icon icon-close-red"></i>
					</button>
				</div>
				<nav class="headerNav">
					<ul class="firstLevel-list">
						<li class="firstLevel-item">
							<div class="firstLevel-itemLink">Get started</div>
							<ul class="secondLevel-list">
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">Encrypted communication</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">Encrypted storage</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">Passwordless Authentication</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">Data Integrity</a>
								</li>
							</ul>
						</li>
						<li class="firstLevel-item">
							<div class="firstLevel-itemLink">Developers</div>
							<ul class="secondLevel-list">
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">Documentation</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">API references</a>
								</li>
							</ul>
						</li>
						<li class="firstLevel-item">
							<div class="firstLevel-itemLink">Company</div>
							<ul class="secondLevel-list">
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink headerNav-about">About Virgil</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink headerNav-clients">Clients</a>
								</li>
								<li class="secondLevel-item">
									<a href="" class="secondLevel-itemLink">Blog</a>
								</li>
							</ul>
						</li>
						<li class="firstLevel-item">
							<a class="firstLevel-itemLink">Features</a>
						</li>
						<li class="firstLevel-item">
							<a class="firstLevel-itemLink">Pricing</a>
						</li>
						<li class="firstLevel-item">
							<a class="firstLevel-itemLink">Contacts</a>
						</li>
					</ul>
				</nav>
				<div class="headerAuth">
					<a href="" class="headerAuth-link">
						<span>Login / Sign In</span>
					</a>
				</div>
			</div>
		</header>
		<main class="container">
			<section class="intro">
				<div class="wrapper">
					<div class="introBlock">
						<div class="blockMsg">
							<h1 class="blockMsg-headline">Add end-to-end encryption to your chat app in 10 minutes</h1>
						</div>
						<div class="introActions">
							<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Get Started</a>
						</div>
					</div>
					<div class="chatFeatures">
						<div class="chatFeature end2end">
							<div class="chatFeature-title">END-TO-END ENCRYPTED</div>
							<div class="chatFeature-description">Virgil's E2EE tech makes peeking impossible for cloud providers, governments, hackers.</div>
						</div>
						<div class="chatFeature ready2go">
							<div class="chatFeature-title">Ready to Go & Open Source</div>
							<div class="chatFeature-description">Fully functional open source chat app, licensed under ISC, yours to reuse & customize.</div>
						</div>
						<div class="chatFeature start-free">
							<div class="chatFeature-title">Start Free</div>
							<div class="chatFeature-description">Start up for free. Pay only when you're ready for prime time.</div>
						</div>
					</div>
				</div>
			</section>
			<section class="chatFavoriteTech">
				<div class="wrapper">
					<div class="chatFavoriteTech-container">
						<div class="favoriteTech text">Works with your favorite tech</div>
						<div class="favoriteTech twillio"></div>
						<div class="favoriteTech nexmo"></div>
						<div class="favoriteTech parse"></div>
					</div>
				</div>
			</section>
			<section class="chatDevelopSteps">
				<div class="wrapper">
					<div class="stepsContainer">
						<div class="stepsImageContainer">
							<div class="stepsImage iphone1 frontIphone">
								<span class="step1-loading">Logging in.</span>
								<span id="step2-scene" class="step2-scene hidden">
									<div class="iphone-display">
										<span class="step-message incoming">
											How much wood could a woodchuck chuck if a woodchuck could chuck wood?
										</span>
										<span id="step2-message" class="step-message outcoming hidden">
											A woodchuck can't chuck wood.
										</span>
									</div>
									<span class="step2-sending-message"></span>
								</span>
								<span class="step2-send-button">Send</span>
							</div>
							<div class="stepsImage iphone2 rearIphone">
								<span id="step3-scene">
									<div class="iphone-display">
										<span class="step-message outcoming">
											How much wood could a woodchuck chuck if a woodchuck could chuck wood?
										</span>
										<span id="step3-message" class="step-message incoming hidden">
											A woodchuck can't chuck wood.
										</span>
										<span class="step2-send-button">Send</span>
									</div>
								</span>
							</div>
						</div>
						<div id="step-tabs" class="stepsTabs">
							<div class="stepsControls">
								<button data-tab="step1" class="stepControl current">STEP 1</button>
								<button data-tab="step2" class="stepControl">STEP 2</button>
								<button data-tab="step3" class="stepControl">STEP 3</button>
							</div>
							<div id="step1" class="stepContent current">
								<h3 class="stepTitle">Create User Key at Signup</h3>
								<p>Give your users the gift of a strong private key that never leaves their device.</p>
								<pre class="code-editor">
									<code class="code-line"><span class="hljs-comment">// generate private key for Alice's user account</span></code>
									<code class="code-line"><span class="hljs-keyword">let</span> aliceKey = virgil.keys.generateKey()</code>
									<code class="code-line"></code>
									<code class="code-line"><span class="hljs-comment">// save the key on the device</span></code>
									<code class="code-line"><span class="hljs-keyword">try</span>! aliceKey.store(withName: @”alice@yourapp.io”, password:</code>
									<code class="code-line">    @<span class="hljs-string">"UseHerPasswordToEncryptHerKey"</span>)</code>
									<code class="code-line"></code>
									<code class="code-line"><span class="hljs-comment">// create public Virgil card for Alice to allow the world of Bobs </span></code>
									<code class="code-line"><span class="hljs-comment">// to find &amp; message her</span></code>
									<code class="code-line"><span class="hljs-keyword">let</span> aliceIdentity = virgil.identities.createUserIdentity(withValue:</code>
									<code class="code-line">    “alice@yourapp.io”, type: <span class="hljs-string">"email"</span>)</code>
									<code class="code-line"></code>
									<code class="code-line"><span class="hljs-keyword">let</span> aliceCard = <span class="hljs-keyword">try</span>! virgil.cards.createCard(with: aliceIdentity, </code>
									<code class="code-line">    ownerKey:aliceKey)</code>
									<code class="code-line"></code>
									<code class="code-line"><span class="hljs-comment">// Send Virgil card to your web app to verify Alice (txt msg her) and</span></code>
									<code class="code-line"><span class="hljs-comment">// publish it</span></code>
									<code class="code-line"></code>
									<code class="code-line"><span class="hljs-type">TransmitToServer</span>(aliceCard.exportData())</code>
								</pre>
								<span class="grey-text">
									Code snippets here given in Swift, for plenty other languages please check our
									<a class="red-text" href="//developer.virgilsecurity.com/" target="_blanc">documentation.</a>
								</span>
							</div>
							<div id="step2" class="stepContent">
								<h3 class="stepTitle">Encrypt Message & Send It</h3>
								<p>Encrypt a message to Bob by simply referring to his email address (or user ID).</p>
								<pre class="code-editor">
									<code class="code-line"><span class="hljs-comment">// search for Bob's card in Virgil’s Card Cloud</span></code>
									<code class="code-line">virgil.cards.searchCards(withIdentities: [“bob@yourapp.io”]) { bobCards,</code>
									<code class="code-line">    error <span class="hljs-keyword">in</span></code>
									<code class="code-line"></code>
									<code class="code-line">    <span class="hljs-comment">// prepare the message</span></code>
									<code class="code-line">    <span class="hljs-keyword">let</span> message = <span class="hljs-string">"A woodchuck can't chuck wood."</span></code>
									<code class="code-line"></code>
									<code class="code-line">    <span class="hljs-comment">// encrypt the message using found Virgil Cards</span></code>
									<code class="code-line">    <span class="hljs-keyword">let</span> ciphertext =</code>
									<code class="code-line">        (<span class="hljs-keyword">try</span>! aliceKey.signThenEncrypt(message, <span class="hljs-keyword">for</span>: bobCards!))</code>
									<code class="code-line">        .base64EncodedString()</code>
									<code class="code-line"> </code>
									<code class="code-line">    <span class="hljs-comment">// send encrypted message with Twilio</span></code>
									<code class="code-line">    <span class="hljs-keyword">let</span> message = <span class="hljs-keyword">self</span>.channel.messages.createMessageWithBody(ciphertext)</code>
									<code class="code-line">    <span class="hljs-keyword">self</span>.channel.messages.sendMessage(message) { (result) <span class="hljs-keyword">in</span></code>
									<code class="code-line">          <span class="hljs-comment">/// Message sent.</span></code>
									<code class="code-line">    }</code>
									<code class="code-line">}</code>
								</pre>
								<p>
									This is how the data looks like over the wire and in the database:
								</p>
								<pre class="code-data">
									<code class="code-data-line">SGVsbG8gd29ybGQsIEknbSBibGEgYmFvaGZvIGZ3aXVociB3doZm4gc2FkbmZwaUhJVUJJVVdFR1JG</code>
									<code class="code-data-line">IElXRSA3V0VGV0U=</code>
								</pre>
								<p>Decryption keys never leave the device.</p>
							</div>
							<div id="step3" class="stepContent">
								<h3 class="stepTitle">Decrypt Message</h3>
								<p>Decrypt and verify if the message is really from Alice.</p>
								<pre class="code-editor">
									<code class="code-line"><span class="hljs-comment">// load a Virgil Key from device storage</span></code>
									<code class="code-line"><span class="hljs-keyword">let</span> bobKey = <span class="hljs-keyword">try</span>! virgil.keys.loadKey(withName: “bob@yourapp.io”)</code>
									<code class="code-line"></code>
									<code class="code-line"><span class="hljs-comment">// decrypt the message and verify if it’s indeed from Alice</span></code>
									<code class="code-line">virgil.cards.getCard(withId: “[<span class="hljs-type">ALICE_CARD_ID</span>]”)</code>
									<code class="code-line">   { aliceCard, error <span class="hljs-keyword">in</span></code>
									<code class="code-line">      <span class="hljs-keyword">let</span> message = <span class="hljs-type">String</span>(data: <span class="hljs-keyword">try</span>! bobKey.decryptThenVerify(base64:</code>
									<code class="code-line">        ciphertext, from: aliceCard!), encoding: .utf8)!</code>
									<code class="code-line">   }</code>
								</pre>
								<span class="get-started">
									<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed hidden">
										Get Started
									</a>
								</span>
							</div>
						</div>

					</div>
				</div>
			</section>
			<section class="companies">
				<div class="wrapper">
					<h3 class="companies-title">Empowering these awesome companies</h3>
					<div class="companies-list">
						<div class="company heltha">
							<h5 class="company-title">Heltha</h5>
							<h6 class="company-location">Boston, MA</h6>
							<p class="company-description">
								America's first telemedicine app for Hormone Balance, with E2EE chat for clients & doctors.
							</p>
						</div>
						<div class="company hushed">
							<h5 class="company-title">Hushed</h5>
							<h6 class="company-location">Ontario, CANADA</h6>
							<p class="company-description">
								E2EE messaging for private disposable phone numbers.
							</p>
						</div>
						<div class="company appfriends">
							<h5 class="company-title">Appfriends</h5>
							<h6 class="company-location">NEW YORK, NY</h6>
							<p class="company-description">
								E2EE private in-app messaging & user engagement platform.
							</p>
						</div>
						<div class="company sikka">
							<h5 class="company-title">Sikka Chat</h5>
							<h6 class="company-location">San Jose, CA</h6>
							<p class="company-description">
								E2EE chat service for patients & doctors at private practices.
							</p>
						</div>
						<div class="company cloackroom">
							<h5 class="company-title">Cloackroom</h5>
							<h6 class="company-location">WASHINGTON, D.C.</h6>
							<p class="company-description">
								The invite-only E2EE social chat app in and near the U.S. White House.
							</p>
						</div>
						<div class="company mybeepr">
							<h5 class="company-title">Mybeepr</h5>
							<h6 class="company-location">Sydney, AUSTRALIA</h6>
							<p class="company-description">
								Australia’s most trusted solution for mobile healthcare communication, E2EE.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="pricing">
				<div class="wrapper">
					<h3 class="pricing-title">START UP FOR FREE, PAY ONLY WHEN IN PRODUCTION</h3>
					<div class="pricing-table">
						<div class="pricing-column pricing-description hide-on-mobile">
							<div class="pricing-cell pricing-header">
								<div class="switch-annotation">
									<span >
										Bill
										<p class="switch-annotation-big">MONTHLY</p>
									</span>
									<div data-switch class="switch-container">
										<div data-switch-control class="switch-control off"></div>
									</div>
									<span>
										Bill
										<p class="switch-annotation-big">ANNUAL</p>
									</span>
								</div>
								<p class="switch-subtitle">Save with annual pre-payment</p>
							</div>
							<div class="pricing-cell">Best for</div>
							<div class="pricing-cell">Registered user keys</div>
							<div class="pricing-cell hide-on-mobile">Slack community support</div>
							<div class="pricing-cell hide-on-mobile">Guaranteed SLA</div>
							<div class="pricing-cell hide-on-mobile">Dev/staging/production enviroments</div>
							<div class="pricing-cell hide-on-mobile">Global geo-balancing</div>
							<div class="pricing-cell hide-on-mobile">24/7 support</div>
							<div class="pricing-cell hide-on-mobile">Dedicated customer support engineer</div>
							<div class="pricing-cell hide-on-mobile">On-premise hosted Virgil backend services</div>
							<div class="pricing-cell hide-on-mobile">Country-specific data location</div>
							<div class="pricing-cell hide-on-mobile pricing-footer">
								<div class="switch-annotation">
									<span >
										Bill
										<p class="switch-annotation-big">MONTHLY</p>
									</span>
									<div data-switch class="switch-container">
										<div data-switch-control class="switch-control off"></div>
									</div>
									<span>
										Bill
										<p class="switch-annotation-big">ANNUAL</p>
									</span>
								</div>
								<p class="switch-subtitle">Save with annual pre-payment</p>
							</div>
						</div>
						<div class="pricing-column pricing-plan">
							<div class="pricing-cell pricing-header">
								<div>
									<b class="pricing-plan-title">Basic</b>
									<p class="pricing-plan-price">Free</p>
									<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
								</div>
							</div>
							<div class="pricing-cell">Good for development & non-critical apps</div>
							<div class="pricing-cell">Up to 250 users</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
								<p class="pricing-plan-price">Free</p>
								<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
							</div>
						</div>
						<div class="pricing-column pricing-plan active">
							<div class="pricing-cell pricing-header">
								<div>
									<b class="pricing-plan-title">Production</b>
									<p class="pricing-plan-price">$
										<span data-price>49</span> / mo</p>
									<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
								</div>
							</div>
							<div class="pricing-cell">Ideal for production apps</div>
							<div class="pricing-cell">Up to 2,500 users</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
								<p class="pricing-plan-price">$
									<span data-price>49</span> / mo</p>
								<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
							</div>
						</div>
						<div class="pricing-column pricing-plan selected">
							<div class="pricing-cell pricing-header">
								<div>
									<b class="pricing-plan-title">Business</b>
									<p class="pricing-plan-price">$
										<span data-price>499</span> / mo</p>
									<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Get Started</a>
								</div>
							</div>
							<div class="pricing-cell">Ideal for mission critical apps</div>
							<div class="pricing-cell">Up to 25,000 users</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile"></div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
								<p class="pricing-plan-price">$
									<span data-price>499</span> / mo</p>
								<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRed">Get Started</a>
							</div>
						</div>
						<div class="pricing-column pricing-plan">
							<div class="pricing-cell pricing-header">
								<div>
									<b class="pricing-plan-title">Mega</b>
									<p class="pricing-plan-price">$
										<span data-price>1999</span> / mo</p>
									<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
								</div>
							</div>
							<div class="pricing-cell">Mission critical app with a large number of active users</div>
							<div class="pricing-cell">Up to 100,000 users</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell dot hide-on-mobile">&#x2022;</div>
							<div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
								<p class="pricing-plan-price">$
									<span data-price>1999</span> / mo</p>
								<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
							</div>
						</div>
						<div class="pricing-column pricing-plan">
							<div class="pricing-cell pricing-header">
								<div>
									<b class="pricing-plan-title">Enterprise</b>
									<p class="pricing-plan-price">Custom pricing</p>
									<button class="button-raisedRedBorder">Contact Us</button>
								</div>
							</div>
							<div class="pricing-cell">Large apps with users beyond 10K active users</div>
							<div class="pricing-cell">More than 100,000 users</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell dot hide-on-mobile">
								<span class="check" />
							</div>
							<div class="pricing-cell pricing-footer pricing-footer-price hide-on-mobile">
								<p class="pricing-plan-price">Custom pricing</p>
								<a href="https://developer.virgilsecurity.com/account/signup" class="button-raisedRedBorder">Get Started</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="footer-top">
				<div class="wrapper">
					<div class="footerContacts">
						<div class="footerContacts-logo">
							<a href="">
								<img src="../images/shared/logo-white.svg" width="145" height="47" alt="">
							</a>
						</div>
						<div class="footerContacts-hashtag">#EncryptEverything</div>
						<ul class="footerContacts-socials">
							<li>
								<a href="">
									<i class="icon icon-facebook"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon icon-github"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon icon-twitter"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon icon-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="icon icon-medium"></i>
								</a>
							</li>
						</ul>
					</div>
					<nav class="footerNav">
						<div class="footerNavBlock footerNavBlock-sources">
							<div class="footerNavBlock-caption">Navigation</div>
							<ul>
								<li>
									<a href="">Home</a>
								</li>
								<li>
									<a href="">Developers</a>
								</li>
								<li>
									<a href="">About</a>
								</li>
								<li>
									<a href="">Features</a>
								</li>
								<li>
									<a href="">Clients</a>
								</li>
								<li>
									<a href="">Pricing</a>
								</li>
							</ul>
						</div>
						<div class="footerNavBlock">
							<div class="footerNavBlock-caption">Developers</div>
							<ul>
								<li>
									<a href="">Documentation</a>
								</li>
								<li>
									<a href="">API reference</a>
								</li>
								<li>
									<a href="">Applications</a>
								</li>
								<li>
									<a href="">Dashboard</a>
								</li>
							</ul>
						</div>
						<div class="footerNavBlock">
							<div class="footerNavBlock-caption">Contact us</div>
							<ul>
								<li>
									<a href="">Contacts</a>
								</li>
								<li>
									<a href="mailto:">support@virgil.net</a>
								</li>
								<li>
									<a href="">Blog</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="wrapper">
					<div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
					<div class="footer-links">
						<a href="mailto:" class="footer-email">support@virgilsecurity.com</a>
						<a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
						<a href="https://join.slack.com/t/virgilsecurity/shared_invite/enQtMjg4MDE4ODM3ODA4LTc2OWQwOTQ3YjNhNTQ0ZjJiZDc2NjkzYjYxNTI0YzhmNTY2ZDliMGJjYWQ5YmZiOGU5ZWEzNmJiMWZhYWVmYTM" target="_blanc" class="footer-policy">Need help? Join Our Slack channel</a>
					</div>
				</div>
			</div>
		</footer>
		<div class="scrollToTop" data-vs-sticky-scrollToTop>
			<div class="scrollToTop-btn button-raisedRed">
				<i class="icon icon-arrowTop-white"></i>
			</div>
		</div>
		<div class="overlay" data-vs-sideNav-overlay></div>
	</div>
</body>

</html>