<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Virgil Security IoT</title>
</head>
<body>
<div class="page iotPage" data-vs-page="iot">
	<header class="header">
		<div class="headerFull" data-vs-sticky-header>
			<div class="headerLogo">
				<a href=""><img src="../images/shared/logo-red.svg" width="145" height="47" alt=""></a>
			</div>
			<nav class="headerNav">
				<ul class="firstLevel-list">
					<li class="firstLevel-item headerNav-home">
						<a class="firstLevel-itemLink">Home</a>
					</li>
					<li class="firstLevel-item headerNav-documentation">
						<div class="firstLevel-itemLink">Developers</div>
						<ul class="secondLevel-list">
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">
									<i class="icon icon-book-red" aria-hidden="true"></i>
									<span>Documentation</span>
								</a>
							</li>
							<li class="secondLevel-item">
								<div class="thirdLevel-caption">Get started</div>
								<ul class="thirdLevel-list">
									<li class="thirdLevel-item">
										<a href="">Encrypted communication</a>
									</li>
									<li class="thirdLevel-item">
										<a href="">Encrypted storage</a>
									</li>
									<li class="thirdLevel-item">
										<a href="">Passwordless Authentication</a>
									</li>
									<li class="thirdLevel-item">
										<a href="">Data Integrity</a>
									</li>
								</ul>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">
									<i class="icon icon-bookmark-red" aria-hidden="true"></i>
									<span>API references</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="firstLevel-item headerNav-about">
						<div class="firstLevel-itemLink">Company</div>
						<ul class="secondLevel-list">
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">
									<i class="icon icon-shield-red" aria-hidden="true"></i>
									<span>About Virgil</span>
								</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">
									<i class="icon icon-case-red" aria-hidden="true"></i>
									<span>Clients</span>
								</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">
									<i class="icon icon-medium-red" aria-hidden="true"></i>
									<span>Blog</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="firstLevel-item headerNav-features">
						<a class="firstLevel-itemLink">Features</a>
					</li>
					<li class="firstLevel-item headerNav-pricing">
						<a class="firstLevel-itemLink">Pricing</a>
					</li>
					<li class="firstLevel-item headerNav-contacts">
						<a class="firstLevel-itemLink">Contacts</a>
					</li>
				</ul>
			</nav>
			<div class="headerAuth">
				<a href="" class="button-flatWhite">Login</a>
				<a href="" class="button-raisedWhiteBorder">Get started</a>
			</div>
			<button data-vs-sideNav-open class="headerOpenButton">
				<i class="icon icon-menu-red"></i>
			</button>
		</div>
		<div class="headerSideBar" data-vs-sideNav-target>
			<div class="headerCloseButton">
				<button data-vs-sideNav-close>
					<i class="icon icon-close-red"></i>
				</button>
			</div>
			<nav class="headerNav">
				<ul class="firstLevel-list">
					<li class="firstLevel-item">
						<div class="firstLevel-itemLink">Get started</div>
						<ul class="secondLevel-list">
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">Encrypted communication</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">Encrypted storage</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">Passwordless Authentication</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">Data Integrity</a>
							</li>
						</ul>
					</li>
					<li class="firstLevel-item">
						<div class="firstLevel-itemLink">Developers</div>
						<ul class="secondLevel-list">
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">Documentation</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">API references</a>
							</li>
						</ul>
					</li>
					<li class="firstLevel-item">
						<div class="firstLevel-itemLink">Company</div>
						<ul class="secondLevel-list">
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink headerNav-about">About Virgil</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink headerNav-clients">Clients</a>
							</li>
							<li class="secondLevel-item">
								<a href="" class="secondLevel-itemLink">Blog</a>
							</li>
						</ul>
					</li>
					<li class="firstLevel-item">
						<a class="firstLevel-itemLink">Features</a>
					</li>
					<li class="firstLevel-item">
						<a class="firstLevel-itemLink">Pricing</a>
					</li>
					<li class="firstLevel-item">
						<a class="firstLevel-itemLink">Contacts</a>
					</li>
				</ul>
			</nav>
			<div class="headerAuth">
				<a href="" class="headerAuth-link"><span>Login / Sign In</span></a>
			</div>
		</div>
	</header>
	<main class="container">
		<div class="intro">
			<div class="wrapper">
				<div class="introContentBlock">
					<div class="blockMsg">
						<h1 class="blockMsg-headline">End-to-End IoT Security</h1>
					</div>
					<div class="blockActions">
						<a href="#" class="button-raisedRed">Try For Free</a>
						<a href="#" class="docsLink">Documentation</a>
					</div>
				</div>
				<div class="iotFeatures">
					<div class="iotFeature manufacturing">
						<div class="iotFeature-title">Manufacturing</div>
						<div class="iotFeature-description">Rack mount LCD monitors can save you a lot of space and help you</div>
					</div>
					<div class="iotFeature onboarding">
						<div class="iotFeature-title">Onboarding</div>
						<div class="iotFeature-description">All users on MySpace will know that there are millions of people out</div>
					</div>
					<div class="iotFeature blockchain-storage">
						<div class="iotFeature-title">Blockchain Storage</div>
						<div class="iotFeature-description">Every avid independent filmmaker has dreamed about making that special</div>
					</div>
					<div class="iotFeature firmware-integrity">
						<div class="iotFeature-title">Firmware Integrity</div>
						<div class="iotFeature-description">While most people enjoy casino gambling, sports betting, lottery and bingo</div>
					</div>
				</div>
			</div>
		</div>
		<div class="openSource">
			<div class="wrapper">
				<div class="openSource-bg">
					<div class="openSource-content">
						<div class="blockMsg">
							<h2 class="blockMsg-headline">We are Open Source</h2>
							<p class="blockMsg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur.</p>
						</div>
						<div class="githubLinkContainer">
							<a href="#" class="githubLink">GitHub Page</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="iotUseCases">
			<div class="wrapper">
				<div class="blockMsg">
					<h2 class="blockMsg-headline">Secure The Future With <span class="companyName">Virgil Security</span></h2>
					<p class="blockMsg-text">Virgil Security provides a single open source solution that secures your devices and customers. From sensors to IoT devices to the mobile devices they connect with to the cloud for data analytics.</p>
				</div>
				<div class="iotUseCases-grid">
					<div class="iotUseCase">
						<div class="iotUseCase-content encrypted-communication">
							<h3 class="iotUseCase-title">Encrypted Communication</h3>
							<p class="iotUseCase-text">
								Live in safety! Use encryption to communicate securely with two or more participants.
							</p>
							<div class="iotUseCase-actions">
								<a href="#" class="learnMoreLink">Learn More</a>
							</div>
						</div>
					</div>
					<div class="iotUseCase">
						<div class="iotUseCase-content data-integrity">
							<h3 class="iotUseCase-title">Data Integrity</h3>
							<p class="iotUseCase-text">
								Use Virgil to verify the integrity of data at any point.
							</p>
							<div class="iotUseCase-actions">
								<a href="#" class="learnMoreLink">Learn More</a>
							</div>
						</div>
					</div>
					<div class="iotUseCase">
						<img class="iotUseCase-image"
							 alt="Smart Home Assistant"
							 src="../images/pages/iot/use-cases/speaker.png"
							 srcset="../images/pages/iot/use-cases/speaker@2x.png"
						/>
					</div>
					<div class="iotUseCase">
						<img class="iotUseCase-image"
							 alt="Light Bulb"
							 src="../images/pages/iot/use-cases/light-bulb.png"
							 srcset="../images/pages/iot/use-cases/light-bulb@2x.png"
						/>
					</div>
					<div class="iotUseCase">
						<div class="iotUseCase-content encrypted-storage">
							<h3 class="iotUseCase-title">Encrypted Storage</h3>
							<p class="iotUseCase-text">
								It is very easy to encrypt data for secure storage in the Cloud and requires only a few steps.
							</p>
							<div class="iotUseCase-actions">
								<a href="#" class="learnMoreLink">Learn More</a>
							</div>
						</div>
					</div>
					<div class="iotUseCase">
						<div class="iotUseCase-content passwordless-auth">
							<h3 class="iotUseCase-title">Passwordless Authentication</h3>
							<p class="iotUseCase-text">
								Use Virgil Auth to let a user log into your application without a password.
							</p>
							<div class="iotUseCase-actions">
								<a href="#" class="learnMoreLink">Learn More</a>
							</div>
						</div>
					</div>
					<div class="iotUseCase">
						<div class="iotUseCase-content pfs">
							<h3 class="iotUseCase-title">Perfect Forward Secrecy</h3>
							<p class="iotUseCase-text">
								Virgil Perfect Forward Secrecy (PFS) is designed to prevent a possibly compromised long-term secret key from affecting the confidentiality of past communications.
							</p>
							<div class="iotUseCase-actions">
								<a href="#" class="learnMoreLink">Learn More</a>
							</div>
						</div>
					</div>
					<div class="iotUseCase">
						<img class="iotUseCase-image"
							 alt="Smart Camera"
							 src="../images/pages/iot/use-cases/camera.png"
							 srcset="../images/pages/iot/use-cases/camera@2x.png"
						/>
					</div>
					<div class="iotUseCase">
						<img class="iotUseCase-image"
							 alt="Smart Sensor"
							 src="../images/pages/iot/use-cases/sensor.png"
							 srcset="../images/pages/iot/use-cases/sensor@2x.png"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="conclusion">
			<div class="wrapper">
				<div class="conclusion-content">
					<img class="appsImage"
						 src="../images/pages/iot/dashboard-apps.png"
						 srcset="../images/pages/iot/dashboard-apps@2x.png"
						 alt="Virgil Dashboard Application"
					>
					<div class="blockMsg">
						<h2 class="blockMsg-headline">Set Up in Seconds, Integrate in Minutes</h2>
						<p class="blockMsg-text">Seamless Key Management + Crypto Lib. Start in minutes.
							<br>
							Benefit Forever. Available for most languages and platforms.
						</p>
						<div class="conclusion-actions">
							<a href="#" class="button-raisedRed">Create Free Account</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<div class="footer-top">
			<div class="wrapper">
				<div class="footerContacts">
					<div class="footerContacts-logo">
						<a href=""><img src="../images/shared/logo-white.svg" width="145" height="47" alt=""></a>
					</div>
					<div class="footerContacts-hashtag">#EncryptEverything</div>
					<ul class="footerContacts-socials">
						<li><a href=""><i class="icon icon-facebook"></i></a></li>
						<li><a href=""><i class="icon icon-github"></i></a></li>
						<li><a href=""><i class="icon icon-twitter"></i></a></li>
						<li><a href=""><i class="icon icon-linkedin"></i></a></li>
						<li><a href=""><i class="icon icon-medium"></i></a></li>
					</ul>
				</div>
				<nav class="footerNav">
					<div class="footerNavBlock footerNavBlock-sources">
						<div class="footerNavBlock-caption">Navigation</div>
						<ul>
							<li><a href="">Home</a></li>
							<li><a href="">Developers</a></li>
							<li><a href="">About</a></li>
							<li><a href="">Features</a></li>
							<li><a href="">Clients</a></li>
							<li><a href="">Pricing</a></li>
						</ul>
					</div>
					<div class="footerNavBlock">
						<div class="footerNavBlock-caption">Developers</div>
						<ul>
							<li><a href="">Documentation</a></li>
							<li><a href="">API reference</a></li>
							<li><a href="">Applications</a></li>
							<li><a href="">Dashboard</a></li>
						</ul>
					</div>
					<div class="footerNavBlock">
						<div class="footerNavBlock-caption">Contact us</div>
						<ul>
							<li><a href="">Contacts</a></li>
							<li><a href="mailto:">support@virgil.net</a></li>
							<li><a href="">Blog</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrapper">
				<div class="footer-copyright">&copy; 2017 Virgil Security, Inc.</div>
				<div class="footer-links">
					<a href="mailto:" class="footer-email">support@virgilsecurity.com</a>
					<a href="" class="footer-policy">Terms of Use & Privacy Policy</a>
				</div>
			</div>
		</div>
	</footer>
	<div class="scrollToTop" data-vs-sticky-scrollToTop>
		<div class="scrollToTop-btn button-raisedRed"><i class="icon icon-arrowTop-white"></i></div>
	</div>
	<div class="overlay" data-vs-sideNav-overlay></div>
</div>
</body>
</html>