{% extends 'common/section.twig' %}

{% block content %}

    <div class="usage">
        <div class="wrapper">
            <div class="usageContentBlock">
                <div class="blockMsg">
                    <h2 class="blockMsg-headline">Better security with less code</h2>
                    <p class="blockMsg-text">You are a creator, and security usually isn’t a part of the creation
                        process.
                        Our robust,
                        scalable, and flexible integrations eliminate needless complexity and bloated programs. In a
                        couple
                        of minutes,
                        Virgil takes the thought of security off your hands.</p>
                </div>
                <div id="homeUsageStepsCarousel" class="usageStepsCarousel carousel slide" data-pause="hover"
                     data-wrap="false">
                    <ul class="usageStepsCarousel-controls carousel-indicators">
                        <li class="usageStepsCarousel-control active" data-target="#homeUsageStepsCarousel"
                            data-slide-to="0">
                            <i>1</i>
                            <span>Encryption</span>
                        </li>
                        <li class="usageStepsCarousel-control" data-target="#homeUsageStepsCarousel" data-slide-to="1">
                            <i>2</i>
                            <span>Decryption</span>
                        </li>
                        <li class="usageStepsCarousel-control" data-target="#homeUsageStepsCarousel" data-slide-to="2">
                            <i>3</i>
                            <span>Create signature</span>
                        </li>
                        <li class="usageStepsCarousel-control" data-target="#homeUsageStepsCarousel" data-slide-to="3">
                            <i>4</i>
                            <span>Verify signature</span>
                        </li>
                    </ul>
                    <div class="usageSteps">
                        <a href="#homeUsageStepsCarousel" class="usageStepsCarousel-previous" data-slide="prev"></a>
                        <ul class="usageStepList carousel-inner">
                            <li class="usageStepItem carousel-item active">
                                <a href="https://developer.virgilsecurity.com/docs" class="usageStepItem-link">
                                    <img src="/wp-content/themes/virgilsecurity/assets/home-usage-encryption.png"
                                         srcset="/wp-content/themes/virgilsecurity/assets/home-usage-encryption@2x.png 2x"
                                         class="usageStepItem-linkImage" alt="">
                                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                                </a>
                            </li>
                            <li class="usageStepItem carousel-item">
                                <a href="https://developer.virgilsecurity.com/docs/overview/decryption"
                                   class="usageStepItem-link">
                                    <img src="/wp-content/themes/virgilsecurity/assets/home-usage-decryption.png"
                                         srcset="/wp-content/themes/virgilsecurity/assets/home-usage-decryption@2x.png 2x"
                                         class="usageStepItem-linkImage" alt="">
                                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                                </a>
                            </li>
                            <li class="usageStepItem carousel-item">
                                <a href="https://developer.virgilsecurity.com/docs/overview/creating-signature"
                                   class="usageStepItem-link">
                                    <img src="/wp-content/themes/virgilsecurity/assets/home-usage-create.png"
                                         srcset="/wp-content/themes/virgilsecurity/assets/home-usage-create@2x.png 2x"
                                         class="usageStepItem-linkImage" alt="">
                                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                                </a>
                            </li>
                            <li class="usageStepItem carousel-item">
                                <a href="https://developer.virgilsecurity.com/docs/overview/verifying-signature"
                                   class="usageStepItem-link">
                                    <img src="/wp-content/themes/virgilsecurity/assets/home-usage-verify.png"
                                         srcset="/wp-content/themes/virgilsecurity/assets/home-usage-verify@2x.png 2x"
                                         class="usageStepItem-linkImage" alt="">
                                    <span class="usageStepItem-linkButton button-raisedWhite-static">
                      <i class="icon icon-book-black"></i>
                      <span>Documentation</span>
                    </span>
                                </a>
                            </li>
                        </ul>
                        <a href="#homeUsageStepsCarousel" class="usageStepsCarousel-next" data-slide="next"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
