{% extends 'common/section.twig' %}

{% block content %}
    <div class="useCases">
        <div class="wrapper">
            <div class="useCasesContentBlock">
                <div class="blockMsg">
                    <h2 class="blockMsg-headline">{{ use_cases.headline|shortcodes }}</h2>
                    <p class="blockMsg-text">{{ use_cases.text|shortcodes }}</p>
                    <div class="blockMsg-links">
                        {% for link in use_cases.links %}
                            {% include 'common/link_button/' ~ link.link_button_skin ~ '.twig' with {'item': link} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="useCaseList">
            <div class="useCaseList-caption">{{ use_cases.caption|shortcodes }}</div>
            <div class="useCaseList-image"></div>
        </div>
    </div>
{% endblock %}
