<public-header></public-header>

<div class="signin">
	<section class="signin-heading page-heading container">
		<h2>
			Reset Password to the Virgil<br/>
			Developers Dashboard
		</h2>
		<p>
			We'll send you and e-mail with instructions to reset your password.
		</p>
	</section>

	<form class="container signin-form reset" ng-if="!isResetCompleted">
		<div class="form-item">
			<input ng-model="account.email" class="form-input expand" type="text" name="email" placeholder="Your Email Address" />
		</div>

		<section class="btn-container">
			<button ng-click="submit(account)" type="submit" class="btn-virgil btn-transparent">RESET PASSWORD</button>
		</section>
	</form>

	<section class="container check-email" ng-if="isResetCompleted">
		Please check your inbox.
	</section>

	<section class="container signin-signup">
		<p>I'm not a registered user. <a ng-href="/signup">Sign up for free</a></p>
	</section>
</div>

<public-footer></public-footer>
