<div class="signin">
	<section class="signin-heading page-heading container">
		<h2>Enterprise and Developers Dashboard</h2>
	</section>

	<form class="container signin-form">
		<div class="form-item">
			<input ng-model="account.email" class="form-input expand" type="text" name="email" placeholder="Your Email Address" />
		</div>
		<div class="form-item">
			<input ng-model="account.password" class="form-input expand" type="text" name="password" placeholder="Your Password" />
		</div>

		<div class="forgot">
			<a ng-href="/reset">Forgot Password</a>
		</div>

		<section class="btn-container">
			<button ng-click="submit(account)" class="btn-virgil btn-transparent">SIGN IN</button>
		</section>
	</form>


	<section class="container signin-signup">
		<p>I'm not a registered user. <a ng-href="/signup">Sign up for free</a></p>
	</section>
</div>
