<public-header></public-header>

<div class="signin">
	<section class="signin-heading page-heading container">
		<h2>Virgil Developers Dashboard</h2>
	</section>

	<form class="container signin-form" ng-if="!isSignupCompleted">
		<div class="form-item">
			<input ng-model="account.email" class="form-input expand" type="text" name="email" placeholder="Your Email Address" />
		</div>

		<div class="form-item">
			<input ng-model="account.password" class="form-input expand" type="password" name="password" placeholder="Your Password" />
		</div>

		<div class="form-item">
			<input ng-model="account.company_name" class="form-input expand" type="text" name="company_name" placeholder="Company Name (optional)" />
		</div>

		<section class="btn-container">
			<button ng-click="submit(account)" class="btn-virgil btn-transparent">CREATE ACCOUNT</button>
		</section>
	</form>

	<section class="container check-email" ng-if="isSignupCompleted">
		Please check your email address for confirmation.
	</section>

	<section class="container signin-tos">
		By creating an account you agree to the Virgil Security<br/>
		<a target="_blank" ng-href="/term-of-service">Terms of Service</a> & <a target="_blank" ng-href="/privacy-policy">Privacy Policy</a>
	</section>

	<section class="container signin-signup">
		<p>Already have an account? <a ng-href="/signin">Sign in</a></p>
	</section>
</div>

<public-footer></public-footer>
