$vs-color-white: #fff;
$vs-color-lightGrey1: #f6f9fc;
$vs-color-lightGrey2: #666;
$vs-color-lightGrey3: #ebebeb;
$vs-color-lightGrey4: #a6a6a6;
$vs-color-grey: #333;
$vs-color-black: #000;

$vs-color-darkBlue1: #1c1f26;
$vs-color-darkBlue2: #20232b;

$vs-color-darkViolet: #251f26;

$vs-color-darkRed: #bb241d;
$vs-color-red: #da322c;
$vs-color-lightRed: #fff2f2;

// Socials
$vs-socials-facebook: #3b5998;
$vs-socials-github: #000;
$vs-socials-twitter: #1da1f2;
$vs-socials-in: #0077b5;
$vs-socials-medium: #00ab6c;