$vs-color-white: #fff;
$vs-color-lightGrey1: #f8fafd;
$vs-color-lightGrey2: #666;
$vs-color-lightGrey3: #ebebeb;
$vs-color-lightGrey4: #a6a6a6;
$vs-color-lightGrey5: #fbfbfb;
$vs-color-lightGrey6: #eeeef0;
$vs-color-lightGrey7: #f2f2f2;
$vs-color-lightGrey8: #edeff2;
$vs-color-grey: #333;
$vs-color-black: #000;

$vs-color-darkBlue1: #1c1f26;
$vs-color-darkBlue2: #20232b;
$vs-color-darkBlue3: #212737;
$vs-color-darkBlue4: #2b303b;
$vs-color-darkBlue5: #23232b;

$vs-color-darkViolet: #251f26;

$vs-color-darkRed1: #bb241d;
$vs-color-darkRed2: #9e3621;
$vs-color-darkRed3: #a62d1e;
$vs-color-red1: #da322c;
$vs-color-red2: #e02928;
$vs-color-lightRed1: #fff2f2;
$vs-color-lightRed2: #ffaaa6;
$vs-color-lightRed3: #ce6460;

// Socials
$vs-socials-facebook: #3b5998;
$vs-socials-github: #000;
$vs-socials-twitter: #1da1f2;
$vs-socials-in: #0077b5;
$vs-socials-medium: #00ab6c;